.text-center-lg {
    text-align: center;
    @media(max-width: $screen-sm){
        text-align: left;
    }
}

.clear {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.hide-small {
    @media (max-width: $screen-sm) {
        display: none;
    }
}

.color-red {
    color: $red !important;
}
.color-green {
    color: $green !important;
}
.color-blue {
    color: $blue !important;
}