/* _typography.scss is used for setting the base typography for the project */

html {
    font-size: 16px;
    color: $default-text;
}
body {
    font-family: "proxima-nova",sans-serif;
    color: $default-text;
    letter-spacing: 0.5px;
}

h2,h3,h4,h5,h6,p,li,figcaption,div,label {
    font-weight: 300;
}

.invert-text {
    h2,h3,h4,h5,h6,p,li,figcaption,div,label {
        color: #fff;
    }
}

h1 {
    font-size: 32px;
    margin: 25px 0;
}

.title-2 {
    font-size: 36px;
}

h2 {
    font-size: 48px;
    color: $blue-dark;
    margin: 20px 0 10px;
    &.pressTitle {
        text-align: center;
    }
}
h3 {
    font-size: 24px;
    line-height: 1.4;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
p, li, figcaption, label {
    font-size: 18px; 
}

p {
    margin: 20px 0 10px;
}

sup {
    font-size: 60%;
}

b {
    font-weight: 500;
}

a {
    color: $blue;
    transition: color 0.25s ease;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: darken($blue, 12%);
    }
    &:focus {
        text-decoration: none;
    }
}

@media (max-width: $screen-md){
    h1 {
        font-size: 26px;
        margin: 25px 0;
    }
    .title-2 {
        font-size: 32px;
    }
    h2 {
        font-size: 36px;
        color: $blue-dark;
        margin: 20px 0;
    }
    h3 {
        font-size: 20px;
        line-height: 1.4;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    p, li, figcaption, label {
        font-size: 16px;
    }
}

@media (max-width: $screen-sm){
    h1 {
        font-size: 24px;
        margin: 25px 0;
    }
    .title-2 {
        font-size: 24px;
    }
    h2 {
        font-size: 26px;
        color: $blue-dark;
        margin: 20px 0;
    }
    h3 {
        font-size: 18px;
        line-height: 1.4;
    }
    h4 {
        font-size: 14px;
    }
    h5 {
        font-size: 12px;
    }
    h6 {
        font-size: 10px;
    }
    p, li, figcaption, label {
        font-size: 16px;
    }
}