$btn-bg: $gray-lite;
$btn-text-color: $red;

.button {
  border: none;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  display: inline-block;
  min-width: 100px;
  padding: 7px 0;
  background: transparent;
  font-size: 16px;
  color: $red;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
  &::after,
  &::before {
    display: inline-block;
    content: '';
    background: $blue;
    width: 30px;
    height: 2px;
    position: absolute;
    transition: left 0.25s ease, right 0.25s ease;
  }
  &::before {
    top: -1px;
    left: 0;
  }
  &::after {
    bottom: -1px;
    right: 0;
  }
  &:visited {
    color: $btn-text-color;
  }
  &:focus {
    color: $btn-text-color;

  }
  &:active {
    color: $btn-text-color;
  }
  &:hover {
    color: $btn-text-color;
    &::before {
      left: calc(50% - 15px);
    }
    &::after {
      right: calc(50% - 15px);
    }
  }
}



