.button-container-left,
.button-container-right,
.button-container-center,
.button-container {
  display: block;
  margin: 40px 0;
  width: 100%;
  clear: both;
}
.button-container-left {
  text-align: left;
}
.button-container-right {
  text-align: right;
}
.button-container-center {
  text-align: center;
}