.play-button {
    border-radius: 50%;
    background: #fff;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 0 0 auto;
    position: relative;
    &::after {
        border-right: 14px solid $red;
        border-bottom: 14px solid $red;
        display: inline-block;
        width:  34px;
        height: 34px;
        content: '';
        position: absolute;
        right: 50%;
        top: 47%;
        transform: translate(50%, -50%) rotate(-45deg);
        transition: border-color 0.25s ease;
    }
    span {
        font-size: 10px;
        color: $red;
        position: absolute;
        bottom: 10px;
        right: 50%;
        transform: translateX(50%);
        transition: color 0.25s ease;
    }
    &:hover {
        &::after {
            border-color: $blue;
        }
        span {
            color: $blue;
        }
    }
}

@media (max-width: 1350px){
    .play-button {
      margin: 0 auto;  
    }
}