.home-template {
    .hero-placeholder {
        @media (min-width: 1024px) {
            animation: raiseNav 0.8s ease 1s forwards;
        }
    }
    .hero {
        .hero-overlay {
            background: #095773;
            opacity: 0.7;
            transition: opacity 1s ease;
        }
        .hero-content__article {
            opacity: 0;
            animation: fadeInContent 1s ease 1s forwards;
        }
    }
    .header {
        .header-logo {
            opacity: 1;
        }
        .header-bg {
            display: none;
        }
    }
}

@keyframes fadeInContent {
    from {opacity: 0;}
    to {opacity: 1;}
}