.hero {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-size:  cover !important;
    padding: 60px 0;
    height: 100vh;
    min-height: 650px;
    .hero-overlay {
        background: #fff;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.9;
        z-index: 0;
    }
    .hero-content {
        display: block;
        padding: 0 15px;
        text-align: left;
        color: $white;
        position: absolute;
        left: 15%;
        top: 30%;
        width: auto;
        will-change: transform;
        h1 {
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 1.4px;
            color: #fff;
            margin: 10px 0 15px;
            text-transform: uppercase;
            .color-red {
                font-size: 29px;
            }
        }
        h2 {
            font-size: 90px;
            font-weight: 400;
            line-height: 0.95;
            color: #fff;
            margin: 10px 0 30px;
        }
        p {
            font-size: 24px; 
            font-weight: 300;
            color: #fff;
            line-height: 1.5;
        }
        .button-container {
            margin: 20px 0;
        }
    }
    .banner-logo {
        display: none;
        width: 140px;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
    }
}
.hero-placeholder {
    height: 100vh;
    margin-bottom: 0;
    will-change: margin-bottom;
    min-height: 650px;
}

@keyframes raiseNav {
    from {margin-bottom: 0px;}
    to {margin-bottom: -85px;}
}

@media (max-width: 1601px){
    .hero {
        .hero-content {
            h1 {
                font-size: 25px;
                .color-red {
                    font-size: 26px;
                }
            }
            h2 {
                font-size: 80px;
            }
            p {
                font-size: 20px; 
            }
        }
        .left-banner-container {
            right: 56%;
        }
    }
}

@media (max-width: 1300px){
    .hero {
        .hero-content {
            h1 {
                font-size: 22px;
                .color-red {
                    font-size: 23px;
                }
            }
            h2 {
                font-size: 80px;
                margin: 10px 0 20px;
            }
        }
    }    
}


@media (max-width: 1024px){
    .hero {
        max-height: 600px;
        min-height: 500px;
        position: relative;
        text-align: right;
        .banner-logo {
            display: none;
        }
        .hero-content {
            display: inline-block;
            padding: 80px 15px 80px 0;
            z-index: 5;
            top: 55%;
            transform: translateY(-50%) !important; 
            h1 {
                font-size: 20px;
                .color-red {
                    font-size: 21px;
                }
            }
            h2 {
                font-size: 60px;
                margin: 10px 0 20px;
            }
            p {
                font-size: 18px; 
            }
        }
    }
    .hero-placeholder {
        height: auto;
        max-height: 600px;
        min-height: auto;
        margin-bottom: -50px;
        animation: none;
    }
}


@media (max-width: 650px){
    .hero-placeholder {
        max-height: 500px;
        .hero {
            max-height: 500px;
            .hero-content {
                position: static;
                top: initial;
                left: initial;
                bottom: initial;
                width: 100%;
                margin-top: 20px;
                padding: 40px 15px 40px;
                transform: initial !important;
                h1 {
                    font-size: 18px;
                    .color-red {
                        font-size: 19px;
                    }
                }
                h2 {
                    font-size: 40px;
                    margin: 10px 0 20px;
                }
                p {
                    font-size: 16px; 
                }
            } 
        }
    }
}