.listing-group {
    margin: 40px 0;
    &__item {
        @extend .clear;
        display: block;
        border-top: 1px solid $grey;
        padding: 0;
        font-size: 18px;
        &:only-of-type {
            border-bottom: 1px solid $grey;
        }
        &:last-of-type {
            border-bottom: 1px solid $grey;
        }
        > h3 {
            display: inline-block;
            padding: 8px 0;
            max-width: 70%;
            margin: 0;
            font-size: inherit;
            color: $default-text;
            text-align: left;
            float: left;
        }
        > span {
            display: inline-block;
            padding: 8px 0;
            max-width: 30%;
            font-size: inherit;
            color: $red;
            float: right;
            text-align: right;
            text-transform: uppercase;
        }
    }
    &.blue-line {
        position: relative;
        &::before {
            content: '';
            display: inine-block;
            width: 30px;
            height: 2px;
            background: $blue;
            position: absolute;
            bottom: -1px;
            right: 0;
            z-index: 2;
        }
        .listing-group__item {
            position: relative;
            &::before {
                content: '';
                display: inine-block;
                width: 30px;
                height: 2px;
                background: $blue;
                position: absolute;
                top: -1px;
                right: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .listing-group { 
        &__item {
            font-size: 14px;
            > h3 {
                display: block;
                max-width: 100%;     
            }           
            > span {
                display: block;
                max-width: 100%;
                width: 100%;
            }
        }
    }
}