.logo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    > a {
        display: inline-block;
        width: 20%;
        min-width: 120px;
        padding: 8px 15px;
        margin: 0 0 15px;
        &:nth-of-type(1),
        &:nth-of-type(2) {
            width: 50%;
        }
        img {
            display: block;
            max-width: 200px;
            margin: 0 auto;
        }
    }
}

.no-flexbox {
    .logo-container {
        display: block;
        &::after {
            display: 'block';
            content: '';
            clear: both;
        }
        > a {
            float: left;
        }
    }
}

@media (max-width: 450px){
    .logo-container {
        > a {
            width: 50% !important;
        }
    }
}