.main-modal {
    display: none;
    background: rgba(0,0,0,0.6);
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow: scroll;
    &.modal-active {
        display: block;
    }
    &.show-modal {
        opacity: 1;
    }
    &__container {
        max-width: 1000px;
        margin: 100px auto 0;
    }
    .main-modal-content {
        background: transparent;
        min-height: 500px;
        position: relative;
    }
    .close-modal {
        position: absolute;
        bottom: 100%;
        right: 0;
        color: #fff;
        font-size: 16px;
        padding: 8px;
        letter-spacing: 1.2px;
        cursor: pointer;
    }
}

.modal-view-container {
    position: relative;
}

.modal-view {
    display: none;
    padding: 0px;
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 0;
    right:50%;
    transform: translateX(50%);
    opacity: 0;
    transition: opacity 0.4s ease;
    p {
        color: #000;
    }
    &.view-active {
        display: block;
    }
    &.show-view {
        opacity: 1;
    }
}

@media (max-width: $screen-sm){
    .modal-view {
        display: none;
        max-width: 600px;
        margin: 0 auto;
        p {
            color: #000;
            font-size: 16px;
        }
        h3 {
            font-size: 18px;
        }
        &.view-active {
            display: block;
        }
        .g-recaptcha {
            transform: scale(0.75) translateX(67%);
        }
    }

    .modal-header {
        padding: 50px 15px;
        img {
            width: 200px;
        } 
    }    
}