.mb-popup {
    box-shadow: 0 0px 5px 0px #999; 
    display: inline-block;
    max-height: calc(100vh - 85px);
    max-width: 500px;
    background: #fff;
    position: fixed;
    bottom: -100vh; 
    z-index: 1000;
    will-change: bottom, transform;
    transition: bottom 0.25s ease, transform 0.3s ease;
    z-index: 1500;
    &.popup-left {
        transform: translate(-85%, 0);
        @media (max-width: 500px) {
            transform: translate(-83%, 0);
        }
        .popup-toggle {
            &::before {
                display: inline-block;
                transform: rotate(-45deg);
            }
        }
    }
    .popup-toggle {
        box-shadow: 1px -1px 2px 0px rgba(0,0,0,0.2); 
        border-radius: 0 20px 0 0;
        background: $red;
        margin: 0;
        padding: 8px 45px 8px 15px; 
        color: #fff;
        position: absolute;
        bottom: 100%;
        right: 0;
        left: 0;
        cursor: pointer;
        &::before {
            display: inline-block;
            content: '';
            width: 14px;
            height: 14px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            position: absolute;
            right: 25px;
            top: 18px;
            z-index: 5;
            transform: rotate(-135deg);
            @media (max-width: $screen-sm) {
                top: 14px;
            }
        }
    }
    &.active {
        transform: translate(0, -100%);
        .popup-toggle {
            &::after {
                right: -36px;
                transform: skewX(0deg);
            }
            &::before {
                display: inline-block;
                content: '';
                transform: rotate(45deg);
                @media (max-width: $screen-sm) {
                    top: 12px;
                }
            }
        }
    }
    article {
        padding: 15px 30px;
        overflow: scroll;
        height: 100%;
        max-height: calc(100vh - 85px);
        h2 {
            font-size: 25px;
        }
        h3 {
            font-size: 22px;
        }
        h4 {
            font-size: 16px;
        }
        
        li {
            font-size: 16px;
        }
        .button-container {
            margin: 20px 0;
        }
    }
}

@media (max-width: $screen-sm){
    .mb-popup {
        .popup-toggle {
            font-size: 14px;
            padding: 10px 50px 10px 15px;
        }
        article {
            padding: 15px;
            h2 {
                font-size: 18px;
            }
            h3 {
                font-size: 16px;
            }
            h4 {
                font-size: 12px;
            }
            p {
                font-size: 12px;
            }
            li {
                font-size: 12px;
            }
            .button-container {
                margin: 20px 0;
            }
        }
    }
}

@media (max-width: 600px){
    .mb-popup {
        max-width: 90%;
    }
}