.offset-icon-container {
    margin-top: -45px;
    margin-bottom: 0px;
    @media (min-width: 768px){
        .round-icon-container:nth-of-type(2) {
            .icon-dots {
                transition-delay: 0.2s;
            }
        }
        .round-icon-container:nth-of-type(3) {
            .icon-dots {
                transition-delay: 0.4s;
            }
        }
    }
}

.round-icon-container {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    h3 {
        font-size: 18px;
        color: $blue-dark;
        margin: 30px 0 20px;
    }
}