.video-block-container {
    margin-left: -10px;
    margin-right: -10px;
}
.video-block {
    display: inline-block;
    width: 25%;
    min-height: 370px;
    padding: 0 10px 40px;
    margin-bottom: 40px;
    float: left;
    position: relative;
    cursor: pointer;
    h3 {
        font-size: 16px;
        margin: 20px 0 10px;
        font-weight: 500;
    }
    p {
        font-size: 14px;
        margin: 10px 0;
    }
    .button-container {
        margin: 20px 0 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: $screen-sm){
    .video-block {
        min-height: 340px;
        h3 {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
    }
}

@media (max-width: 650px){
    .video-block {
        display: inline-block;
        width: 50%;
        min-height: 345px;
        &:nth-of-type(2n + 3){
            clear: both;
        }
    }
}

@media (max-width: 350px){
    .video-block {
        min-height: 325px;
    }
}