.video-wrapper2 {
    display: inline-block;
    background: rgba(0,0,0,0.65);
    width: 978px;
    height: auto;
    margin: 0;
    position: absolute;
    right: calc(50% - 489px);
    top: 0%;
    transform-origin: center center;
    @media (max-width: $lg-breakpoint) {
      transform: scale(0.8) translateY(-80px);
    }
    @media (max-width: 800px) {
      transform: scale(0.6) translateY(-240px);
    }
    @media (max-width: 600px) {
      transform: scale(0.4) translateY(-500px);
    }
    @media (max-width: 400px) {
      transform: scale(0.32) translateY(-740px);
    }
  }
  //for iframe modal
  .video-container2 {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 72.5%; 
    iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
  .video-placeholder {
      height: 710px;
      width: 300px;
      @media (max-width: $lg-breakpoint) {
        height: 580px;
      }
      @media (max-width: 800px) {
        height: 430px;
      }
      @media (max-width: 600px) {
        height: 310px;
      }
      @media (max-width: 400px) {
        height: 240px;
      }
  }

  .spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    right: calc(50% - 25px);
    animation: spins 0.5s linear infinite forwards;
    z-index: 0;
    &::after,
    &::before {
      content: '';
      background: #fff;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
    &::before {
      top: 0px;
    }
    &::after {
      bottom: 0px;
    }
  }

  @keyframes spins {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
  }