.modal-form {
    border-radius: 20px;
    background: #fff;
    padding: 60px 25px;
    &__container {
        max-width: 600px; 
        margin: 0 auto;
    }
    .form-control {
        color: $default-text;
    } 
} 

@media (max-width: $screen-sm){
    .modal-form {
        padding: 40px 25px;
    } 
}