.slide-select-ss {
    padding: 0;
    border-radius: 0px;
    border: none;
    width: auto;
}
.slide-select-selectors {
    border: 2px solid #ddd;
    padding: 0px;
    margin: 0px 0px 16px;
}
.slide-select-slides {
    h3 {
        display: none;
    }
}
.slide-selector {
    background: #eee;
    border-radius: 0px;
    border-right: 1px solid #ddd;
    cursor: pointer;
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 10px;
    position: relative;
    transition: 0.3s linear;
    float: left;
    &::after {
        bottom: -4px;
        content: '';
        display: block;
        height: 3px;
        left: -2px;
        position:absolute;
        width: calc(100% + 2px);
        opacity: 0;
        transition: opacity 0.25s ease, background 0.25s ease 0.25s;
    }
    @media (min-width: 1025px){
        &::after {
            background: $green;
        }
    }
    &:hover{
        @media (min-width: 1025px){
            color: #43c4e3;
            &::after {
               opacity: 1;
            }
        }
    }
    //make the border an :after element instead.
    &.active {
        color: #43c4e3;
    }
    &.active::after {
        background: #43c4e3;
        opacity: 1
    }
    &.not-available {
        background: #fff;
        cursor: default;
    }
    .selector-content {
        width: 100%;
        padding-top: 125%;
        position: relative;
        > span {
            display: block;
            position: absolute;
            top: 10px;
            right: 0;
            left: 0;
            font-size: 12px;
        }
    }
    img {
        display: inline-block;
        margin: 0;
        width: 65%;
        position: absolute;
        right: 50%;
        bottom: 20px;
        transform: translateX(50%);
    }
    
    &:last-child {
        border-color: transparent;
    }
    &:not(.not-available)::before{
        border-radius: 7.5px;
        background-color: #EB4051;
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        position: absolute;
        top: -7px;
        left: 47%;
     }
}

@media (max-width: 960px){
    .slide-select-ss {
        margin-left: -15px;
        margin-right: -15px;
    }
    .slice-select-mobile-display {
        .slide-select-slides {
            height: auto !important;
            & > div {
                display: none !important;
                opacity: 0 !important;
            }
            & > div.active {
              display: block !important;
              opacity: 1 !important;
            }
            h3 {
                display: block;
                margin-top: 0px;
            }
        }
        .slide-select-selectors {
            border: 1px solid #ddd;
            display: block;
            margin-top: 0px;
            .slide-selector {
                float: left;
                padding: 0px;
                width: 20%;
                .selector-content {
                    width: 100%;
                    padding-top: 100%;
                    position: relative;
                    > span {
                        display: none;
                    }
                    img {
                        
                    }
                }
                &:not(.not-available)::before{
                    content: '';
                    width: 5px;
                    height: 5px;
                    top: -4px;
                    left: 48%;
                 }
            }
            
        }
    }
}

@media (max-width: 600px){
   
    .slide-selector {
        .selector-content {
            img {
                bottom: 10px;
            }
        }
    }

}