.popup-modal {
    display: inline-block;
    border-radius: 20px;
    background: rgba(238, 61, 77,1);
    padding: 15px;
    position: fixed;
    height: 60px;
    width: 30px;
    top: 207px;
    right: 30px;
    overflow: hidden;
    z-index: 10000; 
    transition: 0.35s ease;
    opacity: 0;
    will-change: height, width, border-radius;
    cursor: pointer;
    &:hover {
        .full-screen-icon {
            transform: translate(50%, -50%) scale(1.1);
        }
    }
    &.modal-active {
        opacity: 1 !important;
        .popup-modal__container {
            display: block;
        }
    }
    &.show-modal {
        background: rgba(0,0,0,0.6);
        border-radius: 0;
        height: 100vh;
        width: 100%;
        top: 0;
        right: 0;
        overflow: scroll;
        cursor: initial;
        .popup-modal__container {
            opacity: 1;
        }
        .full-screen-icon {
            transition: opacity 0.25s ease 0.0s;
            opacity: 0;
        }
    }
    &__container {
        display: none;
        max-width: 700px;
        margin: 120px auto;
        opacity: 0;
        transition: 0.2s ease;
    }
    .popup-modal-content {
        background: #fff;
        border-radius: 20px;
        position: relative;
    } 
    .close-toggle {
        display: inline-block;
        padding: 8px;
        color: #fff;
        position: absolute;
        bottom: 100%;
        right: 0;
        cursor: pointer;
    }
    .modal-header {
        border-radius: 20px 20px 0 0;
        background: $red;
        margin: 0;
        padding: 15px 30px;
        font-size: 24px;
        color: #fff;
    }
    article {
        padding: 15px 30px;
        height: 100%;
        max-height: calc(100vh - 85px);
        .button-container {
            margin: 20px 0;
        }
    }
    .secondary-modal-header {
        background: $blue;
        margin: 0;
        padding: 15px 30px;
        font-size: 24px;
        color: #fff;
        &.rounded {
            border-radius: 20px 20px 0px 0px;
        }
    }
    .split-modal-content {
        border-radius: 0 0 20px 20px;
        background: $grey-bg;
        padding: 0 15px;
        overflow: hidden;
        > article {
            padding: 15px;
            // h2 {
            //     font-size: 18px;
            //     color: $blue;
            // }
            // h3 {
            //     font-size: 18px;
            // }
            // p {
            //     font-size: 16px;
            // }
        }
    }   
    .full-screen-icon {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}

@media (max-width: 1025px){
    .popup-modal {
        top: initial;
        bottom: 30px;
        right: 15px;
        &.show-modal {
            top: initial; 
            bottom: 0;
            right: 0;
        }
    }
}

@media (max-width: 650px){
    .popup-modal {
        .lg-br {
            display: none;
        }
        .modal-header,
        .secondary-modal-header { 
            padding: 15px 15px;
            font-size: 22px;
        }
        article {
            padding: 15px 15px;
        }
        article,
        .split-modal-content {
            li {
                font-size: 16px;
            }
        }
        .split-modal-content {
            padding: 0;
            > article {
                &:nth-of-type(even){
                    background: #fff;
                }
            }
        } 
    }
}