
$default-text: #49546A;

$white: #fff;
$red: #EE3D4D;
$blue: #43C4E3;
$blue-dark: #095773;
$green: #B3D349;
$grey: #D8D8D8;
$gray: $grey;
$grey-bg: #f7f7f7;
$gray-bg: $grey-bg;

$grey-lite: #b8b8b8;
$gray-lite: $grey-lite;