{% set title = 'Bioinformatics Scientist – Mission Bio Career Opportunity' %}
{% set description = 'We are seeking a highly motivated Bioinformatics Scientist to take a key role in design of highly multiplexed amplification panels and construction of next-generation sequencing data analysis workflows to support our single-cell genomics platform.' %}

{% extends "../layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                    <article class="content-container">
                        <h2>Bioinformatics Scientist</h2>
                        <p>We are seeking a highly motivated Bioinformatics Scientist to take a key role in design of highly multiplexed amplification panels and construction of next-generation sequencing data analysis workflows to support our single cell genomics platform. The successful candidate will work closely with the Engineering, Biology, and Marketing teams to define and develop tools and workflows that will enable identification of clinically relevant genomic variations.</p>
                        <h4><b>Job Duties</b></h4>
                        <ul>
                            <li>Develop tools and algorithm for amplicon design.</li>
                            <li>Design highly multiplexed amplification panels capable of interrogating genes and mutations.</li>
                            <li>Build and maintain automated NGS data analysis pipeline (i.e. read alignment, variant calling, and variant annotation) to support development and commercial needs. Assist in the data analysis and support of these projects.</li>
                            <li>Interrogate clinical databases to identify genes and variations associated with relevant clinical indications.</li>
                            <li>Provide written documentation and specifications of bioinformatic workflows and requirements.</li>
                            <li>Collaborate with internal project teams and with external organizations.</li>
                        </ul>
                        <h4><b>Experience</b></h3>
                        <ul>
                            <li>PhD or Masters in Bioinformatics, Computational biology, Genomics, or a related field.</li>
                            <li>3+ years industry experience highly preferred.</li>
                            <li>Experience with PCR primer design.</li>
                            <li>Experience with NGS data analysis and variant calling.</li>
                            <li>Proficiency in at least one programming language (Python, Perl, C++, …)</li>
                            <li>Proficiency in Linux environment.</li>
                            <li>Strong knowledge of Bioinformatics tools and databases (e.g. Bowtie, BWA, UCSC browser, RefSeq, Ensembl, dbSNP, DGV, dbVAR, ClinVar, TCGA, COSMIC, and ExACs)</li>
                            <li>Broad understanding of genomics, genetics, and sequencing technologies.</li>
                            <li>Experience with software production and source control tools (IDE, Git, Bitbucket, JIRA, etc.)</li>
                            <li>Experience with cloud computing, parallel computing, and big data preferred.</li>
                            <li>Experience in single-cell genomics is a plus.</li>
                            <li>Experience working with Molecular Biologists and Engineers on a multi-disciplinary development team.</li>
                            <li>Strong verbal and written communication skills.</li>
                        </ul>
                    </article>
               </div>
            </div>
         </div>
      </section>
      
   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}