{% set title = 'Scientist - Mission Bio Career Opportunity' %}
{% set description = 'We are looking for a highly motivated and qualified individual to help us achieve our goal of launching innovative new technologies for characterizing heterogeneous cell populations at the single-cell level.' %}

{% extends "../layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <article class="content-container">
                     <h2>Scientist I</h2> 
                     <p>We are looking for a highly motivated and qualified individual to help us achieve our goal of launching innovative new technologies for characterizing heterogeneous cell populations at the single-cell level. The successful candidate will develop targeted sequencing approaches to expand our single-cell sequencing approach to additional indications and sample types. The candidate will develop novel molecular biology protocols and reagents at the core of a new approach to single-cell genomics.</p>
                     <h4><b>Job Duties</b></h4> 
                     <ul>
                        <li>Enable application of single-cell genomics to additional clinical indications.</li>
                        <li>Optimize nucleic acid isolation from different types of clinical samples.</li>
                        <li>Develop novel barcoding strategies for different aspects of single-cell biology.</li>
                        <li>Research and demonstrate feasibility of new NGS library preparation methodologies.</li>
                        <li>Streamline user-facing protocols to reduce hands-on time and assay robustness.</li>
                        <li>Interface with outside vendors and internal manufacturing teams.</li>
                        <li>Contribute to technical discussions and collaborate with engineering and analytical groups.</li>
                     </ul>

                     <h4><b>Experience</b></h4>
                     <ul>
                        <li>PhD in molecular biology, biochemistry, genetics, or a related discipline.</li>
                        <li>>3-5 years i</span>ndustry experience required.</li>
                        <li>Extensive molecular biology experience is required. Examples include: nucleic acid isolation and QC, restriction digests, primer design, PCR, RT-PCR, and whole genome amplification.</li>
                        <li>Experience with different NGS library preparation methodologies a must.</li>
                        <li>Experience with multiplex PCR highly desired.</li>
                        <li>Ability to analyze and visualize NGS data considered a big plus.</li>
                        <li>Record of developing novel molecular biology and biochemistry protocols.</li>
                        <li>Strong ability to document experiments and troubleshoot protocols.</li>
                        <li>Demonstrated ability to work effectively and cooperatively in a team environment.</li>
                     </ul>
                  </article>
               </div>
            </div>
         </div>
      </section>
      
   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}