/*
 * Variables
 */

$color__blue: #43C4E3;
$color__red: #EE3D4D;
$color__green: #B3D349;
$color__charcoal: #6D6E70;
$color__greylight: #EFEFEF;
$color__green: #B3D349;
$color__text: #1b5672;
$color__textblue: #095773;
$color__bluedark: #095773;
$color__bluelight: #2e6d84;
$color__textgrey: #49546A;
$color__footerlink: #105771;

$font_family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

$box__shadow: 0px 5px 10px 0px rgba(0,0,0,0.33);
$box__shadow_hover : 0px 5px 30px 0px rgba(0,0,0,0.75);
$box__shadow_wide: 0px 0px 30px 0px rgba(0,0,0,0.33);
$box__shadow_wide_hover: 0px 0px 30px 0px rgba(0,0,0,0.75);

/*
 * Typography
 */

* {
    font-family: $font_family;
}

 body {
 	p {
		color: $color__text;
		font-family: $font_family;
		font-size: 18px;
		line-height: 1.25;
    }

	em {
		color: inherit;
		font-style: italic;
	}

	// headline
    h1, h2, h3, h4, h5, h6 {
		color: $color__text;
		font-family: $font_family;
		font-size: 28px;
		font-weight: 700;
		line-height: 1.2;
		list-style: 1.25;
    }

	// subhead
	h3, h4, h5, h6 {
		font-size: 22px;
		font-weight: 300;
    }

	// paragraph title
    p h2, h3, h4, h5, h6 {
		font-size: 24px;
		font-weight: 700;
		text-transform: none;
    }

    h1 {
        font-size: 48px;
        font-weight: 500;
    }

    h2 {
        font-size: 28px;
        font-weight: 700;
    }

    h3 {
        font-size: 22px;
        font-weight: 700;
    }

    h4 {
        color: $color__red;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }

    h5 {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }

	a,
	a:hover,
	a:focus,
	a:active {
		text-decoration: none;
	}

	ul {
		list-style: disc;

		li {
			font-family: $font_family;
			line-height: 1.2;
			margin-bottom: 20px;
		}
	}

	section {
		padding: 5%;
	}

	.tm-site.beans_site {
		// background-color: $color__blue;
	}

	.tm-main {
		position: static;
	    background-color: white;

		.tm-primary {
			@media (max-width: 550px) {
				margin-top: 0
			}
			background-color: white;
			margin-top: 100px;
		}
	}

	.tm-footer {
	    border-top: 0;
	}

	div.uk-modal-dialog {

        @media (min-width: 550px) {
            // margin-top: 160px;
        }

        padding: 0;
        position: relative;
        width: min-content;

		.uk-modal-close {
			color: black;
			max-width: 50px;
			position: absolute;
			right: 15px;
			top: 15px;

			svg .ios-close-svg{
				fill: black;
				max-width: 50px;
			}
		}

        div.team-member-modal {
            width: 90%;
        }

        div.gform_confirmation_message {
            min-width: 400px;
            padding: 15%;
        }

        .gform_wrapper {
            width: 500px;
            padding: 5%;
        }

	}

    .uk-modal.uk-open {
        opacity: 1;
        margin: 0;
    }

	span.red-highlight {
		color: $color__red;
	}

 }

 body.error404 p.uk-alert.uk-alert-warning {
     background-color: transparent;
     color: $color__textblue;
 }
