section.simple-page-header-hero {

	padding: 5%;

	h1 {
		margin-top: 0;
	}
}

section.left-right-page-header-hero {

	align-items: center;
	background-size: contain;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;

	&.content-hero {
		background-position-x: right;
		flex-direction: row-reverse;
	}

	& > div {
		@media (max-width: 650px) {
			min-height: auto;
			width: 100%;
		}
		min-height: 90vh;
		width: 50%;
	}

	div.hero-image {

		@media (max-width: 550px) {
			margin-top: 0;
			min-height: 40vh;
			padding: 0;
		}
		align-items: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		padding: 0;
		position: relative;

		img {
			@media (max-width: 650px) {
				left: 0;
			}
			left: -20px;
			position: relative;
		}

	}

	div.hero-content {
		@media (max-width: 650px) {
			padding: 10%;
			padding-top: 50px;
		}
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		padding: 5%;

		h1 {
			color: $color__text;
			font-size: 48px;
			font-weight: 500;
			margin-bottom: 10px;
		}

		h3 {
			font-size: 36px;
			font-weight: 500;
			margin-top: 0;
			text-transform: capitalize;
		}

		h5 {
			font-size: 24px;
			font-weight: 300;
			margin-top: 0;
			text-transform: none;
		}

		p {
			font-size: 18px;
			font-weight: 400;
		}


		div.button-container {
			@media (max-width: 650px) {
				text-align: center;
			}
			text-align: left;

		}
	}
}


body.transparent-header-nav {

	header.tm-header {
		@media (min-width: 550px) {
			background: transparent;
		}

		box-shadow: none;

		div.tm-site-branding img {
			@media (min-width: 550px) {
				filter: brightness(0) invert(1);
			}
		}

		div.uk-container.uk-container-center > nav {
			@media (min-width: 550px) {
				background: transparent;
			}

			div.tm-site-branding img {
				filter: brightness(0) invert(1);
			}

			& > ul > li.menu-item > a {
				color: white;
			}

			& > ul > li.menu-cta a {
				background: white;
				border-radius: 5px;
				color: $color__red;
				font-weight: lighter;
				height: 30px;
				padding: 0 35px;
				transition: background 0.5s ease, color 0.5s ease;
			}

			& > ul > li.menu-cta a:hover {
				background: $color__red;
				color: white;
				cursor: pointer;
			}
		}
	}

	.tm-primary {
		margin-top: 0;
	}

	section.homepage-transprent-hero {
		@media (max-width: 550px) {
			min-height: 50vh;
			padding-top: 10%;
		}

		background-size: cover;
		color: white;
		min-height: 400px;
		padding: 5%;
		padding-top: 200px;

		.hero-container {
			max-width: 785px;
		}

		&.right-content {
			display: flex;
			flex-direction: row-reverse;
		}

		h1, h2, h3, h4, h5, h6, p {
			color: white;
		}

		h1 {
			@media (max-width: 550px) {
				font-size: 35px;
			}
			color: white;
			font-size: 70px;
			font-weight: 300;
			letter-spacing: 1px;
		}

		h3 {
			@media (max-width: 550px) {
				font-size: 26px;
			}
			color: white;
			font-size: 28px;
			font-weight: 700;

			span.hero-highlight {
				font-style: italic;
				font-weight: 700;
			}
		}

		span.hero-highlight {
			color: $color__red;
			font-weight: 700;
		}

		.button-container {
			@media (max-width: 550px) {
				align-items: center;
				display: flex;
				flex-direction: column;
			}
			text-align: left;

			.button {
				@media (max-width: 550px) {
					margin: 10px;
					padding-top: 6px;
				}

				padding: 10px 45px 10px 25px;

				&.blue-button {
					@media (max-width: 550px) {
						margin-right: 10px;
					}

					margin-right: 40px;

					&:hover {
						background-color: $color__blue;
						color: white;
					}

					svg {
						margin-left: 15px;
						margin-top: -3px;
					}
				}

				&.white-button {
					color: $color__bluedark;
				}
			}
		}

		.uk-modal-close {
			max-width: 50px;

			svg .ios-close-svg {
				fill: $color__bluedark;
				max-width: 50px;
			}
		}
	}
}
