header.tm-header {
	@media (max-width: 550px) {
		// bottom: -3px;
		position: relative;
	}

	background: rgba(255,255,255,1);
	border-bottom: 0;
 	box-shadow:0px 3px 3px #bbb;
	left: 0;
	padding-top: 0;
	padding-bottom: 0;
	position: fixed;
	right: 0;
	z-index: 50;

	div#mbio-hello-bar {

		@media (max-width: 550px) {
			padding: 0 23px;
		}

		align-items: center;
		background-color: $color__red;
		color: white;
		display: flex;
		justify-content: space-between;
		// max-height: 45px;
		padding: 0 40px;

		//hide at first
		position: absolute;
    	left: -999999px;

		img {
			cursor: pointer;
			max-width: 50px;
		}

		a {
			color: white;
			// transition: font-size 0.5s ease;

			&:hover {
				color: white;
				// font-size: 15px;
			}
		}
	}

	div.uk-container.uk-container-center {

		margin: 0;
		max-width: 100%;
		padding: 0;
		position: relative;
		// right: -50px;

		& > nav {
			@media (max-width: 960px) {
				padding-bottom: 15px;
			}

			padding-top: 35px;
			padding-bottom: 0;

		}

		div.tm-site-branding {

			@media (max-width: 650px) {
				min-height: 70px;
			}

			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    min-height: 100px;
			margin-left: 5%;
			position: relative;

			a,
			span.tm-site-title-tag {
				position: absolute;
				left: -99999px;
				height: 1px;
			}

			a.header-site-logo {
				position: relative;
				left: 0;
				height: auto;
			}

			img {
				@media (max-width: 960px) {
					min-width: 200px;
				}

				min-width: 100px;
			}
		}

		& > nav {

			@media (max-width: 960px) {
				background-position-y: 80%;
				min-width: 25%;
			}

			@media (max-width: 650px) {
				padding: 20px;
			}

			// background-color: $color__blue;
			// background-image: url('/dist/images/nav-background.png');
			background-size: cover;
		    background-repeat: no-repeat;
		    background-position-y: 95%;
			border-radius: 25px 0 0 0;
			color: $color__charcoal;
			// transform: skew(-25deg);
			min-width: 70%;
			padding-left: 25px;
			padding-right: 25px;

			.uk-navbar-nav {

				display: flex;
				float: none;
				justify-content: center;

				& > li > a {
					background-color: transparent;
					color: $color__text;
					font-family: $font_family;
					font-size: 16px;
					font-weight: 500;
					line-height: 32px;
					letter-spacing: 1.2px;
					cursor: pointer;
					text-transform: uppercase;

					i.uk-icon-caret-down {
						font-size: 20px;
					}
				}

				& > li.uk-active > a, {
					background-color: transparent;
					color: $color__red;
				}

				& > li.menu-cta a {
					background: $color__blue;
					border-radius: 5px;
					color: white;
					font-size: 13px;
					font-weight: lighter;
					height: 30px;
					padding: 0 35px;
					transition: background 0.5s ease, color 0.5s ease;
				}

				& > li.menu-cta a:hover {
					background: $color__red;
					color: white;
					cursor: pointer;
					height: 30px;
				}

				& ul.sub-menu li {
					font-size: 16px;
					margin-bottom: 0;
					position: relative;
				}

				// & li.menu-item-has-children > a::after {
				// 	background-image: url('/dist/images/ios-close-empty.svg');
				// 	content: ' ';
				// }
			}

			// .sub-menu li span {
			// 	color: $color__red;
			// 	float: left;
			// 	position: relative;
			// 	width: 10px;
			// }

			.fa-circle {
				display: none;
			}

			div.uk-dropdown.uk-dropdown-navbar .sub-menu li a {
				color: $color__text;
				// position: relative;
				transition: all 0.5s ease;

				.fa-circle {
					display: block;
					position: absolute;
					left: 15px;
					top: 12px;
					font-size: 0;
					margin-top: 3px;
					opacity: 0;
					width: 0;
					transition: all 0.5s ease;
				}
			}

			div.uk-dropdown.uk-dropdown-navbar .sub-menu li a:hover,
			div.uk-dropdown.uk-dropdown-navbar .sub-menu li.current-menu-item a, {
				background-color: transparent;
				color: $color__red;
				margin-left: 15px;

				.fa-circle {
					display: block;
					color: $color__red;
					float: left;
					font-size: 8px;
					top: 6px;
					margin-right: 7px;
					opacity: 1;
					width: 10px;
				}
			}
		}
	}

	a.uk-button.uk-hidden-large {
		@media (max-width: 960px) {
			// transform: skew(25deg);

			background-color: transparent;
			color: $color__text;
			float: right;
			font-size: 25px;

			span.uk-icon-navicon {
				margin-right: 0 !important;

				svg {
					// max-width: 35px;
				}
			}
		}
	}

}

//Off canvas menu
div.uk-offcanvas-bar {

	background-color: white;

	nav ul.uk-nav-offcanvas {

		.uk-parent > a:after {
			font-family: "Font Awesome\ 5 Free", "FontAwesome", sans-serif;
			text-transform: none;
			display: none;
		}

		a {
			color: $color__text;
		}

		li.uk-active > a,
		.uk-open > a {
			background-color: $color__text;
			color: white;
		}

		.fa-circle:before {
			display: none;
		}

		ul.sub-menu {

			li {
				margin: 5px 0;
				padding: 15px 5px;
			}

			li.uk-active > a {
				background-color: white;
				color: $color__text;
			}

		}
	}
}


// Show the mobile menu at 1215px
@media (max-width: 1215px) and (min-width: 768px) {
	.uk-visible-large {
	    display: none !important;
	}
}

@media (max-width: 1215px) {
	header.tm-header a.uk-button.uk-hidden-large {
	    background-color: transparent;
	    color: #1b5672;
	    float: right;
	    font-size: 25px;
	}

	.uk-hidden-large {
		display: block !important;
	}
}

@media (min-width: 1215px) {
	.uk-hidden-large {
	    display: none !important;
	}
}

@media (max-width: 1215px) and (min-width: 960px) {
	nav.tm-primary-menu.uk-float-right.uk-navbar .uk-hidden-large {
	    display: block !important;
	}
}
