body.home.frontpage {
	section {
		padding: 10%;
	}

	header.tm-header {
		@media (min-width: 550px) {
			background: transparent;
		}

		box-shadow: none;

		div.tm-site-branding img {
			@media (min-width: 550px) {
				filter: brightness(0) invert(1);
			}
		}

		div.uk-container.uk-container-center > nav {
			@media (min-width: 550px) {
				background: transparent;
			}

			div.tm-site-branding img {
				filter: brightness(0) invert(1);
			}

			& > ul > li.menu-item > a {
				color: white;
			}

			& > ul > li.menu-cta a {
				background: white;
				border-radius: 5px;
				color: $color__red;
				font-weight: lighter;
				height: 30px;
				padding: 0 35px;
				transition: background 0.5s ease, color 0.5s ease;
			}

			& > ul > li.menu-cta a:hover {
				background: $color__red;
				color: white;
				cursor: pointer;
			}
		}
	}

	.tm-primary {
		margin-top: 0;
	}

	section#homepage-hero {
		@media (max-width: 550px) {
			min-height: 90vh;
			padding-top: 10%;
		}

		background-size: cover;
		color: white;
		min-height: 65vw;
		padding-top: 200px;

		.hero-container {
			max-width: 785px;
		}

		h1 {
			@media (max-width: 550px) {
				font-size: 35px;
			}
			color: white;
			font-size: 70px;
			font-weight: 300;
			letter-spacing: 1px;
		}

		h3 {
			@media (max-width: 550px) {
				font-size: 26px;
			}
			color: white;
			font-size: 28px;
			font-weight: 700;

			span.hero-highlight {
				font-style: italic;
				font-weight: 700;
			}
		}

		span.hero-highlight {
			color: $color__red;
			font-weight: 700;
		}

		.button-container {
			@media (max-width: 550px) {
				align-items: center;
				display: flex;
				flex-direction: column;
			}
			text-align: left;

			.button {
				@media (max-width: 550px) {
					margin: 10px;
					padding-top: 6px;
				}

				padding: 10px 45px 10px 25px;

				&.blue-button {
					@media (max-width: 550px) {
						margin-right: 10px;
					}

					margin-right: 40px;

					&:hover {
						background-color: $color__blue;
						color: white;
					}

					svg {
						margin-left: 15px;
						margin-top: -3px;
					}
				}

				&.white-button {
					color: $color__bluedark;
				}
			}
		}

		.uk-modal-close {
			max-width: 50px;

			svg .ios-close-svg {
				fill: $color__bluedark;
				max-width: 50px;
			}
		}
	}

	section#homepage-applications {
		background-color: white;
		padding: 10% 5%;
		text-align: center;

		h2 {
			color: $color__bluedark;
			font-size: 48px;
			font-weight: 500;
			margin-bottom: 40px;
		}

		.application-items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.application-item {
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 0 10px;
				min-width: 325px;
				padding: 20px 15px;
				transition: box-shadow 0.5s;

				div.image-holder {
					border: 3px solid white;
					border-radius: 100%;
					box-shadow: $box__shadow_wide;
					margin-bottom: 30px;
					max-height: 200px;
					max-width: 200px;
					overflow: hidden;
					transition: box-shadow 0.5s;
				}

				img {
					transform: scale(1.3);
				}

				p {
					font-size: 24px;
					text-transform: uppercase;
				}

				&:hover {
					box-shadow: $box__shadow_wide;

					div.image-holder {
						box-shadow: none;
					}
				}
			}
		}
	}

	section#homepage-missing {
		background-image: url('');
		background-position: center;
		background-size: cover;
		position: relative;
		text-align: center;

		h2 {
			color: white;
			font-size: 48px;
			font-weight: 500;
			margin-bottom: 40px;
		}

		h4 {
			color: white;
			font-size: 22px;
			font-weight: 400;
			margin: 0 auto 40px;
			max-width: 570px;
			text-transform: none;
		}

		p {
			color: white;
			font-size: 16px;
			font-weight: 400;
			margin: 0 auto 40px;
			max-width: 715px;
		}

		.button-container .button {
			padding: 10px 20px;
		}
	}

	section#homepage-tapestri {
		@media (max-width: 550px) {
			background-position: right;
			padding: 7% 5%;
		}

		padding: 7% 5% 5%;
		background-position: center;
		background-size: cover;
		min-height: 850px;

		div.tapestri-container {
			float: right;
			max-width: 460px;
			padding: 0;

			h2 {
				@media (max-width: 550px) {
					text-align: center;
				}
				color: $color__red;
				font-size: 55px;
				font-weight: 300;
				margin-bottom: 30px;
			}

			p {
				@media (max-width: 550px) {
					text-align: center;
				}
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 30px;
				text-transform: uppercase;
			}

			.button-container {
				@media (max-width: 550px) {
					align-items: center;
					display: flex;
					flex-direction: column;
				}
				text-align: left;

				.button {
					@media (max-width: 550px) {
						margin: 10px;
						padding-top: 6px;
					}

					padding: 10px 45px 10px 25px;

					&.red-button {
						@media (max-width: 550px) {
							margin-right: 10px;
						}

						margin-right: 40px;

						&:hover {
							background-color: $color__red;
							color: white;
						}

						svg {
							margin-left: 15px;
							margin-top: -3px;
						}
					}

					&.white-button {
						color: $color__red;
					}
				}
			}
		}
	}

	section#homepage-testimonials {
		@media (max-width: 650px) {
			padding: 0;
		}

		background-color: white;

		& > div.custom-navigation {
			@media (max-width: 650px) {
				grid-template-columns: 20px 89% 20px;
			}

			align-items: center;
			display: grid;
			grid-template-columns: 20px 100% 20px;
			grid-gap: 0;
			justify-content: center;

			.direction-buttons {
				// display: flex;
				// flex-direction: column;
				// justify-content: center;

				a.flex-prev svg path,
				a.flex-next svg path {
					stroke: $color__text;
				}
			}

			.flexslider {
				border: 0;
				margin: 0;
			}
		}


	}

	section#homepage-news-events {
		// background-image: url('/dist/images/homepage/newsroom.png');
		background-position: center;
		background-size: cover;
		position: relative;
		text-align: center;

		h2 {
			color: $color__bluedark;
			font-size: 48px;
			font-weight: 500;
			margin-bottom: 40px;
		}

		div.new-events-items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 50px;

			div.new-events-item {
				@media (min-width: 1220px) {
					width: 300px;
				}

				background-color: white;
				border-radius: 10px;
				box-shadow: $box__shadow;
				margin: 10px;
				min-height: 360px;
				width: 275px;
				padding: 20px;
				position: relative;
				transition: background-color 0.5s, color 0.5s;
				text-align: left;

				div.item-type {
					border-radius: 100%;
					color: white;
					display: flex;
					flex-direction: column;
					font-size: 20px;
					font-weight: 700;
					height: 110px;
					justify-content: center;
					margin: auto;
					padding: 20px;
					position: relative;
					text-align: center;
					text-transform: uppercase;
					transition: background-color 0.5s, color 0.5s;
					width: 110px;
				}

				&.event div.item-type {
					background-color: $color__bluedark;
				}

				&.press div.item-type {
					background-color: $color__red;
				}

				&.news div.item-type {
					background-color: $color__green;
				}

				&.blog div.item-type {
					background-color: $color__green;
				}

				h4.item-title {
					color: $color__bluedark;
					font-size: 21px;
					transition: background-color 0.5s, color 0.5s;
				}

				p.item-info {
					color: #1b5672;
					font-size: 18px;
					font-weight: 300;
					transition: background-color 0.5s, color 0.5s;
				}

				p.read-more {
					color: $color__blue;
					font-size: 18px;
					position: absolute;
					bottom: 20px;
					left: 20px;
					transition: background-color 0.5s, color 0.5s;

					svg {
						max-width: 15px;
						margin-bottom: 4px;
						font-weight: bold;

						path {
							fill: $color__blue;
							transition: fill 0.5s;
						}
					}
				}

				&:hover {
					&.event {
						background-color: $color__bluedark;

						div.item-type {
							color: $color__bluedark;
						}
					}

					&.press {
						background-color: $color__red;

						div.item-type {
							color: $color__red;
						}
					}

					&.news {
						background-color: $color__green;

						div.item-type {
							color: $color__green;
						}
					}

					&.blog {
						background-color: $color__green;

						div.item-type {
							color: $color__green;
						}
					}

					div.item-type {
						background-color: white;
					}

					h4.item-title,
					p.item-info,
					p.read-more {
						color: white;
					}

					p.read-more {
						svg {
							path {
								fill: white;
							}
						}
					}
				}
			}
		}

		.button-container .button {
			color: $color__bluedark;
			padding: 10px 40px;
		}
	}

	section#homepage-insights {
		background-color: white;
		padding: 5%;
		text-align: center;

		h2 {
			color: $color__bluedark;
			font-size: 40px;
			font-weight: 500;
			margin-bottom: 40px;
		}

		div.insights-items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			& > a {
				@media (max-width: 800px) {
					width: 80%;
				}
				width: 45%;
			}

			div.insights-item {
				@media (max-width: 550px) {
					flex-direction: column;
				}
				align-items: center;
				background-color: white;
				border-radius: 10px;
				box-shadow: $box__shadow_wide;
				display: flex;
				margin: 10px;
				max-width: 540px;
				min-height: 190px;
				padding: 20px;
				position: relative;
				text-align: left;
				transition: box-shadow .5s;

				&:hover {
					box-shadow: $box__shadow_wide_hover;
				}

				div.image-holder {
					@media (max-width: 550px) {
						text-align: center;
					}

					min-width: 150px;
				}

				div.content-holder {

					@media (max-width: 550px) {
						margin-top: 30px;
					}

					padding: 0 5%;

					h5 {
						font-size: 18px;
						font-weight: 400;
						font-weight: normal;
						margin-bottom: 0;
						text-transform: uppercase;
					}

					p {
						color: $color__bluedark;
						font-size: 16px;
						font-weight: 400;
					}
				}
			}
		}
	}
}
