body.page-template-page-applications {


	div.tm-primary {
		@media (max-width: 650px) {
			margin-top: 0;
		}
	}

	section > h2 {
		color: $color__red;
		font-size: 36px;
		font-weight: 500;
	}

	section#applications-hero {
		@media (min-width: 550px) {
			min-height: 500px;
		}
		align-items: center;
		background-size: contain;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;

		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
			}
			width: 50%;
		}

		div.hero-image {

			@media (max-width: 550px) {
				margin-top: 0;
				min-height: 40vh;
				padding: 0;
			}
			align-items: center;
			background-size: contain;
			display: flex;
			justify-content: center;
			padding: 0;
			position: relative;

			img {
				@media (max-width: 650px) {
					left: 0;
				}
				left: -20px;
				position: relative;
			}

		}

		div.hero-content {
			@media (max-width: 650px) {
				padding: 10%;
				padding-top: 50px;
			}
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			padding-right: 5%;

			h1 {
				color: $color__text;
				font-size: 48px;
				font-weight: 500;
				margin-bottom: 10px;
			}

			h3 {
				font-size: 36px;
				font-weight: 500;
				margin-top: 0;
				text-transform: capitalize;
			}

			h5 {
				font-size: 24px;
				font-weight: 300;
				margin-top: 0;
				text-transform: none;
			}

			p {
				font-size: 18px;
				font-weight: 400;
			}


			div.button-container {
				@media (max-width: 650px) {
					text-align: center;
				}
				text-align: left;

				// .button {
				// 	box-shadow: $box__shadow_wide;
				//
				// 	&:hover {
				// 		box-shadow: $box__shadow_wide_hover;
				// 	}
				// }
			}
		}
	}

	section#main-sticky-section {

		padding: 0;

		// stick stuff
		// padding-top: 4%;
		position: relative;
		width: 100%;
		*zoom: 1;

		&:before,
		&:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}
		//end sticky stuff

		div#full-width-sticky-menu {
			@media (max-width: 550px) {
				top: 0;
			}
			background-color: $color__bluedark;
			color: white;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;

			//sticky stuff
			position: -webkit-sticky;
			position: sticky;
			top: 50px;
			z-index: 10;
			//end sticky stuff


			& > div {
				font-size: 16px;
				font-weight: 500;
				margin: 30px 4%;
				text-align: center;
				text-transform: uppercase;
				width: 250px;

				&:hover {
					cursor: pointer;
				}
			}
		}

	}

	section#hematologic-malignancies,
	section#solid-tumor-profiling,
	section#genome-editing {

		@media (max-width: 550px) {
			flex-direction: column;
		}

		// align-items: center;
		// background-color: #efefef;
		background-position: left;
		background-size: contain;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		min-height: 450px;
		padding: 10%;

		div.left-content {
			@media (max-width: 550px) {
				width: 100%;
			}

			margin-right: 40px;
			width: 35%;

			h3 {
				color: $color__red;
				font-size: 24px;
				line-height: 1.5;
				text-transform: none;
			}

			p {
				@media (max-width: 550px) {
					background-color: rgba(255,255,255,0.7);
    				padding: 5%;
				}
				font-size: 18px;
			}
		}

		div.right-content {
			@media (max-width: 550px) {
				width: 100%;
			}

			width: 35%;

			h3 {
				color: $color__text;
				font-size: 18px;
			}

			ul.red-check-bullet-list {
				margin-bottom: 30px;

				li:first-of-type {
					margin-top: 0;
				}

				li:last-of-type {
					margin-bottom: 0;
				}
			}


		}


	}

	section#solid-tumor-profiling {
		background-color: #efefef;
		background-position: right;
		justify-content: flex-start;
		padding: 5% 10%;
	}

	section#genome-editing {
		padding: 5% 10%;
	}

}
