body.page-template-page-fixed-panel {

	div.tm-primary {
		@media (max-width: 650px) {
			margin-top: 0;
		}
	}

	section > h2 {
		color: $color__red;
		font-size: 36px;
		font-weight: 500;
	}

	section#fixed-panel-hero {
		align-items: center;
		background-size: contain;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;

		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
			}
			min-height: 90vh;
			width: 50%;
		}

		div.hero-image {

			@media (max-width: 550px) {
				margin-top: 0;
				min-height: 40vh;
				padding: 0;
			}
			align-items: center;
			background-size: contain;
			display: flex;
			justify-content: center;
			padding: 0;
			position: relative;

			img {
				@media (max-width: 650px) {
					left: 0;
				}
				left: -20px;
				position: relative;
			}

		}

		div.hero-content {
			@media (max-width: 650px) {
				padding: 10%;
				padding-top: 50px;
			}
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			padding-right: 5%;

			h1 {
				color: $color__text;
				font-size: 48px;
				font-weight: 500;
				margin-bottom: 10px;
			}

			h3 {
				font-size: 36px;
				font-weight: 500;
				margin-top: 0;
				text-transform: capitalize;
			}

			h5 {
				font-size: 24px;
				font-weight: 300;
				margin-top: 0;
				text-transform: none;
			}

			p {
				font-size: 18px;
				font-weight: 400;
			}


			div.button-container {
				@media (max-width: 650px) {
					text-align: center;
				}
				text-align: left;

			}
		}
	}

	section#main-sticky-section {
		@media (max-width: 550px) {
			top: 0;
		}

		padding: 0;

		// stick stuff
		// padding-top: 4%;
		position: relative;
		width: 100%;
		*zoom: 1;

		&:before,
		&:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}
		//end sticky stuff

		div#full-width-sticky-menu {
			background-color: $color__bluedark;
			color: white;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;

			//sticky stuff
			position: -webkit-sticky;
			position: sticky;
			top: 50px;
			z-index: 10;
			//end sticky stuff


			& > div {
				font-size: 16px;
				font-weight: 500;
				margin: 30px 4%;
				text-align: center;
				text-transform: uppercase;
				width: 250px;

				&:hover {
					cursor: pointer;
				}
			}
		}

	}

	section#sub-hero-content {
		padding-bottom: 0;
	}

	section#hematologic-malignancies,
	section#solid-tumor-profiling,
	section#panel-performance {

		background-size: cover;

		h2 {
			font-size: 36px;
			font-weight: 500;
			margin-bottom: 60px;
			text-align: center;
		}

		div.fixed-panel-content-container {
			@media (max-width: 550px) {
				flex-direction: column;
			}

			// background-color: #efefef;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			// padding: 10% 5%;

			div.left-content {
				@media (max-width: 550px) {
					width: 100%;
				}
				width: 45%;

				h3 {
					font-size: 24px;
					line-height: 1.5;
					text-transform: none;
				}

				p {
					font-size: 18px;
				}

				.red-bullet-list-box {
					box-shadow: none;
					padding: 0;
				}
			}

			div.right-content {
				@media (max-width: 550px) {
					width: 100%;
				}

				width: 45%;

				h3 {
					font-size: 18px;
				}

				ul.red-check-bullet-list {
					margin-bottom: 30px;

					li:first-of-type {
						margin-top: 0;
					}

					li:last-of-type {
						margin-bottom: 0;
					}
				}

				.button-container {
					margin-bottom: 40px;
				}
			}

			.center-content {
				text-align: center;
				width: 100%;
			}

		}

		div.testimonial-item {
			margin: 10% auto;
			max-width: 100%;
		}

	}

	section#solid-tumor-profiling {

		.red-bullet-list-box {
			background-color: #efefef;
		}

		.right-content {
			border-radius: 5px;
			box-shadow: $box__shadow;
			background-color: #efefef;
			padding: 10px;
		}
	}
}
