main.tm-main {

	// background-color: $color__blue;
	padding: 0;

	& > div.uk-container {
		max-width: 100%;
		padding: 0;
	}

	article.uk-article {
		// border-radius: 0 30px 0 0;
		padding: 5% 10%;

		header.beans_post_header {
			text-align: center;
			margin-bottom: 50px;

			h1 {
				color: $color__textblue;
				font-size: 48px;
				font-weight: lighter;
				letter-spacing: 1px;
				line-height: 1.25;
			}
		}

		div.beans_post_body p {
			font-size: 18px;
			font-weight: 300;
			letter-spacing: 1px;
			margin-bottom: 30px;
		}
	}
}
