body.page-template-page-panel {

	div.tm-primary {
		@media (max-width: 650px) {
			margin-top: 0;
		}
	}

	section#panel-hero {

		@media (max-width: 650px) {
			min-height: auto;
		}

		align-items: center;
		background-size: contain;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		min-height: 90vh;


		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
			}
			width: 80%;
		}

		h1 {
			text-align: center;
		}

		div.hero-content-container {

			& > div {
				@media (max-width: 650px) {
					min-height: auto;
					width: 100%;
				}
				width: 50%;
			}

			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-top: 5%;

			div.hero-image {

				@media (max-width: 550px) {
					margin-top: 0;
					// min-height: 40vh;
					padding: 0;
					width: 0;
				}

				background-size: contain;
				max-height: 640px;
				padding: 0;
				position: relative;

				img {
					@media (max-width: 650px) {
						left: 0;
					}
					left: -20px;
					position: relative;
				}

			}

			div.hero-content {

				@media (max-width: 650px) {
					padding: 10%;
					padding-top: 50px;
				}
				display: block;
				padding: 5%;

				h1 {
					color: $color__text;
					font-size: 48px;
					font-weight: 500;
				}

				h3 {
					font-size: 36px;
					font-weight: 500;
					text-transform: capitalize;
				}

				p {
					font-size: 24px;
					font-weight: 300;
				}


				div.button-container {
					@media (max-width: 650px) {
						text-align: center;
					}
					text-align: left;

					// .button {
					// 	box-shadow: $box__shadow_wide;
					//
					// 	&:hover {
					// 		box-shadow: $box__shadow_wide_hover;
					// 	}
					// }
				}
			}
		}


	}

	section#panel-content {
		@media (max-width: 550px) {
			flex-direction: column;
		}
		background-color: #efefef;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 10% 5%;

		div.left-content {
			@media (max-width: 550px) {
				width: 100%;
			}
			width: 45%;

			h3 {
				font-size: 24px;
				line-height: 1.5;
				text-transform: none;
			}

			p {
				font-size: 18px;
			}
		}

		div.right-content {
			@media (max-width: 550px) {
				width: 100%;
			}

			width: 35%;

			ul.red-check-bullet-list {
				margin-bottom: 0;

				li:first-of-type {
					margin-top: 0;
				}

				li:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}
