body.aboutpage.aboutpage-template {

	div.about-container {
		max-width: 800px;
		margin: auto;
	}

	section#about-hero {
		align-items: center;
		background-size: contain;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		max-height: 640px;


		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
			}
			min-height: 90vh;
			width: 50%;
		}

		div.hero-image {

			@media (max-width: 550px) {
				margin-top: 0;
				min-height: 40vh;
				padding: 0;
			}
			// align-items: center;
			background-size: contain;
			// display: flex;
			// justify-content: center;
			max-height: 640px;
			padding: 0;
			position: relative;

			img {
				@media (max-width: 650px) {
					left: 0;
				}
				left: -20px;
				position: relative;
			}

		}

		div.hero-content {
			@media (max-width: 650px) {
				padding: 10%;
				padding-top: 50px;
			}
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			padding-right: 5%;

			h1 {
				color: $color__text;
				font-size: 48px;
				font-weight: 500;
			}

			h3 {
				font-size: 36px;
				font-weight: 500;
				text-transform: capitalize;
			}

			p {
				font-size: 24px;
				font-weight: 300;
			}


			div.button-container {
				@media (max-width: 650px) {
					text-align: center;
				}
				text-align: left;

				// .button {
				// 	box-shadow: $box__shadow_wide;
				//
				// 	&:hover {
				// 		box-shadow: $box__shadow_wide_hover;
				// 	}
				// }
			}
		}
	}

	section#about-info-video {

		@media (max-width: 800px) {
			background-position: center center;
		}

		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center right;

		div.about-container {

			@media (max-width: 800px) {
				display: block;
			}

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			div.about-info {
				max-width: 460px;

				div.button-container {
					margin-top: 50px;
					text-align: left;
				}
			}

			div.about-video {

				@media (max-width: 800px) {
					margin-top: 50px;
				}

				display: flex;
				flex-direction: column;
				justify-content: center;

				div.play-button-container {

					span {
						text-transform: uppercase;
						font-size: 8px;
					}

					span.dashicons {
						font-size: 55px;
						font-weight: 700;
					    height: 50px;
					    padding: 5px 0 0 5px;
						width: 60px;
					}
				}
			}
		}

	}


	section#about-news-events,
	section#about-career-forward {
		@media (max-width: 600px) {
			padding: 10%;
		}

		background-color: white;
		text-align: center;

		h2 {
			font-size: 25px;
			color: $color__blue;
			letter-spacing: 3.5px;
			text-transform: uppercase;
		}

		p {
			margin: 25px auto;
		}

		div.button-container {
		    display: flex;
		    justify-content: center;
			width: 100%;

			& > div {
				margin: auto;
			}
		}
	}

	section#about-current-investors {
		background-color: white;
		overflow: hidden;
		padding: 0;

		div.skew-container {

			@media (max-width: 600px) {
				border-radius: 0 30px 0 0;
				transform: skew(0deg);
				left: 0;
				padding-bottom: 50px;
				padding-left: 0;
				padding-right: 0;
			}

			background-color: $color__red;
			border-radius: 0 20px 20px 0;
			color: white;
			transform: skew(20deg);
			min-width: 70%;
			padding-left: 25px;
			padding-right: 25px;
			position: relative;
			left: -60px;

			div.about-container {
				@media (max-width: 600px) {
					margin-left: 0;
					padding: 0;
					transform: skew(0deg);
					text-align: center;
				}

				padding: 5% 0;
			    padding-left: 10%;
				transform: skew(-20deg);
				margin-left: 8%;
				max-width: 100%;

				h2 {
					@media (max-width: 600px) {
						margin-left: 0;
						padding: 10% 10% 0;
					}
					color: $color__bluedark;
					font-size: 36;
					font-weight: 700;
					letter-spacing: 5px;
					margin-left: 70px;
					text-transform: uppercase;
				}

				p {
					@media (max-width: 600px) {
						margin-left: 0;
					    padding: 0 10%;
					}
					margin-bottom: 50px;
					margin-left: 70px;
					color: white;
				}

				div.custom-navigation {

					@media (max-width: 550px) {
						padding: 0 5%;
					}
					align-items: center;
					display: flex;
					justify-content: space-around;
					position: relative;

					.flexslider.carousel {
						background: transparent;
						border: 0;
						min-height: 100px;
						max-width: 870px;
						min-width: 200px;
						margin: 0;
						width: 100%;

						.slides {
							height: 100px;
						    display: flex;
						    align-items: center;
						}
					}

					.flex-control-nav.flex-control-paging {
						display: none;
					}

					li {
						text-align: center;
						// max-height: 60px;
						max-width: 190px;
						margin: 0 10px;

						img {
							margin: auto;
							max-height: 60px;
							width: auto;
						}
					}
				}
			}
		}


	}


}
