body.teampage.teampage-template {

	section#team-hero {
		background-size: cover;
		// border-radius: 0 50px 0 0;
		text-align: center;

		h1 {
			color: $color__blue;
			font-size: 48px;
			font-weight: 500;
			letter-spacing: 1px;
		}

		p {
			color: white;
			font-size: 24px;
			font-weight: 400;
			letter-spacing: 1px;
			margin: 0;
		}
	}

	section#team-people {

		@media (max-width: 700px) {
			text-align: center;
		}

		background-color: #F7F7F7;

		h2 {
			color: $color__bluedark;
			letter-spacing: 5px;
			margin: 0 auto 20px;
			max-width: 920px;
			text-transform: uppercase;
		}

		div.team-container {

			@media (max-width: 1050px) {
				grid-template-columns: 250px 250px 250px;
			}

			@media (max-width: 900px) {
				grid-template-columns: 300px 300px;
			}

			@media (max-width: 700px) {
				grid-template-columns: 100%;
			}


			display: grid;
			grid-template-columns: 300px 300px 300px;
			grid-gap: 2%;
			margin: 0 auto 50px;
			max-width: 920px;

			div.team-member {


				div.image-container {

					@media (max-width: 1050px) {
						height: 250px;
						width: 250px;
					}

					@media (max-width: 900px) {
						height: 300px;
						width: 300px;
					}

					@media (max-width: 700px) {
						margin: 0 auto 20px;
					}

					height: 300px;
					margin-bottom: 20px;
					width: 300px;

					img {
						height: 100%;
					}

				}

				h4 {
					color: $color__blue;
					font-size: 24px;
					letter-spacing: .75px;
					text-transform: none;

					&:hover {
						color: $color__red;
					}
				}

				p {
					color: $color__bluedark;
					font-size: 18px;
				}

				.fa-linkedin-in {
					color: $color__blue;

					&:hover {
						color: $color__red;
					}
				}



			}
		}

	}

	div.uk-modal-dialog {
		padding: 5%;
		width: 90%;

		div.team-member-modal {

			text-align: left;
			width: 90%;

			h4 {
				color: $color__text;
			}

			div.image-container {
				@media (max-width: 650px) {
					float: none;
					text-align: center;
				}
				float: left;
				margin-right: 20px;
			}

		}
	}

	// HIDING FOR NOW
	div#team-board {
		div.team-member {
			margin-bottom: 40px;
		}
		div.team-member > a:first-of-type {
			display: none;
		}
	}

}
