body.careerspage.careerspage-template {

	section#careers-main {
		// border-radius: 0 50px 0 0;
    	background-color: white;
		padding: 0 5%;
		position: relative;
		text-align: center;

		h1 {
			color: $color__bluedark;
			font-size: 48px;
			font-weight: 300;
			letter-spacing: 1px;
			margin-bottom: 50px;

			span {
				color: $color__red;
			}
		}

		p {
			color: $color__bluedark;
			font-size: 24px;
			letter-spacing: 1px;
			margin: 0 auto 50px;
			max-width: 735px;
		}


		div.careers-job-listings {
			margin: 0 auto;
			// max-width: 800px;

			div.job-listing {

				@media (max-width: 550px) {
					flex-direction: column;
				}

				border-bottom: 1px solid #ccc;
				color: #6C6E70;
				display: flex;
				font-size: 18px;
				justify-content: space-between;
				padding: 20px 5px;

				&:hover,
				&:hover span.learn-more {
					background: $color__red;
					color: white;
				}


				span.learn-more {
					@media (max-width: 550px) {
						margin-top: 20px;
					}

					color: $color__red;
					font-weight: 500;
					text-transform: uppercase;
				}

				&.listing-1 {
					border-top: 1px solid #ccc;
				}
			}



		}

		div.benefits-container {

			@media (max-width: 800px) {
				justify-content: center;
				bottom: -180px;
			}

			@media (max-width: 550px) {
				align-items: center;
				flex-direction: column;
			}

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: auto;
			max-width: 799px;
			position: relative;
			bottom: -170px;
			margin-top: -100px;
			z-index: 10;

			div.benefit {
				max-width: 200px;
				text-align: center;

				img {
					margin-bottom: 30px;
				}

				p {
					font-size: 18px;
					font-weight: 400;
				}

			}
		}
	}

	section#careers-benefits {
		background-size: cover;
		min-height: 220px;
		padding: 0;
		position: relative;
	}



}

body.single-careers {

	h4 {
		color: $color__blue;
		font-size: 22px;
		text-transform: capitalize;
	}

	.career-apply-now-section {
		display: flex;
		justify-content: center;
	}
}
