body.page-template-page-press {

	section#press-sorter {
		background-color: white;
		padding: 0 5% 5%;

		div.press-tabs {
			margin: 20px auto;
			// max-width: 800px;

			ul {
				@media (max-width: 550px) {
					display: flex;
					flex-direction: column;
				}

				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				list-style: none;
				margin-bottom: 50px;
				padding: 0;

				li {
					@media (max-width: 800px) {
						margin-bottom: 10px;
					}
					color: $color__blue;
					font-size: 16px;
					font-weight: 500;
					letter-spacing: 1.25px;
					padding-right: 40px;
					text-transform: uppercase;

					&:hover,
					&:active,
					&.is-checked {
						color: $color__red;
						cursor: pointer;
					}

					&::before {
						background: $color__blue;
						content: '';
						display: block;
						height: 2px;
						margin-bottom: 10px;
						max-width: 110px;
						transition: width .5s;
						width: 40px;
					}

					&:hover::before,
					&:active::before,
					&.is-checked::before {
						background: $color__red;
					}


				}
			}
		}

		div.press-items {
			margin: 0 auto;
			// max-width: 800px;
			min-height: 400px;

			div.press-item {

				@media (max-width: 800px) {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
				}

				align-items: center;
				border-bottom: 1px solid #ccc;
				color: #6C6E70;
				display: grid;
				font-family: $font_family;
				grid-template-columns: 50px 1fr 110px;
				grid-gap: 10px;
				font-size: 18px;
				padding: 20px 5px;
				min-width: 100%;

				&:hover,
				&:hover span.item-type,
				&:hover span.item-read-more {
					background: $color__red;
					color: white
				}

				&:hover svg path {
					stroke: white;
				}

				&.item-1 {
					border-top: 1px solid #ccc;
				}

				span.item-icon {
					@media (max-width: 800px) {
						margin: 0 0 10px;
					    width: 32px;
					}
					margin-right: 20px;
				}

				span.item-type {
					@media (max-width: 800px) {
						margin: 0 0 10px;
					}

					color: $color__bluedark;
					font-weight: 700;
					letter-spacing: 1px;
				}

				span.item-title {
					letter-spacing: 1px;
				}

				span.item-read-more {
					@media (max-width: 800px) {
						float: none;
						margin-top: 20px;
					}

					color: $color__red;
					float: right;
					font-weight: 500;
					text-transform: uppercase;
				}
			}


		}
	}



}

body.single-press {

	h4 {
		color: $color__blue;
		font-size: 22px;
		text-transform: capitalize;
	}
}
