body.page-template-page-resources {

	section#resources-intro {
		padding: 5% 10% 0;

		h1 {
			color: $color__text;
			font-size: 48px;
			font-weight: 500;
		}
	}

	section#resources-main {
		padding: 0 5% 5%;
		position: relative;
		width: 100%;
		*zoom: 1;

		&:before,
		&:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}

		& > div {
			@media (max-width: 700px) {
				float: none;
			}
			float: left;
		}

		div#resources-sidebar {
			@media (max-width: 700px) {
				// float: none;
				// top: 0;
				// width: 100%;
				// z-index: 10;
				display: none;
			}

			background-color: $color__bluedark;
			border-radius: 5px;
			color: #fff;
			padding: 20px;
			position: -webkit-sticky;
			position: sticky;
			top: 190px;
			width: 225px;

			ul {
				@media (max-width: 700px) {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}
				list-style: none;
				margin: 0;
				padding: 0;


				li {
					@media (max-width: 700px) {
						border-bottom: 0;
						border-right: 1px solid white;
					}
					border-bottom: 1px solid white;
					color: white;
					font-size: 18px;
					margin-bottom: 0;
					padding: 10px 5px;

					&:last-of-type {
						@media (max-width: 700px) {
							border-right: 0;
						}
						border-bottom: 0;
					}

					&:hover {
						background-color: $color__blue;
						cursor: pointer;
					}


				}

			}
		}

		div#resources-content {
			@media (max-width: 700px) {
				padding-left: 0;
				width: 100%;
			}
			padding-left: 5%;
			width: calc( 100% - 225px );

			& > div {
				margin-bottom: 125px;
			}

			h2 {
				color: $color__blue;
				font-size: 24px;
				text-transform: uppercase;
			}

			p.item-cta {
				color: $color__blue;
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 0;
				text-transform: uppercase;

				svg {
					max-width: 15px;
					margin-bottom: 4px;
					font-weight: bold;

					path {
						fill: $color__blue;
						transition: fill 0.5s;
					}
				}
			}

			div.resource-items {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax( 225px, 1fr));
				grid-gap: 2vw;
				// justify-items: center;
				// justify-content: center;

				div.resource-item {
					@media (max-width: 550px) {
						margin-bottom: 30px;
						max-width: 300px;
					}
					border-radius: 5px;
					box-shadow: $box__shadow;
					margin-bottom: 4vw;
					max-width: 250px;
					min-height: 300px;
					position: relative;
					transition: box-shadow 0.5s;

					&:hover {
						box-shadow: $box__shadow_hover;
					}

					img {
						border-radius: 5px 5px 0 0;
					}

					div.item-content {
						padding: 10% 5% 5%;
					}

					h4 {
						color: $color__text;
						font-size: 18px;
					}

					p.item-excerpt {
						color: #49546a;
						font-size: 16px;
						font-weight: 300;
					}
				}
			}

			div#data-sets {

				div.button-container {
					padding: 15px 0;
					margin-bottom: 30px;
					text-align: left;

					a.button {
						font-size: 18px;
						font-weight: 300;
						padding: 10px 20px;
					}
				}


			}


			/*FOR NOW, HIDE THESE SECTIONS*/
			div#user-guides {
				display: none !important;
			}
		}

	}

}
