body.page-template-page-instrument {

	section#instrument-hero {
		align-items: center;
		background-size: contain;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;

		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
			}
			min-height: 90vh;
			width: 50%;
		}

		div.hero-image {

			@media (max-width: 550px) {
				margin-top: 21%;
				min-height: 40vh;
				padding: 10% 5% 5%;
			}
			align-items: center;
			background-size: contain;
			display: flex;
			justify-content: center;
			padding: 5%;
			position: relative;

			img {
				@media (max-width: 650px) {
					left: 0;
				}
				left: -20px;
				position: relative;
			}

		}

		div.hero-content {
			@media (max-width: 650px) {
				padding: 10%;
				padding-top: 50px;
			}
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			padding-right: 10%;

			h1 {
				color: $color__text;
				font-size: 48px;
				font-weight: 500;
			}

			p {
				font-size: 24px;
				font-weight: 300;
			}


			div.button-container {
				@media (max-width: 650px) {
					text-align: center;
				}
				text-align: left;

				// .button {
				// 	box-shadow: $box__shadow_wide;
				//
				// 	&:hover {
				// 		box-shadow: $box__shadow_wide_hover;
				// 	}
				// }
			}
		}
	}

	section#instrument-content {
		background-color: #efefef;

		h2 {
			font-size: 24px;
		}

		p {
			font-weight: 300;
		}
	}
}
