body.page-template-page-software {

	section#software-hero {

		align-items: center;
		background-size: contain;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;

		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
			}
			background-size: contain;
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 80vh;
			padding: 5%;
			position: relative;
			width: 50%;
		}

		div.hero-left-content {

			@media (max-width: 550px) {
				// margin-top: 21%;
				// min-height: 40vh;
				// padding: 10% 5% 5%;
			}

			h3 {
				font-size: 36px;
				font-weight: 500;
				margin: 0;
				text-transform: capitalize;
			}



		}

		div.hero-right-content {

			ul.red-check-bullet-list li {
				margin: 30px 0;
			}

		}
	}

	section#how-it-works {
		background-color: #efefef;
		padding: 10% 5%;
		text-align: center;

		h2 {
			font-size: 36px;
		}

		div.how-it-works-items {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 5%;

			div.how-it-works-item {

				h5 {
					color: $color__red;
					font-size: 18px;
				}
			}
		}

		.button-container {
			display: flex;
			justify-content: center;
		}

	}

	section#download-software {
		@media( max-width: 1005px ) {
			background-size: cover;
		}
		background-size: contain;
		padding: 10% 5%;
		text-align: center;

		div.download-software-items {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 5%;

			& > div {
				@media( min-width: 1300px ) {
					max-width: 500px;
				}

				@media( max-width: 1300px ) {
					max-width: 500px;
				}

				@media( max-width: 1250px ) {
					max-width: 400px;
				}

				@media( max-width: 1005px ) {
					margin: 20px auto;
				}

			}

			div.download-software-item {
				background-color: white;
				border-radius: 10px;
				box-shadow: $box__shadow;
				padding: 3%;

				h3 {
					color: $color__bluelight;
					font-size: 24px;
					text-transform: none;
				}

				.button-container {
					display: flex;
					justify-content: center;

					& > div {
						float: none;
						margin: 20px 0 30px;
						min-height: 40px;
					}
				}

				.red-bullet-list-box {
					box-shadow: none;
					text-align: left;
					padding: 0 10%;
				}
			}
		}
	}

	section#download-datasets {
		background-color: #efefef;
		padding: 10%;

		h2 {
			font-size: 36px;
			margin-bottom: 50px;
		}

		li.accordion-item {
			max-width: 775px;
		}

		div.accordion-title {
			border-radius: 5px;
			font-weight: 700;
		}


	}


}
