body.page-template-page-platform-solution {

	section#platform-solution-hero {

		align-items: center;
		background-size: contain;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;

		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
			}
			background-size: contain;
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 80vh;
			padding: 5%;
			position: relative;
			width: 50%;
		}

		div.hero-left-content {

			@media (max-width: 550px) {
				// margin-top: 21%;
				// min-height: 40vh;
				// padding: 10% 5% 5%;
			}

			h3 {
				font-size: 36px;
				font-weight: 500;
				margin: 0;
				text-transform: capitalize;
			}



		}

		div.hero-right-content {

			div.hero-right-image-background img {
				background-size: contain;
				border-radius: 5px;
				box-shadow: $box__shadow;
				transition: all 0.5s ease;

				&:hover {
					box-shadow: $box__shadow_hover;
					cursor: pointer;
				}
			}

		}
	}


	section#evolution-subclonal {

		align-items: center;
		background-color: #efefef;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 10% 5%;

		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
			}

			width: 49%;
		}

		.flex-align-left {
			p {
				color: $color__textblue;
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 40px;
			}
		}

		.flex-align-right {

			div.testimonial-item {
				@media (min-width: 550px) {
					background-image: url('/dist/images/quotes.png');
					background-size: cover;
				}
				@media (max-width: 550px) {
					margin-top: 40px;
					background-color: white;
				}

			    min-height: 200px;

				div.testimonial-quote-icon-div {
					@media (min-width: 550px) {
						background-color: transparent;
					}
					min-height: 0;
					min-width: 125px;

					svg {
						@media (min-width: 550px) {
							display: none;
						}
			    		max-width: 55px;
					}
				}

				div.testimonial-quote-div {

	    			padding: 5%;

					p {
						font-size: 16px;
						font-style: italic;
					}

					h4 {
						margin-top: 0;
						text-align: right;
					}

					div.image-holder {
						max-width: 100%;
						text-align: right;
					}
				}
			}
		}

	}

	section#break-out {
		align-items: center;
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 10% 5%;

		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
			}

			width: 49%;
		}

		h4 {
			font-size: 24px;
			text-transform: none;
		}

		h6 {
			color: $color__bluedark;
			font-size: 18px;
			margin-top: 15px;
		}

		p {

		}


	}


	section#meet-tapestri {

		align-items: center;
		background-color: #efefef;
		background-position-y: -15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 10% 0 10%;

		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
				min-height: 75vh;
				padding: 3%;
			}

			width: 49%;
		}

		div.flex-align-right {
			padding-right: 10%;
		}

		h4 {
			color: $color__red;
			font-size: 55px;
			font-weight: 500;
			text-transform: none;
		}

		h6 {
			font-size: 24px;
			text-transform: none;
		}

		p {

		}

	}

	section#how-tapestri-works {

		background-color: #efefef;
		padding: 0 5% 10%;

		h2 {
			font-size: 24px;
			text-align: center;
		}

		div.tapestri-items {
			@media (max-width: 550px){
				flex-direction: column;
				margin-bottom: 40px;
			}
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-bottom: 5%;
			margin-top: 5%;

			div.tapestri-item {
				@media (max-width: 550px){
					max-width: 300px;
					margin: auto;
				}
				max-width: 15%;
				padding: 1%;
				transition: all 0.5s ease;

				&.can-hover {
					border: 1px solid rgba(0,0,0,0.2);
					background-color: white;
				}

				&.can-hover:hover,
				&.hover-state {
					box-shadow: $box__shadow_hover;
					cursor: pointer;
				}

				& > svg:hover {
					cursor: pointer;
				}
			}

			div.tapestri-item-divider {
				@media (max-width: 550px){
					max-width: 50px;
					margin: auto;
					padding-bottom: 20px;
					transform: rotate(90deg);
				}
				max-width: 40px;
			}
		}

		div.tapestri-items-descriptions {
			max-width: 700px;
			margin: 20px auto 60px;

			div.tapestri-items-description {
				font-size: 18px;

				&.hidden {
					display: none;
				}
			}
		}

		.button-container {
			@media (max-width: 1125px) {
				flex-direction: column;
			}

			display: flex;
			justify-content: center;

			& > div {
				@media (max-width: 1125px) {
					text-align: center;
					width: 100%;
				}
				margin: 0;
				padding: 15px;
				text-align: left;
				width: 48%;
			}

			& > div:first-of-type {
				@media (max-width: 1125px) {
					text-align: center;
					width: 100%;
				}
				text-align: right;
			}
		}
	}

	section#high-sensitivity {
		background-color: white;
		padding: 10% 5%;

		& > div {
			@media (max-width: 650px) {
				min-height: auto;
				width: 100%;
			}

		}

		div.high-sensitivity-container {
			@media (max-width: 550px) {
				flex-direction: column;
			}
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 60px;

			h4 {
				font-size: 24;
				text-transform: none;
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 30px;
			}

			& > div.red-bullet-list-box {
				h3 {
					font-size: 18px;
				}
				@media (max-width: 550px) {
					width: 100%;
				}
				width: 32%;
			}
		}

		div.high-sensitivity-content {
			@media (max-width: 550px) {
				width: 100%;
			}

			width: 32%;
		}

		div.high-sensitivity-images {
			@media (max-width: 550px) {
				margin: 40px auto 0;
				width: 100%;
			}

			width: 65%
		}

		div.red-bullet-list-box {
			h3 {
				font-size: 18px;
			}

			@media (max-width: 550px) {
				margin: 40px auto 0;
			}
			padding: 40px 20px;
		}
	}
}
