div.pre-footer {
	@media (max-width: 1125px) {
		flex-direction: column;
	}

	align-items: center;
	background-color: $color__blue;
	color: white;
    display: flex;
    flex-wrap: wrap;
	font-size: 24px;
	font-weight: 700;
    justify-content: center;
	padding: 5%;
	text-transform: uppercase;

	.pre-footer-text {
		font-family: $font_family;
		font-weight: 500;
	}

	div.button-container > div {
		@media (max-width: 1125px) {
			margin: 30px 0 0 0;
		}

		margin-left: 75px;
		min-height: 0;

		& a {
			color: $color__text;
			font-weight: 500;
			padding: 10px 40px;
		}
	}
}

footer.tm-footer {
	// border-top: 5px solid #ddd;
}

footer.tm-footer div.uk-container {

	@media (max-width: 800px) {
		flex-direction: column;
	}

	display: flex;
	flex-wrap: wrap;
	font-family: $font_family;
	font-size: 14px;
	justify-content: space-between;
	margin: 0;
	max-width: 100%;
	width: 100%;

	.footer-logo-contact {
		@media (max-width: 800px) {
			margin: 20px;
		}

		min-width: 175px;

		img {
			max-width: 75px;
		}

		.footer-address {
			font-weight: 300;
			margin-top: 20px;
		}

		a {
			color: $color__blue;
			font-weight: 500;
		}
	}

	.footer-links-container {

		flex-grow: 1;

		& > div {
			@media (max-width: 800px) {
				flex-direction: column;
			}

			display: flex;
		    flex-wrap: wrap;
		    justify-content: space-around;
		}

		.footer-links {


			@media (max-width: 800px) {
				margin: 20px;
			}

			a {
				color: $color__footerlink;
				font-weight: 700;
				line-height: 2;
			}

			.link-header {
				text-transform: uppercase;
				font-weight: 400;
			}
		}
	}

}
