//
// $duration: 60s;
//
// @-webkit-keyframes ticker {
//   0% {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//     visibility: visible;
//   }
//
//   100% {
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }
// }
//
// @keyframes ticker {
//   0% {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//     visibility: visible;
//   }
//
//   100% {
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }
// }
//
// .ticker-wrap {
//
// 	// position: absolute;
// 	position: relative;
// 	width: 100%;
// 	overflow: hidden;
// 	// height: 4rem;
// 	background-color: transparent;
// 	padding-left: 0;
// 	box-sizing: content-box;
//
// 	.ticker {
//
// 		display: inline-block;
// 		// height: 4rem;
// 		// line-height: 4rem;
// 		white-space: nowrap;
// 		box-sizing: content-box;
//
// 		-webkit-animation-iteration-count: infinite;
// 		        animation-iteration-count: infinite;
// 		-webkit-animation-timing-function: linear;
// 		        animation-timing-function: linear;
// 		-webkit-animation-name: ticker;
// 		       animation-name: ticker;
// 		-webkit-animation-duration: $duration;
// 		        animation-duration: $duration;
//
// 		&__item {
//
// 			display: inline-block;
// 			padding: 0 2rem;
// 			color: white;
//
// 		}
//
// 	}
//
// }


// * { box-sizing: border-box; }
//
// body { font-family: sans-serif; }
//
// .carousel {
//   background: transparent;
//
//   .carousel-cell {
//     min-height: 75px;
//     margin-right: 10px;
//   }
//
//   /* cell number */
//   .carousel-cell:before {
//     // display: block;
//     // text-align: center;
//     // content: counter(gallery-cell);
//     // line-height: 200px;
//     // font-size: 80px;
//     // color: white;
//   }
// }
