<!doctype html>
<!--[if lte IE 8]><html class="no-js is-lte-ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js is-ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|(!IE)]><!--><html class="no-js" lang="en" data-placeholder-focus="false"><!--<![endif]-->
<html class="no-js" lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PD79GG4');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicon.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://use.typekit.net/ukl7dfz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/main.min.css">
</head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD79GG4"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="site-constraint {% if homeTemplate == true %} home-template {% endif %}">
            {% block content %}{% endblock %}
        </div>
         <!-- outdated browser message -->
        <div class="outdated-browser">
            <div class="outdated_header">
                <img src="/assets/img/main-logo.png" alt=""> 
            </div>
            <h2>Thank you for visiting Mission Bio</h2>
            <h3>To view the site, please update your browser</h3>
            <p>The Mission Bio site works on all modern browsers with legacy support back through Internet Explorer 9. Please update by going to the link below.</p>
            <a href="http://outdatedbrowser.com/en" class="ie-button" target="_blank">Update Browser</a>
        </div>
        <!-- end outdated browser message -->
        <script src="assets/js/app.min.js"></script>
        <script type="text/javascript"> _linkedin_data_partner_id = "102009";</script>
        <script type="text/javascript">
            (function(){
                var s = document.getElementsByTagName("script")[0];
                var b = document.createElement("script");
                b.type = "text/javascript";
                b.async = true;
                b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
                s.parentNode.insertBefore(b, s);
            })();
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65254702-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-65254702-1');
        </script>
        <!-- <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=102009&fmt=gif" />
        </noscript> -->
        <!-- Segment Pixel - Mission Bio Retargeting - DO NOT MODIFY -->
        <script src="https://secure.adnxs.com/seg?add=10417800&t=1" type="text/javascript"></script>
        <!-- End of Segment Pixel -->
    </body>
</html>