.main-footer {
    padding: 30px 0 5px;
    background: $blue-dark;
    .footer-content {
        margin: 40px 0;
    }
    .company-info {
        a {
            color: inherit;
            &:hover {
                color: inherit;
            }
        }
    }
    .footer-link-container {
        font-size: 18px;
        h3 {
            font-size: inherit;
            margin: 0;
            margin-bottom: 3px;
        }
        > span {
            display: block;
            font-size: inherit;
            margin-bottom: 3px;
        }
    }
    .footer-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        padding: 20px 15px 5px;
    }
    .copy {
        order: 2;
        display: inline-block;
        font-size: 12px;
        margin-bottom: 15px;
        // float: left;
    }
    .legal-list {
        order: 0;
        display: inline-block;
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        text-align: center;
        font-size: 12px;
        // float: right;
        li {
            font-size: inherit;
            display: inline-block;
            &::after {
                content: '|';
                margin: 0 3px 0 6px;
                 
            }
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
        }
        a {
            color: #fff;
            &:hover {
                color: $blue;
            }
        }
    }
}

@media (max-width: $screen-md) {
    .main-footer {
        .footer-link-container {
            font-size: 16px;
        }
    }
}

@media (max-width: $screen-sm){
    .main-footer {
        .footer-content {
            margin: 10px 0 30px;
        }
        .footer-link-container {
            font-size: 14px;
        }
        .footer-bottom {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
        .copy {
            width: 100%;
            order: 2;
        }
        .legal-list {
            width: 100%;
            order: 0;
            li {
                font-size: inherit;
                display: inline-block;
            }
            a {
                color: #fff;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}