.main-body {
	padding: 0 85px 0 0;
	position: relative;
	z-index: 10;
	&::before {
		background: $blue;
		display: inline-block;
		content: '';
		position: absolute;
		width: 85px;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

.main-content {
	overflow: hidden;
	background: #fff;
	min-height: calc(100vh - 382px);
}

@media (max-width: 1025px){
	.main-body {
		   padding: 0;
		   &::before {
			display: none;
		   }
	   }
}