<section class='section invert-text round-corner parallax-container'>
    <div class="parallax-bg" style=" background: url(assets/img/pages/home/get-in-touch.jpg); background-position: center center;"></div>
    <div class="id-marker" id='contact'></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content-container text-center">
                        <h2>Get in touch</h2>
                        <h3>Let’s work together to advance precision medicine.</h3>
                        <form id="contact-form" action="" class="form-horizontal contact-form" method="POST">
                            <input type="text" id="honeypot" class="honeypot" name="honeypot"/>
                            <div class="form-group">
                                <div class="form-item col-sm-8 col-sm-offset-2">
                                    <label for="fullname">Full Name *</label>
                                    <input type="text" id="fullname" class="form-control" name="fullname" autocomplete="fullname text"/>
                                </div>
                                <div class="form-item col-sm-8 col-sm-offset-2">
                                    <label for="institution">Institution</label>
                                    <input type="text" id="institution" class="form-control" name="institution" />
                                </div>
                                <div class="form-item col-sm-8 col-sm-offset-2">
                                    <label for="email">Email Address *</label>
                                    <input type="email" id="email" class="form-control" name="email" autocomplete="email email"/>
                                </div>
                                <div class="form-item col-sm-8 col-sm-offset-2">
                                    <label for="phone">Phone</label>
                                    <input type="tel" id="phone" class="form-control" name="phone" />
                                </div>
                                <div class="form-item col-sm-8 col-sm-offset-2">
                                    <label for='message'>Message *</label>
                                    <textarea id='message' class="form-control autosize" name='message'></textarea>
                                </div>
                                <div class=" col-sm-8 col-sm-offset-2">
                                    <div class="button-container">
                                        <button class="button">Send</button>
                                    </div>
                                </div>   
                                <div class="form-item col-sm-8 col-sm-offset-2 text-center">
                                    <em>required*</em>
                                </div>
                            </div> 
                        </form>
                        <div class="success-msg">
                            <h3>Your message has been sent successfully</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>