<footer class='main-footer invert-text'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="footer-content company-info">
                    <p>Mission Bio, Inc.<br>
                        6000 Shoreline Court, Suite 104<br>
                        South San Francisco, CA 94080<br>
                        +1 (415) 854-0058<br>
                        <a href="mailto:info@missionbio.com">info@missionbio.com</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="footer-content">
                    <div class="footer-link-container">
                        <h3>AWARDS</h3>
                        <span>2016  QB3@953 Amgen Golden Ticket Award</span>
                        <span>2016 CYTO Innovation Award</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 footer-bottom">
                <ul class='legal-list'>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                </ul>
                <span class="copy">&copy; Copyright 2017. All rights reserved.</span>
            </div>
        </div>
    </div>
</footer>