<div class="header-placeholder">
	<header class="header">
		<div class="header-bg" style=" background: url(assets/img/pages/home/home-banner.jpg); background-position: top center;"></div>
		<div class="header-content  clear">
			<a href="index.html" class="header-logo">
				{% include "svg/logo.html" %} 
			</a>
			<div class="nav-container">
				<div class="nav-toggle"><span></span></div>
				<nav class="main-nav">
					<div class="main-nav-header">
						<div class="nav-close-toggle"></div>
					</div> 
					<div class="main-nav-content"> 
						<ul id="menu" class="menu" >
							<li class="menu-item">
								<a href="index.html#challenge" class='scroll-toggle'>challenge</a>
							</li>
							<li class="menu-item">
								<a href="index.html#solution" class='scroll-toggle'>Solution</a>
							</li>
							<li class="menu-item">
								<a href="index.html#who-we-are" class='scroll-toggle'>Who we are</a>
							</li>
							<li class="menu-item">
								<a href="index.html#contact" class='scroll-toggle'>Contact</a>
							</li>
						</ul>
					</div>
					<div class='header-social'>
						<a href="https://www.facebook.com/missionbio/" target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="https://twitter.com/MissionBio" target='_blank'><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="https://www.linkedin.com/company/3882975/" target='_blank'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</div>
				</nav>
			</div>
			
		</div>
	</header>
</div>
