<div class="popup-modal">
    <div class="full-screen-icon"><div></div></div>
    <div class="popup-modal__container">
        <div class="popup-modal-content">
            <div class="close-toggle">Close</div>
            <!-- <h2 class="modal-header">CUSTOM PANEL GRANT PROGRAM</h2> -->
            <h2 class="secondary-modal-header rounded" >UPCOMING EVENTS</h2>
            <div class="split-modal-content">
                <article>
                    <h3><strong>AGBT 2018 – Orlando, FL</strong></h3>
                    <p><b>Hilton Orlando Bonnet Creek</b><br>
                        <b>Bonnet Creek Ballrooms VII-XII</b>
                    </p>
                    <p>
                        <b>Poster 1015:</b>“High-Throughput Single-Cell DNA Sequencing of AML Tumors with Droplet Microfluidics”<br>
                        <b>Dennis Eastburn, PhD,</b> CSO, Mission Bio<br>
                        February 13, 1:00 - 2:30 PM
                    </p>
                    <p>
                        <b>Poster 1307:</b>“Clonal Evolution in Two AML Patients Detected with Targeted Single-Cell Sequencing”<br>
                        <b>Liwen Xu, PhD,</b> Department of Pathology, Stanford Medical School<br>
                        February 13, 1:00 - 2:30 pm
                    </p>
                </article>
                <article>
                    <h3><strong>Molecular Medicine Tri-Conference – San Francisco, CA</strong></h3>
                    <p><b>Hilton Union Square Hotel</b></p>
                    <p>
                        <b>Poster S12:</b> “High-Throughput Single-Cell DNA Sequencing of AML Tumors with Droplet Microfluidics”<br>
                        <b>Kastub Gokhale, PhD,</b> Scientist, Mission Bio<br>
                        February 15 and 16
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>
