<div class="main-modal"> 
    <div class="main-modal__container">
        <div class="main-modal-content"> 
            <span class="close-modal">close</span>
            <div class="modal-view-container">
                <div class="modal-view" data-modal-view='1'>
                    <div class="video-wrapper2">
                        <div class="video-container2">
                            <div class="spinner"></div>
                        </div>
                    </div>
                    <div class="video-placeholder"></div>
                </div>
                <div class="modal-view" data-modal-view='2'> 
                    <div class="video-wrapper2">
                        <div class="video-container2">
                             <div class="spinner"></div>
                        </div>
                    </div>
                    <div class="video-placeholder"></div>
                </div>
                <div class="modal-view" data-modal-view='3'>
                    <div class="video-wrapper2">
                        <div class="video-container2">
                            <div class="spinner"></div>
                        </div>
                    </div>
                    <div class="video-placeholder"></div>
                </div>
                <div class="modal-view" data-modal-view='4'>
                    <div class="video-wrapper2">
                        <div class="video-container2">
                                <div class="spinner"></div>
                        </div>
                    </div>
                    <div class="video-placeholder"></div>
                </div> 
                <div class="modal-view" data-modal-view='5'>
                    <div class="modal-form">
                        <div class="modal-form__container">
                            <div class="text-center">
                                <h2 class="color-blue">Stay up-to-date</h2> 
                                <h3>Before viewing the presentations, let us know how we can share the latest news as we move precision medicine forward.</h3>
                            </div>
                            <form id="lead-form" action="" class="form-horizontal contact-form" method="POST">
                                <div class="form-group">
                                    <div class="form-item col-sm-12">
                                        <label for="fullname-1">Full Name *</label>
                                        <input type="text" id="fullname-1" class="form-control" name="fullname-1"/>
                                    </div>
                                    <div class="form-item col-sm-12">
                                        <label for="title-1">Title *</label>
                                        <input type="text" id="title-1" class="form-control" name="title-1" />
                                    </div>
                                    <div class="form-item col-sm-12">
                                        <label for="institution-1">Institution *</label>
                                        <input type="text" id="institution-1" class="form-control" name="institution-1" />
                                    </div>
                                    <div class="form-item col-sm-12">
                                        <label for="email-1">Email Address *</label>
                                        <input type="email" id="email-1" class="form-control" name="email-1"/>
                                    </div>
                                    <div class=" col-sm-12">
                                        <div class="button-container-center">  
                                            <button class="button button--dark">View video</button>
                                        </div>
                                    </div>   
                                    <div class="form-item col-sm-8 col-sm-offset-2 text-center">
                                        <em>required*</em>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>