{% set title = '404' %}
{% set description = 'Page not found' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
    <div class="main-content">
        <section class="section fof-section">
            <div class="container-fluid">
                <div class="row">
                <div class="col-sm-12">
                        <article class="content-container text-center-lg">
                            <h2>The page requested does not exist</h2>
                            <p>Please use button below to go back to the site.</p>
                            <div class="button-container">
                                <a href="index.html" class="button" >home</a>
                            </div>
                        </article>
                </div>
                </div>
            </div>
        </section>

    </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}