{% set title = 'American Society of Hematology (ASH) - Atlanta, GA' %}
{% set description = 'High-Throughput Single-Cell DNA Sequencing of AML Tumors with Droplet Microfluidics (Poster 3965)' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <article class="content-container">
                    <h2>American Society of Hematology (ASH) - Atlanta, GA</h2>
                    <span>December 9 - December 12</span>
                    <p>Visit booth #641 to learn how we’re transforming single-cell DNA analysis for acute myeloid leukemia research.</p>
                    <h3>Visit our poster presentation:</h3>
                    <p>
                        High-Throughput Single-Cell DNA Sequencing of AML Tumors with Droplet Microfluidics (Poster 3965)<br>
                        Monday, December 11, 2017<br>
                        6:00 - 8:00 PM<br>
                        Dennis Eastburn, Ph.D., CSO<br>
                        Session: 617. Acute Myeloid Leukemia: Biology, Cytogenetics, and Molecular Markers in Diagnosis and Prognosis: Poster III<br>
                        Georgia World Congress Center, Bldg A, Level 1, Hall A2
                    </p>
                </article>
               </div>
            </div>
         </div>
      </section>

   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}