{% set title = 'Mission Bio ASHG Workshop' %}
{% set description = 'Join our workshop: Pioneering single-cell DNA sequencing with high-throughput droplet microfluidics. See more details here.' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">
      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <article class="content-container">
                    <h2>Pioneering single-cell DNA sequencing with high-throughput droplet microfluidics</h2>
                    
                    <p>FRIDAY, OCTOBER 20, 2017, 1:00 – 2:15 PM<br>
                        Hilton, Lake Highland Room, Lobby Level</p>
              
                    <p><b><span class='color-blue'>Introducing Mission Bio Introducing Mission Bio</span></b><br> Charlie Silver, CEO</p>
                    <p><b><span class='color-blue'>Mission Bio Tapestri Platform: Moving precision medicine forward</span></b>
                        <br>Dennis Eastburn, Ph.D, CSO</p>
                    <p><b><span class='color-blue'>Investigating dynamics of AML driver mutations and clonal heterogeneity with single-cell genomics using droplet microfluidics</span></b>
                        <br>Koichi Takahashi, MD // Department of Leukemia,
                        <br>University of Texas MD Anderson Cancer Center
                    </p>
                    <p><b><span class='color-blue'>Clonal evolution and changes in gene mutations in two AML patients detected with the Tapestri Platform</span></b>
                        <br>Liwen Xu, Ph.D. // Department of Pathology, Stanford University School of Medicine
                    </p>            

                  </article>
               </div>
            </div>
         </div>
      </section>
      <section class='section bg-grey'>
        <div class="container">
            <div class="row">
                 <div class="col-sm-12">
                    <article class="content-container">
                        <p>VISIT OUR POSTER: PgmNr 1513/</p>
                        <p><b><span class="color-blue">High-throughput single-cell genotyping profiling
                            <br> with droplet microfluidics</span></b><br>
                            Dennis Eastburn, Ph.D., CSO<br>
                            Wednesday, October 18, 2017 // 2:00 - 3:00 pm
                         </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
      <section class='section'>
        <div class="container">
            <div class="row">
                 <div class="col-sm-12">
                    <article class="content-container">
                        <h3>Enter Mission Bio Custom Panel Grant Program</h3>
                        <ul>
                            <li>Submit your targets of interest for single-cell mutation profiling</li>
                            <li>Accepting application through December 31, 2017</li>
                            <li>Winners announced in January 2018</li>
                        </ul>
                        <p><b>More details: </b><a href="surveymonkey.com/r/MBcustomgrant" target="_blank">surveymonkey.com/r/MBcustomgrant</a></p>
                    </article>
                </div>
            </div>
        </div>
    </section>
   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}