{% set title = 'Director of Marketing – Mission Bio Career Opportunity' %}
{% set description = 'Mission Bio is a rapidly growing Series A single-cell DNA analysis company driven by the mission to help researchers and...' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                    <article class="content-container">
                        <h2>Director of Marketing</h2>
                        <p>Mission Bio is a rapidly growing Series A single-cell DNA analysis company driven by the mission to help researchers and clinicians unlock single-cell biology to enable the discovery, development, and delivery of precision medicine.  To support our growth, Mission Bio is looking for a Marketing Director/Manager to translate strategic intent into tactical plans -- including rolling up your sleeves to execute plans.</p>
                        <h4><b>Who you are</b></h4>
                        <ul>
                            <li>Skillful across a broad range of marketing activities, from digital to traditional, inbound to outbound</li>
                            <li>Equally creative and data-driven, adept at delivering ideas, content, and metrics</li>
                            <li>Always thinking about the customer</li>
                            <li>Excellent team player capable of working well with many stakeholder groups in a fast-paced environment</li>
                            <li>Rigorous, detail oriented, creative problem solver who enjoys identifying new and innovative ways to reach our target audience</li>
                            <li>Independent, self-starter, who is able to operate with a high degree of autonomy while delivering excellent results</li>
                            <li>Naturally curious, always looking for ways to learn more and be at the cutting edge</li>
                        </ul>
                        <h4><b>What you will do</b></h4>
                        <ul>
                            <li>Develop and execute tactical plans marketing programs using an integrated approach that combines digital, content, event, and social media marketing</li>
                            <li>Work closely with the sales team to gather feedback and improve marketing campaigns and materials</li>
                            <li>Manage timelines in order to meet objectives on time</li>
                            <li>Work with marketing operations to capture and analyze metrics to improve ROI and optimize programs</li>
                            <li>Work collaboratively with colleagues across the company to share ideas</li>
                            <li>Be driven to be help solve challenges and move precision medicine forward</li>
                        </ul>
                        <h4><b>What you will bring</b></h4>
                        <ul>
                            <li>A strong portfolio of past success in developing operational plans with demonstrable results</li>
                            <li>A belief that collaboration among multiple partners is the key to delivering great, highly differentiated marketing programs</li>
                            <li>The ability to write extremely readable content and to know good design from bad</li>
                            <li>At least 5 years of relevant education and experience, with a minimum of 3 years of prior experience in Marketing, Marketing Communications or Product Management in the life science industry. Ideally, you will have experience developing business and growing share in markets
                                <ul>
                                    <li>Start-up experience is desirable</li>
                                </ul>
                            </li>
                            <li>BA/BS degree in marketing, communications or biological science.</li>
                        </ul>
                        <p><b>Seniority Level</b><br>
                            Mid-Senior level</p>
                        <p><b>Industry</b><br>
                            Biotechnology</p>
                        <p><b>Employment Type</b><br>
                            Full-time</p>
                        <p><b>Reports To:</b> Senior Vice President of Marketing</p>
                    </article>
               </div>
            </div>
         </div>
      </section>

   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}