{% set title = 'Data Scientist I/II – Mission Bio Career Opportunity' %}
{% set description = 'We are seeking a highly motivated Data Scientist I/II to provide analytical support of sequencing data from our proprietary single-cell genomics platform.' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                    <article class="content-container">
                        <h2>Data Scientist I/II</h2>
                        <p>We are seeking a highly motivated Data Scientist I/II to provide analytical support of sequencing data from our proprietary single-cell genomics platform. The successful candidate will have the opportunity to work in a fast-paced environment and will be responsible for the development, implementation, and application of statistical methodologies. Salary and title commensurate based on experience. This position reports into the Director of the Data Analysis Group.</p>
                        <h4><b>Job Duties</b></h4>
                        <ul>
                            <li>Develop, implement, and apply statistical methods and novel algorithms to genomic data sets that will be used to guide development of a variety of single-cell applications</li>
                            <li>Investigate datasets to undercover trends and root cause of errors that impact system performance</li>
                            <li>Build statistical analysis tools and quality control metrics that will allow continual monitoring of assay and reagent performance</li>
                            <li>Explain complex and difficult statistical concepts to other research and bioinformatics scientists</li>
                        </ul>
                        <h4><b>Experience</b></h4>
                        <ul>
                            <li>PhD (or Masters with experience) in statistics, mathematics, computational biology, or related quantitative fields</li>
                            <li>3+ years of relevant industry experience desired but not required for a motivated candidate</li>
                            <li>Demonstrated ability to curate and organize large datasets for analysis</li>
                            <li>Strong background in data analysis and algorithm development, preferably for large NGS datasets, using statistical methods including but not limited to regression techniques, high-dimensional statistical models, clustering algorithms, and multivariate statistics</li>
                            <li>Experience with robust parametric and non-parametric statistics and with bioinformatics tools (i.e. samtools, GATKA, etc.)</li>
                            <li>Demonstrated ability to independently troubleshoot complex problems</li>
                            <li>Strong presentation and communication skills to convey statistical concepts to non-statisticians</li>
                            <li>Demonstrated ability to work effectively independently and in a team environment</li>
                            <li>Strong knowledge of at least one programming language (R, MATLAB, S, etc.)</li>
                        </ul>
                    </article>
               </div>
            </div>
         </div>
      </section>

   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}