{% set title = 'Sales Operations Manager – Mission Bio Career Opportunity' %}
{% set description = 'The Sales Operations Manager is a key role within the Sales Support group...' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                    <article class="content-container">
                        <h2>Sales Operations Manager</h2>
                        <p>The Sales Operations Manager is a key role within the Sales Support group. The Sales Operations Manager will be the primary point of contact for the Sales and Support team, Marketing, Finance, Manufacturing and other departments. The Sales Operations Manager will be responsible for sales forecasting, analytics, productivity, and other sales support functions. This position reports directly to the Vice President of Sales.</p>
                        <h4><b>Job Duties</b></h4>
                        <ul>
                            <li>Global Sales Operations Leadership – Sales Quota and Compensation, Customer Relationship Management, Pricing, Commercial Training.</li>
                            <li>Sales Finance - Financial analysis, Forecasts, Budget, contribute to Quarterly business reviews, Sales &amp; Marketing Planning and Reporting, Sales Funnel Analysis, Demand Planning / Sales &amp; Operations Reviews, Revenue &amp; Backlog Control; Month-End Closing processes.</li>
                            <li>Ensure timely customer contract negotiations</li>
                            <li>Global Collections, AR, cash application</li>
                            <li>As company goes global: establishment of global commercial support – customer service, contract negotiations, collections &amp; AR, Global Trade &amp; Tax, ERP, CRM
                                <ul>
                                    <li>Global standardization and improvement of quote-to-cash processes including potential for web ordering, resulting in improved customer experience</li>
                                </ul>
                            </li>
                            <li>Work with VP of Sales to establish an automated sales funnel and forecast process</li>
                            <li>Contract negotiation / deal desk support for the sales team to expedite deal closure and revenue recognition</li>
                            <li>Integration of Salesforce.com (CRM), and SAP (ERP).</li>
                            <li>Develop knowledge of Mission Bio’s products via completion of sales training program, and utilize this knowledge to successfully lead Sales Support operations.</li>
                            <li>Act as a liaison/partner between the Sales Team and other internal customers: Marketing, Finance, and Manufacturing</li>
                        </ul>
                        <h4><b>Experience</b></h4>
                        <ul>
                            <li>Minimum of 5 years Sales Support experience</li>
                            <li>Demonstrated leadership, communication and problem-solving skills</li>
                            <li>Ability to effectively utilize CRM tools to monitor performance</li>
                            <li>Proven ability to evaluate and balance team and individual workloads through effective time management, prioritization, and organizational skills</li>
                            <li>Proven ability to work effectively in an office-based environment</li>
                            <li>Ability to travel as required to meet team goals</li>
                            <li>BA Finance degree preferred</li>
                        </ul>
                    </article>
               </div>
            </div>
         </div>
      </section>

   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}