{% set title = 'Manufacturing Sciences Technician – Mission Bio Career Opportunity' %}
{% set description = 'We are seeking a highly motivated individual to join the Operations team in South San Francisco.' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                    <article class="content-container">
                        <h2>Manufacturing Sciences Technician</h2>
                        <p>We are seeking a highly motivated individual to join the Operations team in South San Francisco. The Manufacturing Sciences Technician will be responsible for the manufacture of reagents for kits used by Mission Bio's single cell workflow.</p>
                        <!-- <h4><b>Job Duties</b></h4> -->
                        <p>The candidate will be driven and will do what it takes to keep reagent manufacturing on time and on specification in a start-up environment.  The Manufacturing Sciences Technician will produce reagents and perform QC testing using established protocols and complete manufacturing batch records.  The Manufacturing Sciences Technician will work independently, maintain immaculate work areas, have basic knowledge and operation of equipment used in molecular biology They will contribute to the continual improvement of processes and documentation, and communicate results with management.  Knowledge of general laboratory practices is required. The Candidate must be comfortable working in a manufacturing environment.</p>
                        <ul>
                            <li>Molecular biology or chemistry experience required, experience desired, preferably in wet lab environment</li>
                            <li>BA or BS in biology or chemistry is required</li>
                            <li>Maintain accurate, detailed reproducible documentation for of all batch records and notebooks </li>
                            <li>Operation of automated equipment used for molecular biology a plus</li>
                            <li>Familiar with oligonucleotide manipulation</li>
                            <li>Solution focused</li>
                            <li>Ability to maintain high manufacturing standards as defined by management</li>
                            <li>Autonomous time management</li>
                            <li>Maintain a safe work environment</li>
                            <li>Preventative maintenance of lab equipment.</li>
                            <li>Chemical and biological analytical characterization</li>
                            <li>Must be able to stand for long periods of time while performing duties.</li>
                            <li>Must be able to work safely with chemicals and hazardous materials.</li>
                            <li>Must be able to lift up to 40 lbs.</li>
                            <li>Must be able to work outside of regular work hours/ work a flexible shift as needed</li>
                            <li>Experience with manual pipetting</li>
                            <li>Basic computer skills, especially with excel and MS Office products, JIRA, Confluence, Matlab</li>
                            <li>Experience with Qubit, Nano-drop, Agilent Bio-Analyzer, spectramax</li>
                        </ul>
                    </article>
               </div>
            </div>
         </div>
      </section>

   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}