{% set title = 'Data Scientist I/II – Mission Bio Career Opportunity' %}
{% set description = 'Mission Bio is a company of passionate people dedicated to solving complex biological problems with precision engineering...' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                    <article class="content-container">
                        <h2>Data Scientist I/II</h2>
                        <p>Mission Bio is a company of passionate people dedicated to solving complex biological problems with precision engineering, innovative biochemistry, and supported bioinformatics. We are seeking a highly motivated Data Scientist I/II to provide analytical support of our single cell priority Tapestri Platform for accelerated and accessible detection of genomic variability within and across cell populations. The successful candidate will have the opportunity to work in a fast-paced environment and will be responsible for the development, implementation, and application of statistical methodologies directly impacting the advancement of the Tapestri Platform. Salary and title commensurate based on experience. This position reports into the Director of the Data Analysis.</p>
                        <h4><b>Job Duties</b></h4>
                        <ul>
                            <li>Develop, implement, and apply statistical methods and novel algorithms to genomic data sets using statistical and mathematical principles for the guidance and development of a variety of single cell applications</li>
                            <li>Organize, mine, and explore laboratory metrics, genomic sequencing data, and clinical metrics to correlate and uncover trends</li>
                            <li>Investigate root causes of system performance using data-driven techniques</li>
                            <li>Build statistical analysis tools and quality control metrics that will allow continual monitoring of instrument, assay, and reagent performance</li>
                            <li>Explain complex and difficult statistical concepts to laboratory, research, and bioinformatics scientists</li>
                        </ul>
                        <h4><b>Experience</b></h4>
                        <ul>
                            <li>PhD (or Masters with experience) in Statistics, Mathematics, Computational Biology, Bioinformatics, or related quantitative fields</li>
                            <li>At least 3 years of relevant industry experience desired but not required for a knowledgeable and motivated candidate with a strong biological background</li>
                            <li>Skilled programmer in at least one analytical language such as R, Python, MATLAB, etc.</li>
                            <li>Proven data visualization and analytical skills with algorithm development experience, preferably for large NGS datasets, using statistical methods including but not limited to regression techniques, high-dimensional models, clustering algorithms, and multivariate statistics</li>
                            <li>Exceptional presentation and communication skills to convey statistical and mathematical concepts to non-statisticians</li>
                            <li>Proficient programmer in bash scripting, Perl, or similar with experience with bioinformatics tools such as SAMtools, gatk, BCFtools, etc.</li>
                            <li>Demonstrated ability to curate and organize large datasets for analysis</li>
                            <li>Demonstrated ability to independently troubleshoot complex problems both independently and in team environments</li>
                        </ul>
                        <p>** Relocation assistance is not available for this position.</p>
                    </article>
               </div>
            </div>
         </div>
      </section>

   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}