{% set title = 'Mission Bio Team' %}
{% set description = "Meet our team. Together, we're moving precision medicine forward." %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">
      <section class='section invert-text secondary-hero' style=" background: url(assets/img/pages/team/team-banner.jpg); background-position: center center;">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-10 col-sm-offset-1 text-center-lg">
                  <article class="content-container-lg">
                     <h2 class='color-blue'>CUSTOM PANEL GRANT PROGRAM</h2>
                  </article>
               </div>
            </div>
         </div>
      </section>
      <section class='section bg-grey'>
          <div class="container-fluid">
               <div class="row">
                    <div class="col-sm-12">
                        <article class="content-container">
                            <h2>Enter to Win</h2>
                            <p>Do you understand how cellular heterogeneity impacts disease progression and monitoring?</p>
                            <p>What rare subpopulations are you missing with bulk sequencing?</p>
                            <p>How do certain subclones impact treatment selection?</p>
                            <h3>Be the first to get a single-cell DNA custom panel for the Mission Bio Tapestri™ Platform before its official launch in 2018.</h3>
                            <p>For the first time, understand the genomic variability within your samples to move your research forward.</p>
                            <h3>Two winners will receive:</h3>
                            <ul>
                                <li>Custom panel of up to 100 genomic regions</li>
                                <li>Bioinformatics support for data analysis</li>
                                <li>Discounted pricing</li>
                            </ul>
                            <p>Send us a brief abstract and your genomic regions of interest.</p>
                            <p>Accepting applications through December 31, 2017.<br>
                                Winners will be announced in January 2018.</p>
                            <div class="button-container text-left">
                                <a href='https://www.surveymonkey.com/r/MBcustomgrant' class="button" target="_blank">ENTER HERE</a>
                            </div>
                        </article>
                    </div>
               </div>
          </div>
        
      </section>
   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}

