{% set title = 'Mission Bio | Moving precision medicine forward.' %}
{% set description = 'Single-cell DNA analysis at speed and scale • Customizable platform • Dedicated bioinformatics support' %}
{% set homeTemplate = true %}

{% extends "./layouts/default.html" %}


{% block content %}

<div class="hero-placeholder">
    <div class="hero" style=" background: url(assets/img/pages/home/home-banner.jpg); background-position: top center;">
        <div id="hero-overlay" class="hero-overlay"></div>
        <img class='banner-logo' src="assets/img/main-logo.svg" alt="mission bio">
        <div id='banner-content' class="hero-content">
            <article class="hero-content__article">
                    <h1>Moving Precision Medicine <span class='color-red'><i>Forward</i></span></h1>
                    <h2>Transforming <span style="white-space:nowrap;">Single-Cell</span><br>DNA Analysis<span class='color-red'>.</span></h2>
                    <p>DNA analysis at speed and scale<br>Customizable platform<br> Dedicated bioinformatics support</p>
                    <div class="button-container">
                        <a class="button corporate-video-toggle" data-video='<script src="https://fast.wistia.com/embed/medias/8sze3ptrq0.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_8sze3ptrq0 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>'>WATCH VIDEO</a>
                    </div>
            </article>
        </div>
    </div>
</div>

<div class="main-body">
        {% include "partials/header.html" %} 
    <div class="main-content">
            
        <section> 
            <div class="id-marker" id='challenge'></div>
            <section class='section bg-grey'>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center-lg">
                        <article class="content-container top-content">
                            <h2>Move beyond <span class='color-red'>averages</span></h2>
                            <h3>Break out of the limitations of bulk sequencing<br> for precision medicine.</h3>
                            <p>Today's conventional technology for measuring cellular mutations and heterogeneity for complex disease is bulk sequencing based on averages. However, the problem with averages is that the underlying genetic diversity is missed across cell populations. Understanding this diversity is important for patient stratification, therapy selection, and disease monitoring. Moving beyond averages helps to deliver on the promise of precision medicine.</p>
                        </article>
                        <article class='overflow-content'>
                            <h2 class="color-green title-2">MISSION BIO REVEALS<br> MUTATION CO-OCCURRENCE</h2>
                                <img class='graphic' src="assets/img/pages/home/mutation-co-occurrence.svg" style='max-width: 700px' alt=""> 
                        </article>
                    </div>
                    </div>
                </div>
            </section>
    
            <section class='section bg-section invert-text parallax-container'>
                <div class="parallax-bg" style=" background: url(assets/img/pages/home/see-what-your-missing.jpg); background-position: center center;"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 text-center-lg">
                            <article class="content-container-lg">
                                <h2 class='title-2 color-blue'>SEE WHAT YOU’RE MISSING</h2> 
                                <h3>The promise of precision medicine is to deliver highly targeted treatment to every single diseased cell.</h3>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
    
            <section class='section' >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center-lg">
                        <article class="content-container">
                            <p>The current one-size-fits-all approach of medical treatments isn’t working for many patients who need help. To move precision medicine forward, researchers and clinicians need to look at the origins of  disease — <b>the single cell</b> — in meaningful new ways.</p>
                            <p>Because most diseases are not caused by just one mutation, understanding genetic variability — including mutation co-occurrence at the single-cell level — is vitally important for clinical researchers. However, this level of resolution is missed with existing bulk sequencing which can result in failed clinical trials, high costs, and poor patient outcomes.</p>
                            <p>To impact precision drug discovery, development, and delivery, we need insight into the mutational differences with and among every single cell.</p>
                        </article>
                    </div>
                    </div>
                </div>
            </section>
    
            <section class='section offset-icon-section bg-grey' >
                <div class="top-bg invert-text parallax-container" >
                    <div class="parallax-bg" style=" background: url(assets/img/pages/home/dna-diff.jpg); background-position: center center;"></div>
                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 text-center-lg">
                                <article class="content-container-lg">
                                    <h2 class='title-2 color-green'>THE DNA DIFFERENCE</h2> 
                                    <h3>Accessing DNA on the single-cell level and leveraging its molecular stability is key to making meaningful discoveries that can drive precision medicine.</h3>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row offset-icon-container">
                        <div class='col-sm-4 col-xs-12 round-icon-container'>
                            <div class='round-icon'>
                                <img src="assets/img/circle-icons/reliably-identify.svg" alt="">
                                <div class='icon-dots'></div>
                            </div>
                            <h3>Reliably identify<br> mutations within a cell</h3>
                        </div>
                        <div class='col-sm-4 col-xs-12 round-icon-container'>
                            <div class='round-icon'>
                                <img src="assets/img/circle-icons/pinpoint.svg" alt="">
                                <div class='icon-dots'></div>
                            </div>
                            <h3>Accurately pinpoint<br> sub-clonal populations</h3>
                        </div>
                        <div class='col-sm-4 col-xs-12 round-icon-container'>
                            <div class='round-icon'>
                                <img src="assets/img/circle-icons/monitoring.svg" alt="">
                                <div class='icon-dots'></div>
                            </div>
                            <h3>Enable better therapy<br> selection and disease monitoring</h3>
                        </div>
                    <div>
                </div>
            </section>
        </section>
           
        <section>
            <div class="id-marker" id='solution'></div>
            <section class='section tapestri'>
                <div class="top-bg" style=" background: url(assets/img/pages/home/meet-tapestri.jpg); background-position: center center;">
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center-lg">
                            <article class="content-container">
                            <h2 class='red-title'>Meet Tapestri<sup>&trade;</sup></h2> 
                            <h2>the Precision Genomics Platform</h2>
                            <h3>Perform scalable, customizable, single-cell DNA analysis.</h3>
                            <p>The Mission Bio Tapestri Platform was developed to help advance precision medicine by enabling the accelerated and accessible detection of genomic variability within and across cell populations. Leveraging proprietary drop microfluidics, the platform unlocks access to DNA at the single-cell level with a novel two-step protease workflow. This methodology provides flexibility for additional applications and customization capability.</p>
                            <div class="button-container">
                                <a class="button tapestri-video-toggle" data-video='<script src="https://fast.wistia.com/embed/medias/7d4qd6syjw.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_7d4qd6syjw videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>'>watch video</a>
                            </div>
                            <h2 class='color-blue title-2'>HOW TAPESTRI WORKS</h2>
                            <h3>Our revolutionary platform plugs seamlessly into existing next-generation sequencing (NGS) workflows and includes the instrument, consumables, and software for downstream analysis.</h3>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="bg-section">
                    <div class="inner-parallax-container">
                        <div class="parallax-bg" style=" background: url(assets/img/pages/home/how-tapistri-works.jpg); background-position: center center;"></div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 text-center-lg">
                                <div>
                                <!-- select component goes here -->
                                    <div class="slide-select-ss">
                                        <ul class="slide-select-selectors clear">
                                            <li class="slide-selector active not-available">
                                                <div class="selector-content">
                                                    <span>Cell <br />Preparation</span>
                                                    <img src="assets/img/pages/home/icons/cell-prep.svg" />
                                                </div>
                                            </li>
                                            <li class="slide-selector">
                                                <div class="selector-content">
                                                    <span>Cell Encapsulation <br />+ Protease Addition</span>
                                                    <img src="assets/img/pages/home/icons/cell-encapsulation.svg" />
                                                </div>
                                            </li>
                                            <li class="slide-selector">
                                                <div class="selector-content">
                                                    <span>Cell Barcoding + <br />Reagent Addition</span>
                                                    <img src="assets/img/pages/home/icons/cell-barcoding.svg" />
                                                </div>
                                            </li>
                                            <li class="slide-selector not-available">
                                                <div class="selector-content">
                                                    <span>Downstream LIB <br />Prep + NGS</span>
                                                    <img src="assets/img/pages/home/icons/downstream-lib.svg" />
                                                </div>
                                            </li>
                                            <li class="slide-selector">
                                                <div class="selector-content">
                                                    <span>Data Analysis + <br />Visualization Software</span>
                                                    <img src="assets/img/pages/home/icons/data-analysis.svg" />
                                                </div>
                                            </li>
                                        </ul>
                                        <div class='slide-select-slides'>
                                            <div class='active'>
                                                <h3>Cell Preparation</h3>
                                                <p>Prepare a single-cell suspension to run on the Tapestri Instrument.</p>    
                                            </div>  
                                            <div>
                                                <h3>Cell Encapsulation + Protease Addition</h3>
                                                <p>Tapestri Instrument partitions cells into droplets along with a protease enzyme mix. Cell lysis and protease digestion then follow off-instrument enabling access to DNA for downstream amplification.</p>
                                            </div>
                                            <div>
                                                <h3>Cell Barcoding + Reagent Addition</h3>
                                                <p>The cell lysate is then combined with barcoded beads, primers, and reagents. Specific regions of interest are then amplified while tagging each amplicon with a unique cell barcode, preserving the cell’s identity and its mutational profile.</p>
                                            </div>
                                            <div>
                                                <h3>Downstream LIB Prep + NGS</h3>
                                                <p>Standard library prep follows, where sequencing adapters are added, followed by sequencing on the Illumina MiSeq System.</p>    
                                            </div> 
                                            <div>
                                                <h3>Data Analysis + Visualization Software</h3>
                                                <p>After running your sequencer, proceed with our downstream analysis and visualization software. Mission Bio provides dedicated bioinformatics support to help you discover biological and clinical insights.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-container">
                                        <a href='discover-more-with-tapestri.html' class="button">Learn more</a>
                                    </div>
                                    <div class="button-container">
                                        <a href="assets/pdf/Mission_Bio_Platform_Brochure.pdf" class="button" target="_blank">Download Brochure</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class='section'>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center-lg">
                            <article class="content-container top-content">
                                    <h2 class='color-green title-2'>TAPESTRI IN ACTION</h2>
                                    <h3>With the first application in acute myeloid leukemia (AML) targeting 19 genes with 40 amplicons, single nucleotide variant (SNV) and indel mutation detection at the single-cell level can now occur at unprecedented scale.</h3>
                            </article>
                            <article class="content-container bottom-content">
                                        <p>	&ldquo;In studying leukemias, we are excited about now having the ability to genotype multiple mutations at single-cell resolution in this level of high throughput.  Otherwise, the average readout from bulk sequencing misses these important insights in cellular heterogeneity. This new capability of single-cell analysis is critical to better understanding precision therapy selection at diagnosis as well as disease monitoring and subsequent treatment strategy.&rdquo;</p>
                                        <h5><b>Koichi Takahashi, MD, Assistant Professor</b><br> MD Anderson Cancer Center</h5>
                                <div class="button-container">
                                    <a href='assets/pdf/Mission Bio_Tapestri Single-Cell DNA AML Kit.pdf' class="button"  target="_blank">Download AML Kit Flyer</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <section class='section bg-grey'>
                <div class="id-marker" id='scientific-presentations'></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center-lg">
                            <div class="content-container top-content">
                                <h2 class='color-blue title-2'>SCIENTIFIC PRESENTATION</h2>
                                <h3>Watch interactive presentations with experts discussing details about the Tapestri Platform and its applications in precision medicine research.</h3>
                            </div>
                            <div class="content-container bottom-content video-block-container clear">
                                <div class="video-block"  data-view-trigger="1">
                                    <img src="assets/img/pages/home/video-posters/charlie-silver.jpg" alt="Charlie Silver, CEO">
                                    <h3>Charlie Silver, CEO</h3>
                                    <p>Pioneering Single-Cell DNA Sequencing with High Throughput Droplet Microfluidics</p>
                                    <div class="button-container">
                                        <span class="button">WATCH</span>
                                    </div>
                                </div>
                                <div class="video-block" data-view-trigger="2">
                                    <img src="assets/img/pages/home/video-posters/dennis-eastburn.jpg" alt="Dennis Eastburn, Ph.D.">
                                    <h3>Dennis Eastburn, Ph.D.</h3>
                                    <p>Tapestri: Precision Genomics Platform</p>
                                    <div class="button-container">
                                        <span class="button">WATCH</span>
                                    </div> 
                                </div>
                                <div class="video-block"  data-view-trigger="3">
                                    <img src="assets/img/pages/home/video-posters/koichi-takahashi.jpg" alt="Koichi Takahashi, MD">
                                    <h3>Koichi Takahashi, MD</h3>
                                    <p>High-throughput single-cell DNA sequencing of AML tumors by droplet microfluidics</p>
                                    <div class="button-container">
                                        <span class="button">WATCH</span>
                                    </div>
                                </div>
                                <div class="video-block"  data-view-trigger="4">
                                    <img src="assets/img/pages/home/video-posters/liwen-xu.jpg" alt="Liwen Xu, Ph.D.">
                                    <h3>Liwen Xu, Ph.D.</h3>
                                    <p>Clonal Evolution and Changes of Gene Mutations in Two AML Patients Detected with Mission Bio Single-cell DNA Sequencing</p>
                                    <div class="button-container">
                                        <span class="button">WATCH</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
            
        <section>
            <div class="id-marker" id='who-we-are'></div>
            <section class='section round-corner bg-blue-dark'>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center-lg">
                            <article class="content-container top-content">
                                <h2>Discovery is in our <span class='color-blue'>DNA</span></h2>
                                <h3>Mission Bio is a company of passionate people dedicated to solving complex biological problems with precision engineering, innovative biochemistry, and supported bioinformatics. </h3>
                                <div class="button-container">
                                    <a href='team.html' class="button">Meet our Management</a>
                                </div>
                                <div class="button-container">
                                    <a href='assets/pdf/Mission_Bio_Company_Profile_Brochure.pdf' class="button"  target="_blank">company brochure</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <section class='section parallax-container'>
                <div class="parallax-bg" style=" background: url(assets/img/pages/home/discovery.jpg); background-position: center left;"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-7">
                            <article class="content-container">
                                <p>In 2014, the company was spun out of Adam Abate’s lab for high-throughput biology at the University of California, San Francisco (UCSF). Mission Bio’s precision genomics platform is based on the pioneering droplet microfluidics work of Abate and his team.</p>
                                <p>Our mission is to help researchers and clinicians unlock single-cell biology to enable the discovery, development, and delivery of precision medicine. </p>
                                <div class="button-container">
                                    <a class="button" data-video='<script src="https://fast.wistia.com/embed/medias/8sze3ptrq0.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_8sze3ptrq0 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>'>Watch Video</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-5 hide-small"  data-center="sm">
                            <div class="content-container">
                                <div class="play-button" data-video='<script src="https://fast.wistia.com/embed/medias/8sze3ptrq0.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_8sze3ptrq0 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>'>
                                    <span>play</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class='section bg-blue-dark'>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center-lg">
                            <article class="content-container top-content">
                                <h2 class='color-green title-2'>CURRENT INVESTORS</h2>
                                <h3>Mission Bio is proud to have support from these major investors.</h3>
                                <div class="logo-container">
                                    <a href="https://www.mayfield.com/" target="_blank">
                                        <img src="assets/img/pages/home/investors/Mayfield_Logo_white.png" alt="">
                                    </a>
                                    <a href="https://startx.com/" target="_blank">
                                        <img src="assets/img/pages/home/investors/startx_logo_white.png" alt="">
                                    </a>
                                    <a href="http://www.keiretsuforum.com/" target="_blank">
                                        <img src="assets/img/pages/home/investors/keiretsu_logo_white.png" alt="">
                                    </a>
                                    <a href="http://gpgventures.com/" target="_blank">
                                        <img src="assets/img/pages/home/investors/GPG_Logo.png" alt="">
                                    </a>
                                    <a href="http://cotacapital.com/" target="_blank">
                                        <img src="assets/img/pages/home/investors/Cota-Logo.png" alt="">
                                    </a>
                                    <a href="https://www.newgencap.com/landing" target="_blank">
                                        <img src="assets/img/pages/home/investors/NewGen-Capital.png" alt="">
                                    </a>
                                    <a href="http://www.tsingyuan.ventures/" target="_blank">
                                        <img src="assets/img/pages/home/investors/Tsingyuan-Ventures.png" alt="">
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <section class='section round-corner'>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center-lg">
                            <article class="content-container top-content">
                                <h2>Move your career <span class="color-red">forward</span></h2>
                                <h3>If you’re a collaborative, curious, hardworking professional who thrives in a fast-paced, dynamic, supportive environment, we’d love to meet you.</h3>
                                <div class='listing-group  blue-line'>
                                    <a href='careers-data-scientist-I-II.html' class='listing-group__item'>
                                        <h3>Data Scientist I/II</h3>
                                        <span>Learn more</span>
                                    </a>
                                    <a href='careers-field-bioinformatics-specialist.html' class='listing-group__item'>
                                        <h3>Field Bioinformatics Specialist</h3>
                                        <span>Learn more</span>
                                    </a>
                                    <a href='careers-manufacturing-sciences-technician.html' class='listing-group__item'>
                                        <h3>Manufacturing Sciences Technician</h3>
                                        <span>Learn more</span>
                                    </a>
                                    <a href='careers-technical-support-specialist.html' class='listing-group__item'>
                                        <h3>Technical Support Specialist</h3>
                                        <span>Learn more</span>
                                    </a>
                                    <a href='careers-sales-operations-manager.html' class='listing-group__item'>
                                        <h3>Sales Operations Manager</h3>
                                        <span>Learn more</span>
                                    </a>
                                    <a href='careers-technical-support-specialist.html' class='listing-group__item'>
                                        <h3>Technical Support Specialist</h3>
                                        <span>Learn more</span>
                                    </a>
                                    <a href='careers-director-of-marketing.html' class='listing-group__item'>
                                        <h3>Director of Marketing</h3>
                                        <span>Learn more</span>
                                    </a>
                                </div>
                             
                            </article>
                            <article class="content-container bottom-content">
                                <h2 class="color-blue title-2">NEWS &amp; EVENTS</h2>
                                <h3>Learn about the latest developments in <br>precision medicine at Mission Bio.</h3>
                                <div class='listing-group blue-line'>   
                                    <a href='https://www.genomeweb.com/sequencing/mission-bio-harnesses-droplet-microfluidic-tech-single-cell-dna-analysis-focuses-aml' target="_blank" class='listing-group__item'>
                                        <h3><span class="color-blue">IN THE NEWS:</span> Mission Bio Harnesses Droplet Microfluidic Tech for Single-Cell DNA Analysis; Focuses on AML</h3>
                                        <span>read</span>
                                    </a>
                                    <a href='Mission-Bio-Debuts-Custom-Panels-for-Tapestri.html' class='listing-group__item'>
                                        <h3><span class="color-blue">PRESS RELEASE:</span> Mission Bio Debuts Custom Panels for Tapestri</h3>
                                        <span>read</span>
                                    </a> 
                                    <a href='Mission-Bio-Awarded-Grant-from-National-Institutes-of-Health.html' class='listing-group__item'>
                                        <h3><span class="color-blue">PRESS RELEASE:</span> Mission Bio Awarded Grant from National Institutes of Health</h3>
                                        <span>read</span>
                                    </a> 
                                    <a href='precision-medicine-world-conference.html' class='listing-group__item'>
                                        <h3><span class="color-blue">EVENT:</span> Precision Medicine World Conference 2018 (PMWC) - Silicon Valley, CA</h3>
                                        <span>read</span>
                                    </a> 
                                </div> 
                                <div class="button-container">
                                    <a href='news-events.html' class="button" >view all</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </section>
               

        

        {% include "partials/contact-section.html" %} 
        {% include "partials/popup.html" %}
        {% include "partials/video-modal.html" %}
           
        
    </div>
    {% include "partials/footer.html" %} 
</div>

{% endblock %}
