{% set title = 'Mission Bio Adds to Executive Team to Move Precision Medicine Forward' %}
{% set description = 'Mission Bio Adds to Executive Team to Move Precision Medicine Forward.' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">
      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <article class="content-container">
                    <h2>Mission Bio Adds to Executive Team to Move Precision Medicine Forward</h2>
                    <p><i>Key appointments follow on Series A financing to support the commercialization and distribution of the world’s first precision genomics platform for high throughput single-cell DNA analysis</i></p>
                    <p><b>SOUTH SAN FRANCISCO, Calif.—November 3, 2017</b>—Mission Bio, Inc., a leader in single-cell analysis and precision genomics, today announced new additions to the senior management team as the company scales and commercializes Tapestri, a precision genomics platform to support the discovery, development and delivery of precision medicine. Joining the company are Pat Brooks as Senior Vice President of Sales and Sales Operations; Rebecca Galler as Senior Vice President of Marketing; and Keith Jones, Ph.D. as Senior Vice President of Product Development. The new team members follow on last month’s announcement of a $10 million Series A funding round led by Silicon Valley venture capital firm Mayfield Fund.</p>
                    <p>"It’s a privilege to bring such experienced talent onto our executive team,” said Charlie Silver, CEO of Mission Bio. “All are leaders within their respective fields and have extensive healthcare and life science experience, and their unique combination of expertise will help us deploy our platform for the best impact in clinical research and precision medicine."</p>
                    <p>Pat Brooks brings more than 30 years of international sales experience within the life sciences industry to Mission Bio. He will lead the global deployment of the Tapestri platform worldwide. Prior to joining Mission Bio, Brooks spent three years as Vice President of Global Sales and Development at Cellular Dynamics International. His sales leadership experience also includes Vice President roles at Ion Torrent, Pacific Biosciences and Affymetrix.  Brooks holds both Master of Science and Bachelor of Science degrees from the University of Iowa.</p>
                    <p>Ms. Galler comes to Mission Bio with 20 years of life sciences and healthcare experience across multiple business disciplines. As SVP of Marketing, Galler will oversee the corporate and brand development and marketing of Mission Bio and Tapestri. Recent experience includes strategic marketing for venture-backed companies Qventus and Castlight Health. Her leadership experience includes, Head of Corporate Strategy at Sirna Therapeutics, Director of Private Equity at INVESCO Funds Group, and  VP of Marketing at Preferred Global Health. Galler holds an M.B.A. from Columbia University and a B.A. from Barnard College.</p>
                    <p> Dr. Jones is an industry expert in the research and development of molecular assays for genetic analysis. In his role, he oversees the product development of Tapestri, including the instrument and AML panels currently for sale, and customizable panels which will launch next year.   Before Mission Bio, Dr. Jones was Senior Vice President of Molecular Assay Research and Development at Verinata Health, acquired by Illumina, and served as the Vice President of Molecular Genetics at Affymetrix for 11 years.  He holds his Ph.D. in pharmacology from Stanford University School of Medicine and undergraduate degrees in Chemistry and Biological Sciences from the University of California, Irvine.</p>
                    <p>The Tapestri platform, which includes an instrument, consumables and software, is a scalable, highly sensitive and customizable precision genomics platform. Leveraging proprietary microfluidics with throughput up to 10,000 cells and DNA accessibility at the single-cell level, researchers and clinicians can now identify with unprecedented scale and sensitivity the important differences among cells within a patient sample that may impact disease progression and treatment. Early access customers from MD Anderson Cancer Center and Stanford University School of Medicine report promising data in the use of Tapestri to support their research of acute myeloid leukemia (AML). For more information on Tapestri, including videos and images, please visit the company’s website.</p>
                    <h3>About Mission Bio, Inc.</h3>
                    <p>The Mission Bio Tapestri platform provides researchers a precision genomics platform to support the discovery, development and delivery of precision medicine. Our proprietary droplet microfluidics platform enables scalable detection of genomic variability with access to DNA at the single-cell level. The Tapestri platform includes our instrument, consumables and software, which plug seamlessly into existing NGS workflows. With Mission Bio, researchers have a highly sensitive and customizable solution that is fully supported to enable meaningful discoveries. <a href="http://www.missionbio.com/">missionbio.com</a>  <a href="https://twitter.com/MissionBio/" target="_blank" >twitter.com/MissionBio</a>  <a href="https://www.linkedin.com/company/3882975/" target="_blank" >linkedin.com/company/3882975/</a></p>
                    <p><strong>Media Contact:</strong><br>
                        Andrea Vuturo<br>
                        <a href="mailto:andreahawleypr@gmail.com">andreahawleypr@gmail.com</a><br>
                        847-772-2205
                    </p> 
                    <p><strong>Mission Bio::</strong><br> 
                        Rebecca Galler<br>
                        Senior Vice President, Marketing<br>
                        <a href="mailto:galler@missionbio.com">galler@missionbio.com</a><br>
                        (303) 887-7658
                    </p>
                  </article>
               </div>
            </div>
         </div>
      </section>
   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}