{% set title = 'Mission Bio Debuts Custom Panels for Tapestri' %}
{% set description = 'Researchers from National Cancer Institute and Memorial Sloan Kettering selected as winners of Custom Panel Grant to be among the first to gain access to the leading high throughput single-cell DNA analysis platform' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">
      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                    <article class="content-container">
                        <h2>Mission Bio Debuts Custom Panels for Tapestri</h2>
                        <p><i>Researchers from National Cancer Institute and Memorial Sloan Kettering selected as winners of Custom Panel Grant to be among the first to gain access to the leading high throughput single-cell DNA analysis platform</i>
                        <b>SOUTH SAN FRANCISCO, Calif.—February 6, 2018</b></p>
                        <p>Mission Bio, Inc., a leader in single-cell DNA analysis and precision genomics, today announced the launch of Tapestri Custom Panels, an industry-first single-cell DNA capability that allows researchers and clinicians to focus on the genetic mutations most impactful to their research and patients. With a throughput of up to 10,000 cells per run, Tapestri Custom Panels are compatible with a wide variety of samples including cell lines, PBMCs, bone marrow, and fresh frozen solid tissue nuclei, enabling researchers examining a range of complex diseases to fully resolve clonal heterogeneity and mutational co-occurrence, something previously impossible with bulk sequencing.</p>
                        <p>"Since our inception, researchers have come to us looking for a solution that allows them to target the individual genes that are most important to their specific area of study,” said Charlie Silver, Chief Executive Officer of Mission Bio. “Since launching Tapestri, we have been able to partner with the leading minds in single-cell genomics and the fight against hematological malignancies to make discoveries that could one day help realize the promise of precision medicine."</p>
                        <p>Tapestri Custom Panel availability coincides with the announcement of the winners of Mission Bio’s Custom Panel Grant Program, which provides two research labs with funding to build a custom single-cell DNA panel on the Tapestri platform and collaborate with Mission Bio for single-cell mutational profiling. Joseph Boland and Lisa McReynolds, M.D., Ph.D., from the National Cancer Institute (NCI), and Ross Levine, M.D. and Aaron Viny, M.D., from Memorial Sloan Kettering Cancer Center, will be the first Tapestri customers to have access to the Tapestri Platform and Tapestri Custom Panels in their work.</p>
                        <p>"Winning this custom panel grant is exciting for the Levine Lab, as it will further enable our active research in hematologic malignancies and clonal hematopoiesis,” said Ross L. Levine, Director, MSK Center for Hematologic Malignancies at the Ross Levine Laboratory at Memorial Sloan Kettering Cancer Center.  “We use cutting edge single-cell techniques like the Tapestri Platform to give us insights into the selective advantages certain mutations confer in hematopoietic stem and progenitor cells, along with examining clonal heterogeneity including in the detection of minimal residual disease."</p>
                        <p>The Tapestri platform, which debuted in October 2017 and includes an instrument, consumables and software, is a scalable, highly sensitive and customizable precision genomics platform. Leveraging proprietary microfluidics with throughput up to 10,000 cells and DNA accessibility at the single-cell level, researchers and clinicians can now identify with unprecedented scale and sensitivity the important differences among cells within a patient sample that may impact disease progression and treatment.</p>
                        <p>"We are excited to use the custom panel grant to apply single-cell technology to research in dyskeratosis congenita (DC), an inherited bone marrow failure syndrome caused by germline pathogenic variants in telomere biology genes. Since DC patients can progress to myelodysplastic syndrome and acute myeloid leukemia after years of cytopenias, we plan to use the Tapestri platform to better understand the role that mutation acquisition has in disease transformation,"”" said Dr. McReynolds.</p>
                        <p>Mission Bio has received several grants from the NIH, NSF and NHGR supporting its work in single-cell biology.  In October, the company announced it’s <a href="http://www.missionbio.com/precision-medicine-meets-single-cell-dna-analysis-with-mission-bio.html" target="_blank">Series A funding</a> to support the commercialization  of Tapestri. Early access customers  Koichi Takahashi, M.D., from MD Anderson Cancer Center, and Liwen Xu, Ph.D., from Stanford University, presented encouraging preliminary data showing how single-cell DNA sequencing may have the potential to detect  minimal residual disease after complete remission, a current limitation of bulk sequencing. A video of of their presentations, can be found <a href="http://www.missionbio.com/#scientific-presentations" target="_blank">here</a>.</p>
                        <p>For more information on Tapestri, including videos and images, please visit the company’s <a href="http://www.missionbio.com/" target="_blank">website.</a> <i>Research reported in this publication was supported by the National Human Genome Research Institute of the National Institutes of Health under Award Number R44HG009465. The content is solely the responsibility of the authors and does not necessarily represent the official views of the National Institutes of Health.</i></p>
                        <h3>About Mission Bio, Inc.</h3>
                        <p>The Mission Bio Tapestri platform provides researchers a precision genomics platform to support the discovery, development and delivery of precision medicine. Our proprietary droplet microfluidics platform enables scalable detection of genomic variability with access to DNA at the single-cell level. The Tapestri platform includes our instrument, consumables and software, which plug seamlessly into existing NGS workflows. With Mission Bio, researchers have a highly sensitive and customizable solution that is fully supported to enable meaningful discoveries. <a href="http://www.missionbio.com/" target="_blank">missionbio.com</a> <a href="https://twitter.com/MissionBio" target="_blank">twitter.com/MissionBio</a> <a href="https://www.linkedin.com/company/3882975/" target="_blank">linkedin.com/company/3882975/</a></p> 
                        <p><strong>Media Contact:</strong><br>
                            Andrea Vuturo<br>
                            <a href="mailto:andreahawleypr@gmail.com">andreahawleypr@gmail.com</a><br>
                            (415) 689-8414<br>  
                        </p>
                        <p><strong>Mission Bio:</strong><br> 
                            Rebecca Galler<br>
                            Senior Vice President, Marketing<br>
                            <a href="mailto:galler@missionbio.com">galler@missionbio.com</a><br>
                            (303) 887-7658<br>  
                        </p>
                    </article>
               </div> 
            </div>
         </div>
      </section>
   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}