{% set title = 'Mission Bio Receives Investment from Life Science Angels' %}
{% set description = 'Single-cell genomics startup gaining nationwide momentum.' %}

{% extends "./layouts/default.html" %}
 {% block content %}
 <div class="main-body">
    {% include "partials/header.html" %} 
    <div class="main-content">
       <section class="section">
          <div class="container-fluid">
             <div class="row">
                <div class="col-sm-12">
                   <article class="content-container">
                    <h2>Mission Bio Receives Investment from Life Science Angels: Single-cell genomics startup gaining nationwide momentum</h2>
                    <p>SOUTH SAN FRANCISCO, CA—February 6, 2017—Mission Bio, Inc. announced today that it has secured funding from U.S. top ranked angel investment group Life Science Angels (LSA) in a seed round to commercialize its high throughput single-cell genomics system.</p>
                    <p>Mission Bio is developing a microfluidic, droplet-based platform to enable critical advances in diseases like cancer, where elucidating heterogeneity in cell populations is essential. The company spun out of the University of California, San Francisco (UCSF) three years ago, and gained attention in the last year after securing U.S. National Institutes of Health (NIH) and U.S. National Science Foundation (NSF) grants and winning the <a href="http://missionbio.com/mission-bio-cyto-amgen-qb3at953-awards/" target="_blank">QB3@953 Amgen Golden Ticket Award and CYTO Innovation Award in 2016.</a> Earlier funding came from Tech Coast Angels and Keiretsu Forum, as well as other seed-stage investment funds.</p>
                    <p>“The vision and entrepreneurial drive of the LSA group helps fuel the development of businesses that play a key role in advancing health care,” said Charlie Silver, chief executive officer of Mission Bio. “We are proud that LSA’s team of sophisticated life sciences investors supports the work we are doing to help academic researchers and pharmaceutical and biotech companies impact patient care with tools for precision biology.”</p>
                    <p>Life Science Angels is an angel investment group focused solely on biotechnology, genomics, diagnostics, medical device and mobile health companies. Since 2005, LSA and its affiliates have invested over $50 million in 50 companies which have received an additional $500+ million on follow-on funding from VCs.</p>
                    <p>“Mission Bio’s tools for high throughput single-cell genomics offer great promise for improving cancer research and thus, cancer treatment, and the team has shown skill in developing this powerful technology,” said Allan May, Chairman of Life Sciences Angels. “LSA is pleased to support Mission Bio’s goal of leading the single-cell genomics market into clinical research applications.”</p>
                    <h4 style="text-decoration: underline;">About Mission Bio, Inc.</h4>
                    <p>Mission Bio, Inc. is innovating technologies to analyze single cells within complex biological systems, revealing critical information not observable from bulk sample analysis. With proprietary microfluidic droplet technology, Mission Bio is developing research tools that allow high-throughput, single-cell nucleic acid characterization across a variety of research applications, including oncology and immunology.</p>
                    <h4 style="text-decoration: underline;">About Life Science Angels</h4>
                    <p>Life Science Angels (LSA) was founded in 2005 by senior life science executives and experienced angel investors as a vehicle to bring angel capital to worthy early-stage biotech and medical device companies. Formally launched in January 2005 with backing of 15 industry sponsors, LSA follows a rigorous due diligence process before presenting investment opportunities to its membership. LSA also works with select angel groups, venture capitalists, and outside investors to syndicate opportunities requiring larger investments. LSA portfolio companies are improving the standard of care across a broad spectrum of therapeutic and diagnostic areas.</p>
                    <p><b>Media Contact:</b><br>
                        Andrea Vuturo<br>
                        847-772-2205<br>
                        <a href="mailto:andreahawleypr@gmail.com" target="_blank">andreahawleypr@gmail.com</a>
                    </p>
                   </article>
                </div>
             </div>
          </div>
       </section>
    </div>
    {% include "partials/footer.html" %} 
 </div>
 {% endblock %}