{% set title = 'Mission Bio Awarded Grant from National Institutes of Health' %}
{% set description = 'Company to present additional information on harnessing the power of world’s first precision genomics platform for high throughput single-cell DNA analysis' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">
      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                    <article class="content-container">
                        <h2>Mission Bio Awarded Grant from National Institutes of Health</h2>
                        <p><i>Company to present additional information on harnessing the power of world’s first precision genomics platform for high throughput single-cell DNA analysis at American Society of Hematology annual meeting</i>
                        <b>ATLANTA and SOUTH SAN FRANCISCO, Calif.—December 8, 2017</b></p>
                        <p>Mission Bio, Inc., a leader in single-cell analysis and precision genomics, today announced it received an approximately $1 million Direct to Phase II SBIR grant from National Human Genome Research Institute (NHGRI), National Institutes of Health (NIH) to support the continued development of Tapestri™, a precision genomics platform to support the discovery, development and delivery of precision medicine. The announcement was made at the 59th Annual Meeting of the American Society of Hematology (ASH), being held this week in Atlanta. Mission Bio Chief Scientific Officer Dennis Eastburn, Ph.D., the principle investigator for the NIH grant, will highlight the power of Tapestri with a presentation at ASH titled, “High-Throughput Single-Cell DNA Sequencing of AML Tumors with Droplet Microfluidics,” on Monday, December 11 from 6:00 p.m.-8:00 p.m. EST.
                        “We are delighted that the NHGRI/NIH made this award. The single-cell sequencing capability developed through this grant addresses the role that genetic heterogeneity plays in the progression of acute myeloid leukemia and will potentially lead to improved stratification and therapy selection for the disease,” said Dr. Eastburn.</p>
                        <p>The Tapestri platform, which includes an instrument, consumables and software, is a scalable, highly sensitive and customizable precision genomics platform. Leveraging proprietary microfluidics with throughput up to 10,000 cells and DNA accessibility at the single-cell level, researchers and clinicians can now identify with unprecedented scale and sensitivity the important differences among cells within a patient sample that may impact disease progression and treatment.</p>
                        <p>The commercialization grant from the NIH, along with the company’s previously announced <a href="http://www.missionbio.com/precision-medicine-meets-single-cell-dna-analysis-with-mission-bio.html" target="_blank">Series A funding,</a> enables Tapestri to be used by early researchers investigating acute myeloid leukemia (AML), including Koichi Takahashi, M.D., from MD Anderson Cancer Center. Dr. Takahashi previously presented encouraging preliminary data showing how single-cell DNA sequencing may have the potential to detect  minimal residual disease after complete remission, a current limitation of bulk sequencing. A video of the full workshop, including Dr. Takahashi’s research, can be found <a href="http://www.missionbio.com/" target="_blank">here.</a></p>
                        <p>"AML and many blood cancers are devastating and complex diseases that requires us to look at every single cell to identify better precision treatments," said Charlie Silver, Chief Executive Officer of Mission Bio. "The preliminary data from Dr. Takahashi and others show us the potential impact Tapestri can have on the path toward getting the right patients the right treatment at the right time."</p>
                        <p>Mission Bio began selling the Tapestri instrument and its first panel for acute myeloid leukemia kit in October 2017.</p>
                        <p>For more information on Tapestri, including videos and images, please visit the company’s <a href="http://www.missionbio.com/" target="_blank">website.</a> <i>Research reported in this publication was supported by the National Human Genome Research Institute of the National Institutes of Health under Award Number R44HG009465. The content is solely the responsibility of the authors and does not necessarily represent the official views of the National Institutes of Health.</i></p>
                        <h3>About Mission Bio, Inc.</h3>
                        <p>The Mission Bio Tapestri platform provides researchers a precision genomics platform to support the discovery, development and delivery of precision medicine. Our proprietary droplet microfluidics platform enables scalable detection of genomic variability with access to DNA at the single-cell level. The Tapestri platform includes our instrument, consumables and software, which plug seamlessly into existing NGS workflows. With Mission Bio, researchers have a highly sensitive and customizable solution that is fully supported to enable meaningful discoveries. <a href="http://www.missionbio.com/" target="_blank">missionbio.com</a> <a href="https://twitter.com/MissionBio" target="_blank">twitter.com/MissionBio</a> <a href="https://www.linkedin.com/company/3882975/" target="_blank">linkedin.com/company/3882975/</a></p> 
                        <p><strong>Media Contact:</strong><br>
                            Andrea Vuturo<br>
                            <a href="mailto:andreahawleypr@gmail.com">andreahawleypr@gmail.com</a><br>
                            (415) 689-8414<br>  
                        </p>
                        <p><strong>Mission Bio:</strong><br> 
                            Rebecca Galler<br>
                            Senior Vice President, Marketing<br>
                            <a href="mailto:galler@missionbio.com">galler@missionbio.com</a><br>
                            (303) 887-7658<br>  
                        </p>
                    </article>
               </div> 
            </div>
         </div>
      </section>
   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}