{% set title = 'Mission Bio Co-Founder Awarded Grant from Chan-Zuckerberg Foundation' %}
{% set description = 'Renowned single-cell genomics researcher receives funding to further his work.' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">
      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <article class="content-container">
                    <h2>Mission Bio Co-Founder Awarded Grant from Chan-Zuckerberg Foundation: Renowned Single-Cell Genomics Researcher Receives Funding to Further His Work</h2>
                    <p>SOUTH SAN FRANCISCO, CALIF.—FEBRUARY 14, 2017—Mission Bio, Inc., congratulates co-founder and single-cell genomics pioneer Adam Abate, Ph.D., on receiving a grant from the Chan-Zuckerberg Foundation. Abate’s proprietary research in high throughput and droplet technology helped lay the foundation for Mission Bio’s single-cell genomics system.</p>
                    <p>The award to Abate immediately follows the news that Mission Bio has secured funding from U.S. top ranked angel investment group Life Science Angels (LSA). Previous money has been raised from Tech Coast Angels and Keiretsu Forum, among other seed-stage investment funds. Mission Bio is well into development of a microfluidic, droplet-based platform to enable critical advances in diseases like cancer, where elucidating heterogeneity in cell populations is essential.</p>
                    <p>“Cellular heterogeneity characterizes diseases like cancer, and single-cell genomics enable resolution which bulk genomics cannot provide,” said Charlie Silver, CEO of Mission Bio. “The award to Adam signifies the importance of innovative solutions in single-cell genomics that could change the course of treatment and improve patient outcomes.”</p>
                    <p>According to the foundation’s website, the CZ Biohub Investigator Program offers unrestricted funding for research by world-renowned scientists, engineers and technologists from University of California-Berkeley, Stanford, and University of California-San Francisco (UCSF).</p>
                    <p>“We develop technology that gives researchers the opportunity to take a more specific look at genetic mutations and other factors in human biology that lead to diseases. Single-cell tools will move us closer to the Chan-Zuckerberg Biohub’s objective of curing, preventing, and managing disease,” said Dr. Abate.</p>
                    <p>Mission Bio spun out of UCSF three years ago, and gained attention in the last year after securing U.S. National Institutes of Health (NIH) and U.S. National Science Foundation (NSF) grants and winning the <a href="http://missionbio.com/mission-bio-cyto-amgen-qb3at953-awards/">QB3@953 Amgen Golden Ticket Award and CYTO Innovation Award in 2016</a>. Earlier funding came from Tech Coast Angels and Keiretsu Forum, as well as other seed-stage investment funds. For more information on Mission Bio, please visit <a href="http://missionbio.com">www.missionbio.com</a>.</p>
                    <h4 style="text-decoration: underline;">About Mission Bio, Inc.</h4>
                    <p>Mission Bio, Inc. is innovating technologies to analyze single cells within complex biological systems, revealing critical information not observable from bulk sample analysis. With proprietary microfluidic droplet technology, Mission Bio is developing research tools that allow high-throughput, single-cell nucleic acid characterization across a variety of research applications, including oncology and immunology.</p>
                    <p><strong>Media Contact:</strong><br>
                        Andrea Vuturo<br>
                        847-772-2205<br>
                        <a href="mailto:andreahawleypr@gmail.com">andreahawleypr@gmail.com</a>
                    </p>
                  </article>
               </div> 
            </div>
         </div>
      </section>
   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}