{% set title = 'Mission Bio wins CYTO Innovation and QB3@953 Amgen Golden Ticket Awards' %}
{% set description = 'Mission Bio won two awards in June 2016, including the CYTO Innovation Award at CYTO 2016 in Seattle, Washington and the QB3@953 Amgen Golden Ticket Award.' %}

{% extends "./layouts/default.html" %}
 {% block content %}
 <div class="main-body">
    {% include "partials/header.html" %} 
    <div class="main-content">
       <section class="section">
          <div class="container-fluid">
             <div class="row">
                <div class="col-sm-12">
                   <article class="content-container">
                       <h2>Mission Bio wins CYTO Innovation and QB3@953 Amgen Golden Ticket Awards</h2>
                        <p>Mission Bio recently won two awards in June 2016, including the CYTO Innovation Award at <a href="http://cytoconference.org/2016/Home.aspx" target="_blank">CYTO 2016</a> in Seattle, Washington and the QB3@953 Amgen Golden Ticket Award. The CYTO Innovation Award recognizes the best presentation from the CYTO 2016 Technology Showcase, which highlights novel technologies for cell analysis that are in early stages of development to commercialization. The QB3@953 Amgen Golden Ticket Award supports the research and development efforts of startups with one year of lab space at the QB3@953 incubator, along with access to the scientific and business expertise from Amgen. <a href="http://www.amgen.com/media/news-releases/2016/06/amgen-sponsors-qb3953-incubator-for-life-science-startups/" target="_blank">Read more</a></p>
                   </article>
                </div>
             </div>
          </div>
       </section>
    </div>
    {% include "partials/footer.html" %} 
 </div>
 {% endblock %}