{% set title = 'News and Events' %}
{% set description = 'Learn about the latest developments in precision medicine at Mission Bio.' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">

    <section class='section round-corner'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-center-lg">
                    <article class="content-container">
                        <h2 class="color-blue title-2">PRESS RELEASES</h2>
                        <div class='listing-group blue-line'>
                            <a href='Mission-Bio-Awarded-Grant-from-National-Institutes-of-Health.html' class='listing-group__item'>
                                <h3>Mission Bio Awarded Grant from National Institutes of Health</h3>
                                <span>read</span>
                            </a> 
                            <a href='Mission-Bio-Adds-to-Executive-Team-to-Move-Precision-Medicine-Forward.html' class='listing-group__item'>
                                <h3>Mission Bio Adds to Executive Team to Move Precision Medicine Forward</h3>
                                <span>read</span>
                            </a>
                            <a href='precision-medicine-meets-single-cell-dna-analysis-with-mission-bio.html' class='listing-group__item'>
                                <h3>Precision Medicine meets Single-Cell DNA Analysis with Mission Bio</h3>
                                <span>read</span>
                            </a>
                            <a href='mission-bio-co-founder-awarded-grant-chan-zuckerberg-foundation-renowned-single-cell-genomics-researcher-receives-funding-work.html' class='listing-group__item'>
                                <h3>Mission Bio Co-Founder Awarded Grant from Chan-Zuckerberg Foundation</h3>
                                <span>read</span>
                            </a>
                            <a href="mission-bio-cyto-amgen-qb3at953-awards.html" class='listing-group__item'>
                                <h3>Mission Bio wins CYTO Innovation and QB3@953 Amgen Golden Ticket Awards</h3>
                                <span>read</span> 
                            </a>
                            <a href='mission-bio-receives-investment-life-science-angels.html' class='listing-group__item'>
                                <h3>Mission Bio Receives Investment from Life Science Angels</h3>
                                <span>read</span>
                            </a>
                        </div>
                    </article>
                    <article class="content-container">
                        <h2 class="color-blue title-2">IN THE NEWS</h2>
                        <div class='listing-group blue-line'>
                            <a href='https://www.genomeweb.com/sequencing/mission-bio-harnesses-droplet-microfluidic-tech-single-cell-dna-analysis-focuses-aml' target="_blank" class='listing-group__item'>
                                <h3>Mission Bio Harnesses Droplet Microfluidic Tech for Single-Cell DNA Analysis; Focuses on AML</h3>
                                <span>read</span>
                            </a>
                            <a href='https://www.decibio.com/2017/10/17/mission-bio-launches-single-cell-dna-analysis-platform-ashg-2017/' target="_blank" class='listing-group__item'>
                                <h3>Mission Bio Launches Single-Cell DNA Analysis Platform at ASHG 2017</h3>
                                <span>read</span>
                            </a>
                            <a href='http://www.globaluniversityventuring.com/article.php/6183/mission-bios-series-a-readout-hits-10m' target="_blank" class='listing-group__item'>
                                <h3>Mission Bio’s Series A Readout Hits $10M</h3>
                                <span>read</span>
                            </a>
                            <a href='http://www.selectscience.net/product-news/mission-bio/precision-medicine-meets-single-cell-dna-analysis/?&artID=44980' target="_blank" class='listing-group__item'>
                                <h3>Product News: Precision Medicine Meets Single-Cell DNA Analysis</h3>
                                <span>read</span>
                            </a>
                            <a href='https://www.technologynetworks.com/tn/product-news/precision-medicine-meets-single-cell-dna-analysis-with-mission-bio-293356' target="_blank" class='listing-group__item'>
                                <h3>Precision Medicine Meets Single-Cell DNA Analysis With Mission Bio</h3>
                                <span>read</span>
                            </a>
                            <a href='https://www.axios.com/pro-rata-2497302752.html' target="_blank" class='listing-group__item'>
                                <h3>Top of the Morning: Venture Capital Deals - Mission Bio Raises $10MM</h3>
                                <span>read</span>
                            </a>
                            <a href='http://fortune.com/2017/10/17/term-sheet-tuesday-october-17/' target="_blank" class='listing-group__item'>
                                <h3>Health Science Deals: Mission Bio Raises $10 MM</h3>
                                <span>read</span>
                            </a>
                            <a href='http://newscenter.io/2017/10/mission-bio-inc-raises-10m-series/' target="_blank" class='listing-group__item'>
                                <h3>Mission Bio, Inc. Raises $10M Series A</h3>
                                <span>read</span>
                            </a>
                            <a href='https://www.genomeweb.com/sequencing/mission-bio-raises-10m-series-round' target="_blank" class='listing-group__item'>
                                <h3>Mission Bio Raises $10M in Series A Round</h3>
                                <span>read</span>
                            </a>
                            <a href='http://omicsomics.blogspot.com/2017/10/mission-bio-launches-tapestri-single.html' target="_blank" class='listing-group__item'>
                                <h3>Mission Bio Launches Tapestri Single Cell Platform</h3>
                                <span>read</span>
                            </a>
                            <a href='https://pitchbook.com/newsletter/mission-bio-closes-10m-series-a' target="_blank" class='listing-group__item'>
                                <h3>Mission Bio closes $10M Series A</h3>
                                <span>read</span>
                            </a>
                            <a href='https://timmermanreport.com/2017/10/vc-briefs-geminis-42m-precision-dry-eye-mission-bios-10m-single-cell-analysis/' target="_blank" class='listing-group__item'>
                                <h3>VC Briefs: Mission Bio’s $10M for Single Cell Analysis</h3>
                                <span>read</span>
                            </a>
                            <a href='http://www.xconomy.com/san-francisco/2017/10/17/from-ucsf-new-sequencer-reveals-cancer-blueprint-cell-by-cell/' target="_blank" class='listing-group__item'>
                                <h3>From UCSF, New Sequencer Reveals Cancer Blueprints, Cell By Cell</h3>
                                <span>read</span>
                            </a>
                            <a href='https://www.bizjournals.com/sanjose/news/2017/10/25/the-funded-15-bay-area-startups-rake-in-nearly.html?ana=e_sjo_tf&s=newsletter&ed=2017-10-25&u=3GCNSZKFEr94soapeXIlhw0328ddbf&t=1508958827&j=79055581' target="_blank" class='listing-group__item'>
                                <h3>The Funded: 15 Bay Area startups rake in nearly $463M in midweek deals</h3>
                                <span>read</span>
                            </a>
                        </div>
                    </article>
                    <article class="content-container">
                        <h2 class="color-blue title-2">EVENTS</h2>
                        <div class='listing-group blue-line'>
                            <a href='american-society-of-hematology-atlanta-ga.html' class='listing-group__item'>
                                <h3>American Society of Hematology (ASH) - Atlanta, GA</h3>
                                <span>read</span>
                            </a> 
                        </div>
                    </article>
                </div>
            </div> 
        </div>
    </section>

   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}