{% set title = 'Precision Medicine meets Single-Cell DNA Analysis with Mission Bio' %}
{% set description = 'Company closes Series A and launches Tapestri&trade; to accelerate the discovery, development and delivery of precision medicine.' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12"> 
                  <article class="content-container">
                    <h2>Precision Medicine meets Single-Cell DNA Analysis with Mission Bio</h2>
                    <p><i>Company closes Series A and launches Tapestri<sup>&trade;</sup> to accelerate the discovery, development and delivery of precision medicine.</i></p>
                    <p><b>ORLANDO, Fla. and SOUTH SAN FRANCISCO, Calif.—October 17, 2017—Mission Bio,</b> Inc., a pioneer in single-cell DNA analysis, today announced it has secured $10 million in Series A funding. Silicon Valley venture capital firm Mayfield Fund led the round. The financing supports the launch of the Tapestri platform, a precision genomics platform to support the discovery, development and delivery of precision medicine. The Tapestri platform leverages proprietary droplet microfluidics to provide unmatched single-cell DNA analysis and throughput, enabling detection of genomic variability within and across cell populations. The platform includes an instrument, consumables and software, and is being showcased at the 2017 American Society for Human Genetics Annual Meeting (ASHG 2017). The company and early access customers from MD Anderson Cancer Center and Stanford University School of Medicine will be presenting at the meeting.</p>
                    <p>"We are excited to partner with Charlie, Adam and the Mission Bio team. We believe their technology and expertise will play a transformative role in delivering on the promise of precision medicine," said Ursheet Parikh of Mayfield Fund. “With their unique approach combining precision engineering with cutting-edge biochemistry, we see the opportunity to greatly impact the economics and success of the development and clinical use of precision therapies.”</p>
                    <p>Mission Bio addresses the shortcomings of current technologies with the Tapestri platform, a scalable, highly sensitive and customizable precision genomics platform. With throughput up to 10,000 cells and DNA accessibility at the single-cell level, researchers and clinicians can now identify with unprecedented scale and sensitivity the important differences among cells within a patient sample that may impact disease progression and treatment.</p>
                    <p>“Delivering the right medicine to every diseased cell in a patient requires an understanding of the complex cell-to-cell variations that drive disease,” said Charlie Silver, CEO of Mission Bio. “We believe that Tapestri’s novel capability for scalable single-cell DNA analysis will enable the development and delivery of precision medicine based on the unique genomic profile of each patient. With Mayfield’s track record of supporting next-generation technology to lead industry trends, we feel uniquely positioned to build a company that will help move precision medicine forward.”</p>
                    <p>The conventional approach to measuring cellular mutations and heterogeneity for complex disease is bulk sequencing based on an average readout of mutations across cell populations. But averages miss the underlying genetic diversity within samples, including co-occurrence and mutational patterns at the single-cell level. To better understand and treat complex diseases like cancer, researchers need to be able to discover the true diversity that exists from cell to cell, or between groups of cells within a patient sample.</p>
                    <p>Mission Bio’s first application in acute myeloid leukemia (AML), shipping in December 2017, has already demonstrated the potential to apply this novel technology to gain clinically relevant insights with early access customers.</p>
                    <p>“In studying leukemias, we are excited about now having the ability to genotype multiple mutations at single-cell resolution in this level of high throughput,” said Koichi Takahashi, M.D., Assistant Professor, MD Anderson Cancer Center. “Otherwise, the average readout from bulk sequencing misses these important insights in cellular heterogeneity. This new capability of single-cell analysis is critical to better understanding precision therapy selection at diagnosis as well as disease monitoring and subsequent treatment strategy.”</p>
                    <p>With the Series A investment and launch of the Tapestri platform, Mission Bio also begins its Custom Panel Grant Program which will provide researchers a grant to build a custom panel on the Tapestri platform and collaborate with Mission Bio for single-cell mutational profiling. The grant program will remain open until December 31, 2017, and two winners will be announced in January 2018. The company will begin accepting custom panel orders in the first half of 2018.</p>
                    <p>Mission Bio’s precision genomics platform is based on the work Adam Abate, Ph.D., from the University of California, San Francisco (UCSF). Abate has received global recognition for his research and was the only recipient of a grant from the Chan-Zuckerberg Foundation for single-cell research. Mission Bio has secured grants from the U.S. National Institutes of Health (NIH) and U.S. National Science Foundation (NSF) and was the winner of the QB3@953 Amgen Golden Ticket Award and CYTO Innovation Award in 2016. In addition to Mayfield, other investors include Life Science Angels, Stanford-StartX Fund, Tech Coast Angels and Keiretsu Forum.</p>
                    <p>Mission Bio is debuting the Tapestri platform at ASHG 2017, being held this week at the Orange County Convention Center, South Building, in Orlando, Fla. The company booth location is #1045 and Tapestri will be featured in a poster presentation by Mission Bio Chief Scientific Officer, Dennis Eastburn, on Wednesday, October 18. Mission Bio will also host a workshop on October 20 at 1:00 p.m. at the Hilton Hotel, Lake Highland Room, Lobby Level, featuring data from Tapestri early adopters Koichi Takahashi, M.D., from MD Anderson Cancer Center and Liwen Xu, Ph.D., from Stanford University School of Medicine.  Images and video with more details on Mission Bio and the Tapestri platform are available on the company’s website.</p>
                    <h3>About Mission Bio, Inc.</h3>
                    <p>The Mission Bio Tapestri platform provides researchers a precision genomics platform to support the discovery, development and delivery of precision medicine. Our proprietary droplet microfluidics platform enables scalable detection of genomic variability with access to DNA at the single-cell level. The Tapestri platform includes our instrument, consumables and software, which plug seamlessly into existing NGS workflows. With Mission Bio, researchers have a highly sensitive and customizable solution that is fully supported to enable meaningful discoveries.</p>
                    <p>
                        <b>Media Contact:</b><br>
                        Andrea Vuturo<br>
                    <a href="mailto:andrea@vuturo.com">andrea@vuturo.com</a><br>
                    (415) 689-8414
                    </p>
                    <p>
                        <b>Mission Bio:</b><br>
                        Rebecca Galler<br>
                        Senior Vice President, Marketing<br>
                        <a href="mailto:galler@missionbio.com">galler@missionbio.com</a><br>
                        (303) 887-7658
                    </p>
                </article>
               </div>
            </div>
         </div>
      </section>

   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}