{% set title = 'Precision Medicine World Conference 2018 (PMWC) - Silicon Valley, CA' %}
{% set description = 'Disruptive Approaches and Technologies in Personalized Medicine' %}

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <article class="content-container">
                    <h2>Precision Medicine World Conference 2018 (PMWC) - Silicon Valley, CA</h2>
                    <span>January 22, Track 1</span>
                    <p> Session: Disruptive Approaches and Technologies in Personalized Medicine<br>
                        2:00 - 2:15 PM<br>
                        Charlie Silver, CEO
                    </p>
                    <div class="button-container">
                        <a href='http://www.pmwcintl.com/2017sv/' class="button" target="_blank">LEARN MORE</a>
                    </div>
                </article>
               </div>
            </div>
         </div>
      </section>

   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}

