
{% set title = 'Mission Bio Privacy Policy' %}
{% set description = 'Mission Bio website privacy policy document.' %} 

{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 

      <section class="section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                    <article class="content-container">
                        <h2>Privacy Policy</h2>
                        <p>In order to receive information about your Personal Data, the purposes and the parties the Data is shared with, contact the Owner.</p>
                        <h3>Data Controller and Owner</h3>
                        <p>Mission Bio -6000 Shoreline Ct, Suite 104. South San Francisco, CA 94080<br>
                            Owner contact email: <a href="mailto:info@missionbio.com">info@missionbio.com</a>
                        </p>
                        <h3>Types of Data collected</h3>
                        <p>The owner does not provide a list of Personal Data types collected. Complete details on each type of Personal Data collected are provided in the dedicated sections of this privacy policy or by specific explanation texts displayed prior to the Data collection. The Personal Data may be freely provided by the User, or, in case of Usage Data, collected automatically when using this Application.</p>
                        <p>All Data requested by this Application is mandatory and failure to provide this Data may make it impossible for this Application to provide its services. In cases where this Application specifically states that some Data is not mandatory, Users are free not to communicate this Data without any consequences on the availability or the functioning of the service.</p>
                        <p>Users who are uncertain about which Personal Data is mandatory are welcome to contact the Owner. Any use of Cookies – or of other tracking tools – by this Application or by the owners of third party services used by this Application serves the purpose of providing the service required by the User, in addition to any other purposes described in the present document and in the Cookie Policy, if available.</p>
                        <p>Users are responsible for any third party Personal Data obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.</p>
                        <h3>Mode and place of processing the Data</h3>
                        <p><b>Methods of processing</b><br> The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data. The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.</p>
                        <p><b>Place</b><br>The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p>
                        <p><b>Retention time</b><br> The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.</p>
                        <h3>Additional information about Data collection and processing</h3>
                        <p><b>Legal action</b><br>The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.
                            The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.</p>
                        <p><b>Additional information about User's Personal Data</b><br>In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.</p>
                        <p><b>System logs and maintenance</b>For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System logs) or use for this purpose other Personal Data (such as IP Address).</p>
                        <p><b>Information not contained in this policy</b>More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.</p>
                        <p><b>The rights of Users</b><br>Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.
                            <br>This Application does not support “Do Not Track” requests.
                            <br>To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.</p>
                        <p><b>Changes to this privacy policy</b><br>The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller remove the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.</p>
                        <p><b>Information about this privacy policy</b><br>The Data Controller is responsible for this privacy policy, prepared starting from the modules provided by Iubenda and hosted on Iubenda's servers.</p>
                        <p><b>Definitions and legal references</b><br>
                            Latest update: October 11, 2017
                        </p>
                    </article>
               </div>
            </div>
         </div>
      </section>

   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}