{% set title = 'Mission Bio Team' %}
{% set description = "Meet our team. Together, we're moving precision medicine forward." %}
{% extends "./layouts/default.html" %}
{% block content %}
<div class="main-body">
   {% include "partials/header.html" %} 
   <div class="main-content">
      <section class='section invert-text secondary-hero' style=" background: url(assets/img/pages/team/team-banner.jpg); background-position: center center;">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-10 col-sm-offset-1 text-center-lg">
                  <article class="content-container-lg">
                     <h2 class='color-blue'>MISSION BIO MANAGEMENT</h2>
                     <h3>Together, we’re moving precision medicine forward.</h3>
                  </article>
               </div>
            </div>
         </div>
      </section>
      <section class='section bg-grey'>
         <div class="container-fluid">
            <div class="row">
                <div class='col-sm-12 content-container'>
                    <div class='row'>
                       <a href="https://www.linkedin.com/in/charlessilver/" target='_blank' class=" col-xs-12 col-sm-6 col-md-4 team_member">
                          <div>
                             <img src="assets/img/pages/team/charlie-silver.jpg" alt="Charlie Silver">
                          </div>
                          <div>
                             <h4>Charlie Silver</h4>
                             <p>Co-Founder and CEO</p>
                             <span class="fa fa-linkedin"></span>
                          </div>
                       </a>
                       <a href="https://www.linkedin.com/in/dennis-eastburn-missionbio/" target='_blank' class=" col-xs-12 col-sm-6 col-md-4 team_member">
                          <div>
                             <img src="assets/img/pages/team/dennis-eastburn.jpg" alt="Dennis Eastburn, Ph.D.">
                          </div>
                          <div>
                             <h4>Dennis Eastburn, PhD</h4>
                             <p>Co-Founder and CSO</p>
                             <span class="fa fa-linkedin"></span>
                          </div>
                       </a>
                       <a href="https://www.linkedin.com/in/keithjones7/" target='_blank' class=" col-xs-12 col-sm-6 col-md-4 team_member">
                          <div>
                             <img src="assets/img/pages/team/keith-w-jones.jpg" alt="Keith W. Jones, Ph.D.">
                          </div>
                          <div>
                             <h4>Keith W. Jones, PhD</h4>
                             <p>Senior Vice President of Product Development</p>
                             <span class="fa fa-linkedin"></span>
                          </div>
                       </a>
                       <a href="https://www.linkedin.com/in/pat-brooks-098ba816/" target='_blank'  class=" col-xs-12 col-sm-6 col-md-4 team_member">
                          <div>
                             <img src="assets/img/pages/team/Pat-Brooks.jpg" alt="Pat Brooks">
                          </div>
                          <div>
                             <h4>Pat Brooks</h4>
                             <p>Senior Vice President of Sales and Sales Operations</p>
                             <span class="fa fa-linkedin"></span>
                          </div>
                       </a>
                       <a href="https://www.linkedin.com/in/rebecca-m-galler-7583924/?trk=public-profile-join-page" target='_blank'  class=" col-xs-12 col-sm-6 col-md-4 team_member">
                          <div>
                             <img src="assets/img/pages/team/Rebecca-Galler.jpg" alt="Rebecca Galler">
                          </div>
                          <div>
                             <h4>Rebecca M. Galler</h4>
                             <p>Senior Vice President of Marketing</p>
                             <span class="fa fa-linkedin"></span>
                          </div>
                       </a>
                        <a href="https://www.linkedin.com/in/adam-sciambi-47a2b380/" target="_blank" class="col-xs-12 col-sm-6 col-md-4 team_member">
                            <div>
                                <img src="assets/img/pages/team/adam-sciambi.jpg" alt="Adam Sciambi, Ph.D.">
                            </div>
                            <div>
                                <h4>Adam Sciambi, PhD</h4>
                                <p>Co-Founder and Director of Engineering</p>
                                <span class="fa fa-linkedin"></span>
                            </div>
                        </a>
                       <a href="https://www.linkedin.com/in/anuprparikh/" target='_blank'  class=" col-xs-12 col-sm-6 col-md-4 team_member">
                          <div>
                             <img src="assets/img/pages/team/Anup-Parikh.jpg" alt="Anup Parikh">
                          </div>
                          <div>
                             <h4>Anup Parikh</h4>
                             <p>Senior Director of Software Strategy</p>
                             <span class="fa fa-linkedin"></span>
                          </div>
                       </a>
                       <a href="https://www.linkedin.com/in/hannahviernes/" target='_blank' class=" col-xs-12 col-sm-6 col-md-4 team_member">
                          <div>
                             <img src="assets/img/pages/team/hannah-viernes.jpg" alt="Hannah Viernes">
                          </div>
                          <div>
                             <h4>Hannah Viernes</h4>
                             <p>Senior Director of Product Marketing</p>
                             <span class="fa fa-linkedin"></span>
                          </div>
                       </a>
                    </div>
                    <div class='row text-center'>
                        <h3>Board of Directors</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <h4>Charlie Silver</h4>
                            <p></p>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <h4>Ursheet Parikh</h4>
                            <p></p>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <h4>Adam Abate, PhD</h4>
                            <p></p>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <h4>Paul Billings, MD, PhD</h4>
                            <p></p>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <h4>Bill Hyun, PhD</h4>
                            <p></p>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <h4>Maneesh Jain, PhD</h4>
                            <p></p>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <h4>Brock Siegel, PhD</h4>
                            <p></p>
                         </div>
                    </div>
                 </div>
            </div>
         </div>
      </section>
   </div>
   {% include "partials/footer.html" %} 
</div>
{% endblock %}