$form-input-bg: transparent;

.contact-form {
  margin: 30px 0 20px;
}

form {
  position: relative;
  .button {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .button--dark {
    color: $default-text;
    &:hover {
      color: $default-text;
    }
  }
  .button-container {
    margin: 40px 0 20px;
  }
}
.form-item {
  margin-bottom: 10px;
  margin-top: 15px;
  label {
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    transition: 0.25s ease;
    will-change: left bottom;
    z-index: 0;
    cursor: pointer;
  }
  &.raise-label {
    label {
      left: 15px;
      bottom: initial;
      top: -14px;
      transform: translateX(0);
      font-size: 12px;
    }
  }
}
.form-group {
  margin-bottom: 0px;
}
label {
  // font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 10px;
  position: relative;
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.form-control {
  height: 36px;
  padding: 6px 0px;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  color: #fff;
  background: $form-input-bg;
  text-indent: 0;
  border: none;
  border-bottom: 1px solid $grey;
  -webkit-appearance: none;
  z-index: 2;
  &:focus {
    border-color: $blue;
    outline: initial;
    box-shadow: none;
  }
}
.text-box {
  border-radius: 20px;
  border: 1px solid;
  width: 100%;
  padding: 0 10px 0 0;
  background: $white;
  textarea.form-control {
    padding: 8px 20px;
  }
}
textarea.form-control {
  border: initial;
  border-bottom: 1px solid $grey;
  resize: none;
  background: $form-input-bg;
  padding: 8px 0;
  height: 36px;
}

.input-error {
  border-color: $red !important;
}

.error {
  display: inline-block;
  color: $red;
  font-size: 12px;
  margin-top: 5px;
}


@media (max-width: $screen-sm) {
  // label {
  //   margin-bottom: 5px;
  //   font-size: 15px;
  // }
  .form-control {
    height: 34px;
    padding: 6px 6px;
  }
  .form-item {
    &.raise-label {
      label {
        font-size: 10px;
      }
    }
  }
}

/* honeypot ***********************************************************************/

.honeypot {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0px solid transparent;
  position: absolute;
  right: 10000;
}
