.full-screen-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-color: #fff;
    transition: opacity 0.25s ease 0.4s, transform 0.25s ease;
    backface-visibility: hidden;
    &::after,&::before {
        display: inline-block;
        width: 7px;
        height: 7px;
        content: '';
        border-color: #fff;
        position: absolute;
    }
    &::after {
        left: 0;
        top: 0;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
    }
    &::before {
        right: 0;
        top: 0;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    div {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        &::after,&::before {
            display: inline-block;
            width: 7px;
            height: 7px;
            content: '';
            border-color: #fff;
            position: absolute;
        }
        &::after {
            left: 0;
            bottom: 0;
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
        }
        &::before {
            right: 0;
            bottom: 0;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
        }
    }
}