.outdated-browser {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $white;
  z-index: 10000000;
  text-align: center;
  .outdated_header {
    background: #FFF;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 65px;
    position: relative;
  }
  h2 {
    color: $default-text;
  }
  h3 {

  }
  h4 {
    font-size: 14px;
    margin: 20px auto;
    font-weight: 400;
  }
  p {
    max-width: 500px;
    margin: 20px auto;
  }
  img {
    display: inline-block;
    width: 150px;
    height: auto;
    padding: 10px;
    margin: 0 auto;

  }
  .ie-button {
    display: inline-block;
    padding: 6px 20px;
    color: $white;
    font-size: 16px;
    background: $blue;
    &:hover {
      background: darken($blue, 7%);
    }
  }
  sup {
    font-size: 50%;
    left: initial;
    margin-right: 0;
    position: initial;
    vertical-align: super;
  }
}

.is-lte-ie8 {
  .outdated-browser {
    display: block;
  }
}