.parallax-container, {
    overflow: hidden;
    position: relative;
}

.inner-parallax-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.parallax-bg {
    background-size: cover !important;
    position: absolute;
    width: 100%;
    top: 0%;
    right: 0; 
    bottom: -20%;
    will-change: transform;
    @media (max-width: 1024px) {
        transform: translate(0, -10%) !important;
    }
}