.round-icon {
    display: inline-block;
    border-radius: 50%;
    background: $red; 
    width: 90px;
    height: 90px;
    transition: background 0.25s ease;
    position: relative;
    // &:hover {
    //     background: darken($red, 10%);
    // }
    .icon-dots {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transition: transform 0.25s ease;
        &::after,
        &::before {
            border-radius: 50%;
            background: $blue;
            display: inline-block;
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            top: calc(50% - 3px);
        }
        &::before {
            right: calc(100% + 4px);
        }
        &::after {
            left: calc(100% + 4px);
        }
    }
}

.triggered {
    .icon-dots {
        transform: rotate(-90deg);
    }
}