div.data-set-accordion {

    ul.accordion-items {

        list-style: none;
        margin: 0;
        padding: 0;


        li.accordion-item {
            border: 1px solid #efefef;
            border-radius: 20px;
            box-shadow: $box__shadow;
            margin-bottom: 20px;
            transition: box-shadow 0.5s;

            &:hover {
                box-shadow: $box__shadow_hover;
                cursor: pointer;

                div.accordion-title span.accordion-icon.plus svg path {
                    fill: $color__blue;
                }
            }


            div.accordion-title {
                background-color: white;
                border-radius: 20px;
                color: $color__text;
                font-size: 18px;
                padding: 3% 5%;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span.hidden {
                    display: none;
                }

                span.accordion-icon.plus svg,
                span.accordion-icon.minus svg {
                    max-width: 50px;

                    & path {
                        fill: $color__text;
                        transition: fill 0.5s;
                    }
                }
            }

            div.accordion-content {
                background-color: #efefef;
                border-radius: 0 0 20px 20px;
                box-shadow: $box__shadow;
                padding: 5%;
                transition: display .5s ease;

                &.hidden {
                    display: none;
                }

                p.item-cta {
                    color: $color__blue;
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 0;
                    text-transform: uppercase;

                    svg {
                        max-width: 15px;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}
