div.blue-arrow-link-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: $box__shadow;
    padding: 10%;

}

ul.blue-arrow-link-list {
    @media (max-width: 550px) {
        font-size: 18px;
        margin: 20px 0;
    }

    font-size: 18px;
    list-style: none;
    margin-bottom: 30px;
    margin-top: 0;
    padding-left: 0;

    li {

        margin: 20px 0;

        svg {
            max-width: 14px;
            margin-bottom: 3px;
            margin-left: 10px;
        }
    }
}
