.button-container,
.gform_wrapper {

    @media (max-width: 550px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    display: block;
    flex-wrap: wrap;
    // justify-content: flex-start;
    padding-top: 5px;
    text-align: center;

    & > div {
        float: left;
        margin: 0 20px 20px 0;
        min-height: 40px;
    }

    a.button,
    input[type="submit"].gform_button.button {
        background: white;
        border-radius: 5px;
        color: $color__red;
        font-family: $font_family;
        font-size: 16px;
        height: 30px;
        letter-spacing: 1.25px;
        padding: 10px 25px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        top: 3px;

        &:hover,
        &:active,
        &:focus {
            // background: $color__red;
            // color: white;
            text-decoration: none;
            cursor: pointer;
        }

        &.shadow {
            box-shadow: $box__shadow;
            transition: box-shadow 0.5s ease, top 0.5s ease;
        }

        &.shadow:hover {
            box-shadow: $box__shadow_hover;
            top: 0;
        }

        & span.play-svg {
            margin: 0 15px;

            svg {
                margin-top: -3px;
            }
        }
    }

    input[type="submit"].gform_button.button {
        box-shadow: $box__shadow;
        padding: 6px 25px;
        transition: all 0.5s ease;

        &:hover {
            box-shadow: $box__shadow_hover;
            top: 0;
        }

    }

    a.red-button {
        background: $color__red;
        color: white;
        transition: background 0.5s ease, color 0.5s ease;

        &:hover {
            // background: white;
            // color: $color__red;
        }
    }

    a.blue-button,
    input[type="submit"].gform_button.button {
        background: $color__blue;
        color: white;
        transition: all 0.5s ease;

        &:hover {
            // background: white;
            // color: $color__blue;
        }
    }

    div.play-button-container {
        align-items: center;
        background-color: rgba(255,255,255,.5);
        border-radius: 100%;
        color: $color__red;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 5px;
        text-align: center;
        height: 85px;
        width: 85px;
    }
}
