section#flexible-content-page {

    div.full-width-layout {
        margin-bottom: 5%;

        .button-container {
            margin: 20px 0;
            min-height: 60px;
        }
    }

    div.three-column-layout.columns {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 5%;

        div.column {
            @media (max-width: 550px) {
                max-width: 80%;
            }
            margin: 30px 0;
            max-width: 30%;
        }
    }
}
