section.page-header-hero {
    @media (max-width: 550px) {
        padding: 0 5%;
    }

    align-items: center;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 10%;

    & > div {
        @media (max-width: 650px) {
            min-height: auto;
            width: 100%;
        }
        // min-height: 90vh;
        width: 75%;
    }

    div.hero-image {

        @media (max-width: 550px) {
            margin-top: 0;
            // min-height: 40vh;
            min-height: 0;
            padding: 0;
        }
        align-items: center;
        background-size: contain;
        // display: flex;
        display: none;
        justify-content: flex-start;
        // justify-content: center;
        padding: 0;
        position: relative;

        img {
            @media (max-width: 650px) {
                left: 0;
            }
            left: -20px;
            position: relative;
        }

    }

    div.hero-content {
        @media (min-width: 550px) {
            min-height: 400px;
        }

        @media (max-width: 650px) {
            padding: 10% 10% 0;
            padding-top: 50px;
        }

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5%;

        h1 {
            color: $color__text;
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 36px;
            font-weight: 500;
            margin-top: 0;
            text-transform: capitalize;
        }

        h5 {
            font-size: 24px;
            font-weight: 300;
            margin-top: 0;
            text-transform: none;
        }

        p {
            font-size: 18px;
            font-weight: 400;
        }


        div.button-container {
            @media (max-width: 650px) {
                text-align: center;
            }
            text-align: left;

            // .button {
            // 	box-shadow: $box__shadow_wide;
            //
            // 	&:hover {
            // 		box-shadow: $box__shadow_wide_hover;
            // 	}
            // }
        }
    }
}
