div.testimonial-item {
    @media (max-width: 650px) {
        box-shadow: $box__shadow;
        flex-direction: column;
        max-width: 80%;
    }

    border-radius: 20px;
    box-shadow: $box__shadow_wide;
    display: flex;
    margin: 20px auto;
    max-width: 90%;
    min-height: 250px;
    position: relative;

    div.testimonial-quote-icon-div {
        @media (max-width: 650px) {
            border-radius: 20px 20px 50% 50%;
            padding: 10%;
            flex-direction: column;
            justify-content: center;
            min-width: 50px;
        }

        align-items: center;
        background-color: $color__red;
        border-radius: 20px 50% 50% 20px;
        display: flex;
        min-height: 100%;
        min-width: 240px;

        svg {
            @media (max-width: 650px) {
                margin-left: 0;
                max-width: 35px;
            }

            margin-left: 20%;
            fill: white;
        }
    }

    div.testimonial-quote-div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 5% 10%;

        p {
            color: $color__textgrey;
        }

        h4 {
            font-size: 18px;
            font-weight: 700;
            margin-top: 15px;
            text-transform: uppercase;
        }

        div.image-holder {
            max-width: 200px;
        }
    }
}
