div.red-bullet-list-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: $box__shadow;
    padding: 10%;

    h3 {
        font-size: 18px;
    }
}

ul.red-check-bullet-list {
    @media (max-width: 550px) {
        font-size: 18px;
        margin: 20px 0;
    }

    font-size: 18px;
    list-style: none;
    margin-bottom: 30px;
    margin-top: 0;
    padding-left: 30px;

    li {
        margin: 20px 0;
        position: relative;


        svg {
            left: -30px;
            margin-bottom: 5px;
            margin-right: 10px;
            position: absolute;
            top: 1px;
        }
    }
}
