.header-social {
    display: inline-block;
    position: absolute;
    right: -55px;
    top: 100%;
    > a {
        border-radius: 50%;
        background: #fff;
        display: block;
        margin-bottom: 10px;
        margin: 0 auto 10px;
        padding: 5px;
        width: 30px;
        height: 30px;
        color: $red;
        position: relative;
        &:hover {
            color: $blue;
        }
        i {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
        }
    }
}

@media (max-width: $header-breakpoint){ 

    .header-social {
        display: block;
        position: static;
        right: initial;
        top: initial;
        margin-top: 30px;
        text-align: center;
        a {
            display: inline-block;
            margin: 0 8px;
            &:hover {
                color: $blue;
            }
            i {
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
            }
        }
    }
}