/* base header styles **************************************************************
************************************************************************************/
//mobile breakpoint
$header-breakpoint: 1025px;
//bg-colors
$header-bg: rgba(0,0,0,0.6);
$mobile-nav-bg: $blue;
$sub-nav-bg: #bbb;
$sub2-nav-bg: lighten($sub-nav-bg, 2%);
$toggle-color: #fff;
//font size and colors
$ment-text-size: 16px;
$menu-text-color: #fff;
$active-menu-text: #000;
//transitions
$header-hover: 0.3s linear;

@media(min-width: $header-breakpoint+1){
	.header-placeholder {
		height: 85px;
	}
	.header {
		background: transparent;
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 1000;
		.header-bg {
			display: none;
		}
		.header-content {
			width: 100%;
			height: 85px;
			position: relative;
			&::before {
				content: url(../img/inner-corner.svg);
				display: inline-block;
				width: 42px;
				height: 42px;
				position: absolute;
				right: 81px;
				top: calc(100% - 4px);
				z-index: 10;
			}
		}
		.nav-container {
			background: $blue;
			height: 85px;
			width: 60%;
			padding-right: 85px;
			position: relative;
			bottom: 0;
			float: right;
			@media(min-width: 1300px) {
				width: 55%;
			}
			@media(min-width: 1440px) {
				width: 50%;
			}
			&::after {
				border-radius:  20px 0 0 0;
				background: $blue;
				padding: 5px;
				content: '';
				position: absolute;
				width: 50px;
				height: 100%;
				top: 0;
				right: calc(100% - 20px);
				transform: skewX(-15deg);
			}
		}
		.header-logo {
			position: absolute;
			width: 150px;
			height: 85px;
			top: 0;
			left: 15px;
			overflow: hidden;
			svg {
				opacity: 0;
            	animation: fadeInLogo 1s ease 1s forwards;				
			}
		}
		.header-bg {
			display: block;
			position: absolute;
			background-size: cover !important;
			background-attachment: fixed !important;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			z-index: 0;
			&::before {
				background: #095773;
				display: block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 0.7;
			}
		}
		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1000;
		}
	}
	.nav-overlay {
		display: none;
	}

	.home-template {
		.header {
			position: absolute;
			.header-logo {
				display: inline-block;
				width: 150px;
				height: 123px;
				color: #fff;
				position: fixed;
				top: 0 !important;
				left: 15px;
				will-change: left;
			}
			.header-bg {
				display: none;
			}
			&.fixed {
				position: fixed;
				transform: translate(0);
				.header-logo {
					// height: 85px;
					opacity: 1 !important;
				}
				.header-bg {
					display: block;;
				}
			}
		}
	}
}

@keyframes fadeInLogo {
	from {opacity: 0;}
	to {opacity: 1;}
}
@media(max-width: $header-breakpoint){
	.home-template {
		.header {
			position: fixed;
			.header-bg {
				display: none;
			}
			.header-logo {
				transform: initial !important;
				svg {
					width: 100%;
					height: 70px;
				}
			}
			&.fixed {
				position: fixed;
				.header-logo {
					transform: initial !important;
				}
			}
		}
		// .header-placeholder {
		// 	height: 0px;
		// }
	}

	.header-placeholder {
		height: 50px;
	}

	.header {
		background: #fff;
		box-shadow: 0 0 5px 0px #999;
		height: 50px;
		// background: transparent;
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 1000;
		&.fixed {
			position: fixed;
			top: 0;
			left: 0; 
			right: 0;
			z-index: 10000;
			.header-logo {
				position: absolute;
				top: 0;
				left: 15px;
				overflow: hidden;
			}
			.header-bg {
				display: none;
				position: absolute;
				background-size: cover !important;
				background-attachment: fixed !important;
				// background-position: bottom center !important;
				right: 0;
				left: 0;
				top: 0;
				bottom: 0;
				z-index: 0;
				&::before {
					background: #fff;
					display: block;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					opacity: 0.8;
				}
			}
		}
		.header-bg {
			display: block;
			position: absolute;
			background-size: cover !important;
			background-attachment: fixed !important;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			z-index: 0;
			&::before {
				background: #fff;
				display: block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 0.8;
			}
		}
		.header-content {
			width: 100%;
			height: 100%;
			padding: 0;
			position: relative;
			&::before {
				display: none;
				// content: url(../img/inner-corner.svg);
				// display: inline-block;
				// width: 36px;
				// height: 36px;
				// position: absolute;
				// right: 0px;
				// top: 100%;
				// z-index: 10;
			}
		}
		.nav-container {
			background: $blue;
			height: 50px;
			width: 55%;
			padding-right: 85px;
			position: relative;
			bottom: 0;
			float: right;
			&::after {
				border-radius:  20px 0 0 0;
				background: $blue;
				padding: 5px;
				content: '';
				position: absolute;
				width: 50px;
				height: 100%;
				top: 0;
				right: calc(100% - 20px);
				transform: skewX(-15deg);
			}
		}
		.header-logo {
			display: inline-block;
			width: 85px;
			position: absolute;
			top: 0;
			height: 50px;
			left: 15px !important;
			overflow: hidden;
		}
	}
	.menu-active {
		// overflow: hidden;
	}
	.nav-overlay {
		background: #fff;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: opacity 0.25s linear;
	}
	.active-overlay {
		.nav-overlay {
			opacity: 0.7;
		}
	}
}