.offset-icon-section {
    .top-bg {
        @extend .invert-text;
        min-height: 350px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        position: relative;
    }
}