$desktop-spaceing: 60px;
$tablet-spacing: 50px;
$mobile-spacing: 40px;

.section {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: #fff;
    display: block;
    width: 100%;
    position: relative;
    &::after {
        display: block;
        content: '';
        background-color: inherit;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 40px;
        z-index: 0;
    }
    &:last-of-type {
        &::after {
            display: none;
        }
    }
    &.bg-grey {
        background: $grey-bg;
    }
    &.bg-blue-dark {
        @extend .invert-text;
        background: $blue-dark;
    }
    &.round-corner {
        border-radius: 0 40px 0 0;
    }
    .content-container {
        margin-top: $desktop-spaceing;
        margin-bottom: $desktop-spaceing;
    }
    .content-container-lg {
        margin-top: $desktop-spaceing + 40px;
        margin-bottom: $desktop-spaceing + 40px;
    }
    .top-content {
        margin-bottom: 40px;
    }
    .bottom-content {
        margin-top: 40px;
    }
}

.id-marker {
    position: absolute;
    top: -85px;
    right: -1000px;
}

.top-bg {
   
}

.bg-section {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.overflow-content {
    margin-bottom: -80px;
    position: relative;
    z-index: 10;
}

@media (max-width: $screen-md){
    .section {
        .content-container {
            margin-top: $tablet-spacing;
            margin-bottom: $tablet-spacing;
        }
        .content-container-lg {
            margin-top: $tablet-spacing + 40px;
            margin-bottom: $tablet-spacing + 40px;
        }
        .top-content {
            margin-bottom: 30px;
        }
        .bottom-content {
            margin-top: 30px;
        }
    }
}

@media (max-width: $screen-sm){
    .section {
        .content-container {
            margin-top: $mobile-spacing;
            margin-bottom: $mobile-spacing;
        }
        .content-container-lg {
            margin-top: $mobile-spacing  + 40px;
            margin-bottom: $mobile-spacing  + 40px;
        }
        // .top-content {
        //     margin-bottom: 20px;
        // }
        // .bottom-content {
        //     margin-top: 20px;
        // }
    }
    .top-bg {
        min-height: 300px;
    }
    .overflow-content {
        margin-bottom: 20px; 
    }
}