.tapestri {
    .top-bg {
        min-height: 650px;
        @extend .invert-text;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        position: relative;
        @media (max-width: 1920px) {
            min-height: 500px;
        }
        @media (max-width: 1440px) {
            min-height: 400px;
        }
        @media (max-width: 768px) {
            min-height: 350px;
        }
        @media (max-width: 500px) {
            min-height: 350px;
        }
    }
    .red-title {
        display: block;
        width: 100%;
        margin: 0;
        color: $red;
        font-size: 90px;
        font-weight: 400;
        @media (max-width: 1000px) {
            font-size: 70px;
            margin-bottom: -14px;
        }
        @media (max-width: 768px) {
            font-size: 50px;
            margin-bottom: -10px;
        }
        @media (max-width: 500px) {
            font-size: 30px;
            margin-bottom: -5px;
        }
    }
}