.team_member {
    display: inline-block;
    margin-bottom: 40px;
    @media(min-width: 992px){
        &:nth-child(3n+4){
            clear: both; 
        }
    }
    @media(max-width: 991px){
        &:nth-child(2n+1){
            clear: both;  
        }
    }
   
    h4 {
        color: $blue;
        margin-bottom: 0px;
    }
    p {
        color: $default-text;
        font-size: 14px;
        margin-bottom: 0px;
    }

    .fa-linkedin {
        color: $blue;
        transition: color 0.25s ease;
    }
    &:hover {
        .fa-linkedin {
            color: $red;
        }
    }
}