<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 131 72.6" style="enable-background:new 0 0 131 72.6;" xml:space="preserve">
<style type="text/css">
	.fill-white{fill:#FFF;}
</style>
<g id="Page-1_1_">
	<g id="Desktop-HD" transform="translate(-636.000000, 0.000000)">
		<g id="Page-1" transform="translate(636.000000, 0.000000)">
			<path id="intro-m-line-1" class="fill-white intro-mb-logo-red" d="M15.7,57H2.9c-2.2,0-3.4-1.8-2.7-4l13.6-40c0.8-2.2,3.2-4,5.4-4H32c2.2,0,3.4,1.8,2.7,4
				L21.2,53C20.4,55.2,18,57,15.7,57"/>
			<path id="intro-m-line-2" class="fill-white intro-mb-logo-red" d="M40.7,57H27.9c-2.2,0-3.4-1.8-2.7-4l13.6-40c0.8-2.2,3.2-4,5.4-4H57
				c2.2,0,3.4,1.8,2.7,4L46.2,53C45.4,55.2,43,57,40.7,57z"/>
			<path id="intro-m-line-3" class="fill-white intro-mb-logo-red" d="M65.7,57H52.9c-2.2,0-3.4-1.8-2.7-4l13.6-40c0.8-2.2,3.2-4,5.4-4H82
				c2.2,0,3.4,1.8,2.7,4L71.2,53C70.4,55.2,68,57,65.7,57"/>
			<path id="intro-h-line-1" class="fill-white intro-mb-logo-blue" d="M85.7,72H72.9c-2.2,0-3.4-1.8-2.7-4L91.9,4c0.7-2.2,3.2-4,5.4-4h12.8
				c2.2,0,3.4,1.8,2.7,4L91.1,68C90.3,70.2,87.9,72,85.7,72"/>
			<g transform="translate(94.000000, 24.000000)">
				<path id="intro-h-line-2" class="fill-white intro-mb-logo-blue" d="M16.9,48.6H3.8c-2.3,0-3.5-1.8-2.7-4L14.9,4.4c0.8-2.2,3.2-4,5.5-4h13.1
					c2.3,0,3.5,1.8,2.7,4L22.4,44.6C21.6,46.8,19.1,48.6,16.9,48.6"/>
			</g>
			<path id="intro-period" class="fill-white intro-mb-logo-red" d="M129,68c0,2.2-1.8,4-4,4s-4-1.8-4-4s1.8-4,4-4S129,65.8,129,68"/>
		</g>
	</g>
</g>
</svg>