<svg id="New_Color_Variations" data-name="New Color Variations" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84.02 68.59">
	<defs>
		<style>
			.cls-1 {
				fill: #ee3b4d;
			}

			.cls-2 {
				fill: #43c4e3;
			}

			.cls-3 {
				fill: #fff; 
			}
		</style>
	</defs>
	<title>MissionBio-Logo_FINAL_corporate_small_2 COLOR_RGB</title>
		<path class="cls-1" d="M26.1,37.49H17.85a1.81,1.81,0,0,1-1.73-2.6l8.76-26a4,4,0,0,1,3.48-2.6h8.25a1.81,1.81,0,0,1,1.73,2.6l-8.76,26A4,4,0,0,1,26.1,37.49Z"
		transform="translate(0)" />
		<path class="cls-1" d="M10.12,37.49H1.87a1.81,1.81,0,0,1-1.73-2.6l8.76-26a4,4,0,0,1,3.48-2.6h8.25a1.81,1.81,0,0,1,1.73,2.6l-8.76,26A4,4,0,0,1,10.12,37.49Z"
		transform="translate(0)" />
		<path class="cls-1" d="M42.3,37.49H34.05a1.81,1.81,0,0,1-1.73-2.6l8.76-26a4,4,0,0,1,3.48-2.6h8.25a1.81,1.81,0,0,1,1.73,2.6l-8.76,26A4,4,0,0,1,42.3,37.49Z"
		transform="translate(0)" />
		<circle class="cls-1" cx="80.11" cy="43.95" r="2.74" />
		<path class="cls-2" d="M55.54,46.69H47.29a1.81,1.81,0,0,1-1.73-2.6l14-41.49A4,4,0,0,1,63.06,0h8.25A1.81,1.81,0,0,1,73,2.6L59,44.09A4,4,0,0,1,55.54,46.69Z"
		transform="translate(0)" />
		<path class="cls-2" d="M71.64,46.69H63.39a1.81,1.81,0,0,1-1.73-2.6l8.76-26a4,4,0,0,1,3.48-2.61h8.25a1.82,1.82,0,0,1,1.73,2.61l-8.76,26A4,4,0,0,1,71.64,46.69Z"
		transform="translate(0)" />
	<g id='logo-text'>
		<path class="cls-3" d="M11.82,63c0-1.72-.85-2.66-2.46-2.66a2.32,2.32,0,0,0-2.51,2.49v5.69H5.91V63c0-1.72-.85-2.66-2.46-2.66A2.35,2.35,0,0,0,.94,63v5.52H0v-8.9H.94v1.05a3.3,3.3,0,0,1,2.64-1.16,3,3,0,0,1,2.86,1.62,3.41,3.41,0,0,1,3-1.62,3.34,3.34,0,0,1,2.35.85,3.29,3.29,0,0,1,.92,2.47v5.69h-.92Z"
		transform="translate(0)" />
		<path class="cls-3" d="M15.77,59.58h.94v8.9h-.94Z" transform="translate(0)" />
		<path class="cls-3" d="M22.58,68.59A4.87,4.87,0,0,1,19,67.31l.64-.64a3.87,3.87,0,0,0,2.92,1.09c1.76,0,2.68-.61,2.68-1.81,0-.94-.52-1.37-1.7-1.5L22,64.32c-1.79-.14-2.67-.92-2.67-2.32s1.25-2.53,3.19-2.53a5.21,5.21,0,0,1,3.12.94l-.63.63a4.09,4.09,0,0,0-2.49-.76c-1.48,0-2.27.61-2.27,1.72,0,.94.55,1.36,1.81,1.49l1.44.13c1.48.15,2.6.59,2.6,2.33S24.78,68.59,22.58,68.59Z"
		transform="translate(0)" />
		<path class="cls-3" d="M31.14,68.59a4.88,4.88,0,0,1-3.6-1.28l.65-.64a3.84,3.84,0,0,0,2.92,1.09c1.75,0,2.67-.61,2.67-1.81,0-.94-.51-1.37-1.69-1.5l-1.48-.13c-1.79-.14-2.68-.92-2.68-2.32s1.26-2.53,3.2-2.53a5.25,5.25,0,0,1,3.12.94l-.63.63a4.13,4.13,0,0,0-2.49-.76c-1.48,0-2.28.61-2.28,1.72,0,.94.56,1.36,1.81,1.49l1.44.13c1.48.15,2.61.59,2.61,2.33S33.34,68.59,31.14,68.59Z"
		transform="translate(0)" />
		<path class="cls-3" d="M37.09,59.58H38v8.9h-.94Z" transform="translate(0)" />
		<path class="cls-3" d="M46.71,67.61a3.62,3.62,0,0,1-5,0A4.89,4.89,0,0,1,40.65,64a4.88,4.88,0,0,1,1.11-3.58,3.62,3.62,0,0,1,5,0A4.88,4.88,0,0,1,47.82,64,4.89,4.89,0,0,1,46.71,67.61Zm-.63-6.56a2.64,2.64,0,0,0-3.69,0,4.15,4.15,0,0,0-.8,3,4.14,4.14,0,0,0,.8,3,2.62,2.62,0,0,0,3.69,0,4.13,4.13,0,0,0,.79-3A4.15,4.15,0,0,0,46.08,61.05Z"
		transform="translate(0)" />
		<path class="cls-3" d="M56.34,63c0-1.72-.85-2.66-2.45-2.66A2.34,2.34,0,0,0,51.38,63v5.52h-.94v-8.9h.94v1.05A3.25,3.25,0,0,1,54,59.47a3.21,3.21,0,0,1,2.36.85,3.29,3.29,0,0,1,.93,2.47v5.69h-.95Z"
		transform="translate(0)" />
		<path class="cls-3" d="M69.52,67.81a3.06,3.06,0,0,1-2.17.78,2.93,2.93,0,0,1-2.64-1.26v1.15h-.95V55.84h.95v4.88a3,3,0,0,1,2.64-1.25,3.06,3.06,0,0,1,2.17.77A5.33,5.33,0,0,1,70.67,64,5.3,5.3,0,0,1,69.52,67.81Zm-2.3-7.51c-2.18,0-2.51,1.88-2.51,3.73s.33,3.73,2.51,3.73,2.51-1.89,2.51-3.73S69.4,60.3,67.22,60.3Z"
		transform="translate(0)" />
		<path class="cls-3" d="M73.29,59.58h.94v8.9h-.94Z" transform="translate(0)" />
		<path class="cls-3" d="M82.91,67.61a3.62,3.62,0,0,1-5,0A4.89,4.89,0,0,1,76.85,64,4.88,4.88,0,0,1,78,60.45a3.62,3.62,0,0,1,5,0A4.88,4.88,0,0,1,84,64,4.89,4.89,0,0,1,82.91,67.61Zm-.63-6.56a2.64,2.64,0,0,0-3.69,0,4.15,4.15,0,0,0-.8,3,4.14,4.14,0,0,0,.8,3,2.62,2.62,0,0,0,3.69,0,4.14,4.14,0,0,0,.8-3A4.15,4.15,0,0,0,82.28,61.05Z"
		transform="translate(0)" />
		<circle class="cls-3" cx="73.76" cy="57.83" r="0.66" />
		<circle class="cls-3" cx="37.56" cy="57.83" r="0.66" />
		<circle class="cls-3" cx="16.24" cy="57.83" r="0.66" />		
	</g>
</svg>